= simple_form_for(@job_experience) do |f|
  = f.error_notification

  .form-inputs
    = f.input :guid
    = f.input :title
    = f.input :company_name
    = f.input :city
    = f.input :country
    = f.input :date_start
    = f.input :date_finish
    = f.input :current_working
    = f.input :description
    = f.input :done
    = f.association :detailbook

  .form-actions
    = f.button :submit
