%h1 Listing job_experiences

%table
  %thead
    %tr
      %th Guid
      %th Title
      %th Company name
      %th City
      %th Country
      %th Date start
      %th Date finish
      %th Current working
      %th Description
      %th Done
      %th Detailbook
      %th
      %th
      %th

  %tbody
    - @job_experiences.each do |job_experience|
      %tr
        %td= job_experience.guid
        %td= job_experience.title
        %td= job_experience.company_name
        %td= job_experience.city
        %td= job_experience.country
        %td= job_experience.date_start
        %td= job_experience.date_finish
        %td= job_experience.current_working
        %td= job_experience.description
        %td= job_experience.done
        %td= job_experience.detailbook
        %td= link_to 'Show', job_experience
        %td= link_to 'Edit', edit_job_experience_path(job_experience)
        %td= link_to 'Destroy', job_experience, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Job experience', new_job_experience_path
