%p#notice= notice

%p
  %b Guid:
  = @job_experience.guid
%p
  %b Title:
  = @job_experience.title
%p
  %b Company name:
  = @job_experience.company_name
%p
  %b City:
  = @job_experience.city
%p
  %b Country:
  = @job_experience.country
%p
  %b Date start:
  = @job_experience.date_start
%p
  %b Date finish:
  = @job_experience.date_finish
%p
  %b Current working:
  = @job_experience.current_working
%p
  %b Description:
  = @job_experience.description
%p
  %b Done:
  = @job_experience.done
%p
  %b Detailbook:
  = @job_experience.detailbook

= link_to 'Edit', edit_job_experience_path(@job_experience)
\|
= link_to 'Back', job_experiences_path
