.panel.panel-default
  .panel-heading
    %h3.panel-title
      = community_post.name
    posted #{time_ago_in_words(community_post.created_at)} ago
  .panel-body
    = community_post.content
    %br/
    - if community_post.picture.url != nil
      = image_tag community_post.picture.url, width: "40%"