= simple_form_for(@community_post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, as: :hidden, input_html: { value: current_user.full_name }
    = f.input :content
    = f.label :picture
    = f.file_field :picture

  .form-actions
    = f.button :submit
