.container.better.m-y-md   
	.row
		/ .col-md-2
		%h2= link_to "Find Universities", find_university_path
		/ .col-md-1{style: "padding-top: 25px;"}
		/ 	= link_to "Books", classifieds_path(type: "boo"), class: "btn btn-default"
		/ .col-md-7{style: "padding-top: 25px;"}
		/ 	= link_to "Accommodations", classifieds_path(type: "acco"), class: "btn btn-default"
		/ .col-md-2.text-center{style: "padding-top: 25px;"}
			  
		/ 	= link_to 'Add New  +', new_classified_path, class: "btn btn-primary"
		.clearfix
		%hr/

		= render @classifieds