#fullscreen_bg.fullscreen_bg{ style: "background-image: url(#{image_path 'landing/detailbook-london.jpg'});"}
.container.better
	.row.text-center
		%h1{ style: "color: #333"} My Community
		/ .col-md-2
		/ 	= link_to 'New Community Post', new_community_post_path, class: "btn btn-default" 
		/ .col-md-2
		/ 	= link_to 'Find Universities', "#" , class: "btn btn-default"
		/ .col-md-2
		/ 	= link_to 'Find Tutors', "#", class: "btn btn-default"
		/ .clearfix
		.btn-group{"aria-label" => "Default Button Groups", :role => "group"}
			= link_to 'New Community Post', new_community_post_path, class: "btn btn-default"
			= link_to 'Find Universities', find_university_path , class: "btn btn-default"
			= link_to 'Find Tutors', find_tutor_path, class: "btn btn-default"
			
		%br/
		= render @community_posts