.container.better
	.row
		%p#notice= notice

		%p
			%b Name:
			= @community_post.name
		%p
			%b Content:
			= @community_post.content

		%p
			= image_tag @community_post.picture.url(:medium)

		= link_to 'Edit', edit_community_post_path(@community_post)
		\|
		= link_to 'Destroy', community_post, :method => :delete, :data => { :confirm => 'Are you sure?' }
		\|
		= link_to 'Back', community_posts_path
