= simple_form_for(@yolo) do |f|
  = f.error_notification

  .form-inputs
    / = f.association :user
    = f.label :media, "Upload a file"
    = f.file_field :media
    = f.input :content
    / = f.input :content_html

  .form-actions
    = f.button :submit, "Submit YOLO"
