.panel.panel-default.visible-md-block.visible-lg-block
  .panel-body
    %h5= link_to "Yolos", yolos_path, class: "text-inherit"
    %div{"data-grid" => "images", "data-target-height" => "150"}
      - @yolos.each do |yolo|
        %div
          = image_tag yolo.media.url, "data-width" => "640", "data-height" => "640"
