/ - if yolo.id % 2 == 0
/     .grid-item
/         / %li.col-lg-3.col-sm-4.col-xs-6
/         .col-md-6
/             %b= link_to yolo.user.first_name, user_path(yolo.user.username)
/         .col-md-6
/             %span.pull-right #{ time_ago_in_words(yolo.created_at) } ago 
/         .clearfix
/         %a{:href => "#", :title => "#{ yolo.content_html }"}
/             = image_tag yolo.media.url
/             %b= yolo.content_html
/ - else
/     .grid-item.featured
/         / %li.col-lg-3.col-sm-4.col-xs-6
/         .col-md-6
/             %b= link_to yolo.user.first_name, user_path(yolo.user.username)
/         .col-md-6
/             %span.pull-right #{ time_ago_in_words(yolo.created_at) } ago 
/         .clearfix
/         %a{:href => "#", :title => "#{ yolo.content_html }"}
/             = image_tag yolo.media.url
/             %b= yolo.content_html
/ = image_tag yolo.media.url

/ .item-grid
/     = image_tag yolo.media.url, height: 400
/ .carousel-caption
/     %h4= yolo.content.truncate(15)

/ .col-md-6
/     .card
/         .card-image
/             = image_tag yolo.media.url, width: 200, class: "img-responsive"
            
/         / !-- card image
        
/         .card-content
/             %span.card-title
/                 Material Cards                    
/             %button#show.btn.btn-custom.pull-right{ type: "button", "aria-label" => "Left Align"}
/                 %i.fa.fa-ellipsis-v
/         / !-- card content
/         .card-action
/             %a{:href => "#"} Link
/             %a{:href => "#"} Link
/             %a{:href => "#"} Link
/             %a{:href => "#"} Link
/         / !-- card actions
/         .card-reveal
/             %span.card-title
/                 Card Title
/             %button.close{ type: "button", "data-dismiss" => "modal", "aria-label" => "Close"}
/                 %span{ "aria-hidden" => true } ×
/             %p Here is some more information about this product that is only revealed once clicked on.
/         / !-- card reveal

%li.col-lg-4.col-sm-4.col-xs-6
    .col-md-4
        %b= link_to yolo.user.first_name, user_path(yolo.user.username)
    .col-md-8
        %span.pull-right #{ time_ago_in_words(yolo.created_at) } 
    .clearfix
    = link_to "#", "data-toggle" => "modal", "data-target" => ".mod_yolo_#{yolo.id}" do 
        = image_tag yolo.media.url, height: 230, style: "display: block; margin-left: auto; margin-right: auto;"
        %b.text-center= yolo.content_html
.modal.fade{ class: "mod_yolo_#{yolo.id}", "tabindex" => -1, :role => "dialog", "aria-labelledby" => "Yolo" }
    .modal-dialog.modal-lg
        .modal-content{style: "padding: 10px 0;"}
            .col-md-8
                = image_tag yolo.media.url, class: "img-responsive"
            .col-md-4
                - if current_user.likes?(yolo)
                    / - if current_user.voted_as_when_voted_for activity.trackable
                    = link_to dislike_yolo_path(yolo.guid), method: :put, style: "text-decoration: none;", class: "btn btn-danger" do
                        %i.fa.fa-heart{style: "color: red;"}
                        
                        / = image_tag 'sys/clap-icon.png', width: 25

                        / - if activity.trackable.get_upvotes.size == 0
                        - if yolo.likees_count == 0
                            %span{ style: "color: red;"}= yolo.likees_count
                        - else
                            = yolo.likees_count
                - else
                    = link_to like_yolo_path(yolo.guid), method: :put, style: "text-decoration: none;", class: "btn btn-default" do
                        %i.fa.fa-heart-o{style: "color: red;"}
                        / = activity.trackable.get_upvotes.size
            .clearfix