.container.better.m-y-md
  .row
    .pull-right
      = link_to new_yolo_path, class: "btn btn-success btn-small" do
        %i.fa.fa-plus
        Add
    .clearfix
    %br/
    - if @yolos.any?
      / .grid
      /   / #container-img#images
      /   = render @yolos  
      
      %ul.list-unstyled.video-list-thumbs.row
        = render @yolos

    - else
      %p There is nothing fun here. #{link_to 'Add here', new_yolo_path}