%p#notice= notice

%p
  %b User:
  = @yolo.user
%p
  %b Content:
  = @yolo.content
%p
  %b Content html:
  = @yolo.content_html

= link_to 'Edit', edit_yolo_path(@yolo)
\|
= link_to 'Back', yolos_path
