= simple_form_for(@benchmark_report) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user
    = f.input :points
    = f.input :month
    = f.input :year

  .form-actions
    = f.button :submit
