-# .better{ style: "background-color: #30526E;" }
%div{ style: "padding-top: 35px;" }
= render 'header'
.container-fluid
	.row
		%h1.text-center #{ @user.first_name }'s Benchmark
		/ %p Find me in app/views/benchmark_reports/index.html.haml

		.col-md-6
			.panel.panel-default.text-center
				- if @benchmark_reports != nil && @benchmark_reports != []
					= line_chart @data, @options

				- else
					There is no benchmark reports available. Wait until the end of the month, to showcase your first benchmark report.

		.col-md-5.col-md-offset-1
			.panel.panel-default.text-center
				%h3 How the benchmark works?
				%p Benchmarks are used to analyse the users' progress, on a competitive level against other users.
				%p
