%p#notice= notice

%p
  %b User:
  = @benchmark_report.user
%p
  %b Points:
  = @benchmark_report.points
%p
  %b Month:
  = @benchmark_report.month
%p
  %b Year:
  = @benchmark_report.year

= link_to 'Edit', edit_benchmark_report_path(@benchmark_report)
\|
= link_to 'Back', benchmark_reports_path
