= simple_form_for(@todo_task) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :completed
    = f.input :row_order
    = f.input :priority
    = f.input :comment
    = f.input :archived

  .form-actions
    = f.button :submit
