%li{ :id => todo_task.id}
	= todo_task.title
	%br/
	%strong priority:
	= todo_task.priority
	%br/
	= link_to "done", user_todo_task_path(current_user.username, todo_task), method: :delete, remote: true