.container.better
  .row
    .col-md-6
      %h1 My Todos
      
      .todolist.not-done
        = simple_form_for @new_todo, remote: true, class: "form-inline" do |f|
          = f.input :title, placeholder: "What needs doing?", label: false, input_html: { class: "form-control" }
          = f.input :priority, placeholder: "Priority Level", label: false, input_html: { class: "form-control" }
          = f.button :submit, "Add Todo", class: "pull-right"
          .clearfix
        / - if @todo_tasks.any?
        %hr/
        %ul#todolist
          = render @todo_tasks



/ %script{:src => "//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js", :type => "text/javascript"}
/ .container.better
/   .row
/     .col-md-6
/       .todolist.not-done
/         %h1 Todos
/         = form_for TodoTask.new do |f|
/           .form-group
/             = f.text_field :title, placeholder: "What needs doing?"        
/           .form-group
/             = f.text_field :priority, placeholder: "priority level"
  
/         / %input.form-control.add-todo{:placeholder => "Add todo", :type => "text"}
/         / %button#checkAll.btn.btn-success Mark all as done
/         %hr
/         %ul#sortable.list-unstyled
/           %li.ui-state-default
/             .checkbox
/               %label
/                 %input{:type => "checkbox", :value => ""}>/
/                 Take out the trash
/           %li.ui-state-default
/             .checkbox
/               %label
/                 %input{:type => "checkbox", :value => ""}>/
/                 Buy bread
/           %li.ui-state-default
/             .checkbox
/               %label
/                 %input{:type => "checkbox", :value => ""}>/
/                 Teach penguins to fly
/         .todo-footer
/           %strong
/             %span.count-todos
/           Items Left
/     .col-md-6
/       .todolist
/         %h1 Already Done
/         %ul#done-items.list-unstyled
/           %li
/             Some item
/             %button.remove-item.btn.btn-default.btn-xs.pull-right
/               %span.glyphicon.glyphicon-remove


/ .better
/ .container
/   .row{ 'ng-app' => 'todoRails', layout: 'column', 'layout-align' => 'center center' }
/     %md-toolbar{ layout: 'row', 'layout-align' => 'center' }
/       %h2= @config['title']
/     #mainBody{ flex: '', layout: 'row', 'ng-controller' => 'todoCtrl' }
/       %md-content.md-padding
/         %form{ 'ng-submit' => 'addTodo()' }
/           %div{ layout: '', 'layout-align-gt-sm' => 'center center' }
/             %md-input-container{ flex: '85' }
/               %label= @config['add_label']
/               %input{ 'ng-model' => 'todoText' }/
/             %md-input-container
/               %md-button.md-fab{ 'aria-label' => 'Add todo items', type: 'submit' }
/                 +
/         %div
/           .listHeader{ flex: '', layout: '', 'layout-align' => 'end end' }= @config['remaining_label']
/           %md-list
/             %md-list-item{ 'ng-repeat' => 'todo in todos | filter:{"archieved":  false}:true' }
/               %md-checkbox{ 'aria-label' => 'Todo Checkbox', 'ng-model' => 'todo.completed', 'ng-change' => 'saveTodo(todo)'}
/               %p{class: "done-{{todo.completed}}"} {{todo.title}}
/               .md-secondary
/                 %md-button.md-raised.md-warn.text-center{'ng-click' => 'deleteItem(todo, $event)'} x
/               %md-divider{ 'ng-if' => '!$last' }


/ %h1 Listing todo_tasks

/ %table
/   %thead
/     %tr
/       %th Title
/       %th Completed
/       %th Row order
/       %th Priority
/       %th Comment
/       %th Archived
/       %th
/       %th
/       %th

/   %tbody
/     - @todo_tasks.each do |todo_task|
/       %tr
/         %td= todo_task.title
/         %td= todo_task.completed
/         %td= todo_task.row_order
/         %td= todo_task.priority
/         %td= todo_task.comment
/         %td= todo_task.archived
/         %td= link_to 'Show', todo_task
/         %td= link_to 'Edit', edit_todo_task_path(todo_task)
/         %td= link_to 'Destroy', todo_task, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br

/ = link_to 'New Todo task', new_todo_task_path
