%p#notice= notice

%p
  %b Title:
  = @todo_task.title
%p
  %b Completed:
  = @todo_task.completed
%p
  %b Row order:
  = @todo_task.row_order
%p
  %b Priority:
  = @todo_task.priority
%p
  %b Comment:
  = @todo_task.comment
%p
  %b Archived:
  = @todo_task.archived

= link_to 'Edit', edit_todo_task_path(@todo_task)
\|
= link_to 'Back', todo_tasks_path
