%h1 Listing lectures

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Syllabus
      %th
      %th
      %th

  %tbody
    - @lectures.each do |lecture|
      %tr
        %td= lecture.title
        %td= lecture.description
        %td= lecture.syllabus
        %td= link_to 'Show', lecture
        %td= link_to 'Edit', edit_lecture_path(lecture)
        %td= link_to 'Destroy', lecture, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lecture', new_lecture_path
