%p#notice= notice

%p
  %b Title:
  = @lecture.title
%p
  %b Description:
  = @lecture.description
%p
  %b Syllabus:
  = @lecture.syllabus

= link_to 'Edit', edit_lecture_path(@lecture)
\|
= link_to 'Back', lectures_path
