.nested-fields
	/ = f.input :guid, :as => :hidden, :input_html => { value: SecureRandom.uuid }
	/ = f.input :start_time, as: :datetime_picker, label: "Start Time"
	/ = f.input :end_time, as: :datetime_picker, label: "End Time"
	= f.input :start_time, as: :datetime_picker, label: false, placeholder: "Start Time"
	= f.input :end_time, as: :datetime_picker, label: false, placeholder: "End Time"
	= f.input :done, as: :hidden, input_html: { value: true}
	= link_to_remove_association "Remove Availability", f
	%hr/