- if params[:user][:role] == "s"
	:javascript
		window.location.href="/users/sign_up?t=s"
- elsif params[:user][:role] == "t"
	:javascript
		window.location.href="/users/sign_up?t=t"
- elsif params[:user][:role] == "u"
	:javascript
		window.location.href="/users/sign_up?t=u"
- elsif params[:user][:role] == "b"
	:javascript
		window.location.href="/users/sign_up?t=b"