.container.better.m-y-md
	.row
		%h2
			- if current_user.student?
				Student Details
			- elsif current_user.tutor?
				Manage My Tutor Details
			- elsif current_user.university?
				Manage My University Details
			- elsif current_user.business?
				Business Details 
			- else
				Edit #{resource_name.to_s.humanize}	
		- if current_user.getting_started == true
			.growl
				.alert.alert-dark.alert-dismissable{:role => "alert"}
					%button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
						%span{"aria-hidden" => "true"} ×
					%strong Welcome to SEED
					%br/
					You've been signed up successfully!

		= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
			= f.error_notification
			.form-inputs
				/ .col-md-6
				/ 	.col-md-6
				/ 		/ = f.input :username, required: true, autofocus: true
				/ 	= f.input :email, required: true, label: "Email", html_input: {class: "form-control"}
				/ 	/ = f.input :role				
				/ 	- if current_user.human?
				/ 		= f.input :first_name, required: true, label: "First Name", html_input: { class: "form-control"}
				/ 		= f.input :last_name, required: true, label: "Last Name", html_input: { class: "form-control"}
				/ 		/ = f.input :bio, label: "Tell me about yourself", html_input: { class: "form-control"}
				/ 		= f.input :dob, required: true, as: :date_picker, label: "Date of Birth", html_input: { class: "form-control"}
				/ 		= f.input :gender, required: true, :collection => [["Male", 'Male'], ["Female", 'Female'], ["Prefer not to say", "Prefer not to say"]], :label_method => :last, :value_method => :first, :as => :radio_buttons
				/ 		/ = f.input :full_name, as: :hidden, input_html: { value: f.object.first_name + ' ' +f.object.last_name || ''}
				/ 	- if !current_user.business?
				/ 		= f.input :university, required: true, label: "University / Institution", html_input: { class: "form-control"}
				/ 	- if current_user.business?
				/ 		= f.input :full_name, required: true, label: "Company Name"
				/ 		= f.input :company_number, required: true, label: "Company Number", html_input: { class: "form-control"}
				/ 		/ = f.input :vat, label: "VAT No.", html_input: { class: "form-control"}
				/ 		= f.input :number_of_employees, label: "Number of Employees", html_input: { class: "form-control"}
				/ 		= f.input :industry, label: "Industry", html_input: { class: "form-control"}
				/ 	- if current_user.university?
				/ 		/ = f.input :full_name, as: :hidden, input_html: { value: f.object.university || 'Unknown University'}
				/ 		= f.input :ucas_code, required: true, label: "UCAS Code", html_input: { class: "form-control"}
				/ 	- if !current_user.student?	
				/ 		= f.input :address1, label: "Address", html_input: { class: "form-control"}
				/ 		= f.input :address2, label: false, html_input: { class: "form-control"}
				/ 		= f.input :address3, label: false, html_input: { class: "form-control"}
				/ 		= f.input :post_code, label: "Post Code", html_input: { class: "form-control"}
				/ 	= f.input :country, required: true, label: "Country", html_input: { class: "form-control"}
				/ 	= f.input :city, required: true, label: "City", html_input: { class: "form-control"}
				/ .col-md-6
				/ 	- if current_user.building?
				/ 		= f.input :website_link, as: :url, label: "Website URL", html_input: { class: "form-control"}
				/ 		/ = f.input :info_email, label: "City", html_input: { class: "form-control"}
				/ 		- if !current_user.student?	
				/ 			= f.input :contact_email, label: "Contact Email", html_input: { class: "form-control"}
				/ 			= f.input :phone_number, label: "Phone Number", html_input: { class: "form-control"}
				/ 		- if current_user.tutor?	
				/ 			= f.input :years_experience, label: "Years of Experience", html_input: { class: "form-control"}
				/ 			= f.input :uni_graduated_at, label: "University graduated at", html_input: { class: "form-control"}
				/ 			= f.input :degree_type, label: "Degree Type", html_input: { class: "form-control"}, :collection => [["High School", 'High School'], ["Associate's Degree", "Associate's Degree"], ["Bachelor's Degree", "Bachelor's Degree"], ["Master's Degree", "Master's Degree"], ["Master of Business Administration (MBA)", "Master of Business Administration (MBA)"], ["Juris Doctor (JD)", "Juris Doctor (JD)"], ["Doctor of Medicine (MD)", "Doctor of Medicine (MD)"], ["Doctor of Philosophy (PhD)", "Doctor of Philosophy (PhD)"], ["Engineer's Degree", "Engineer's Degree"], ["Other", "Other"]], :label_method => :last, :value_method => :first, :as => :select
				/ 			= f.input :profession, label: "Profession", html_input: { class: "form-control"}
				/ 			= f.input :teach_online, label: "Would you like to teach online?", as: :boolean, html_input: { class: "form-control"}
				/ 			= f.input :skype, label: "Skype ID", html_input: { class: "form-control"}
				/ 			%br/
				/ 			#teaching_availability
				/ 				= f.simple_fields_for :teaching_availabilities do |availability|
				/ 					= render 'teaching_availability', f: availability
				/ 				.links
				/ 					= link_to_add_association 'Add Availability', f, :teaching_availabilities
				/ 		- if current_user.student?	
				/ 			= f.input :course, label: "Course", html_input: { class: "form-control"}
				/ 			= f.input :year_uni, label: "University Year", html_input: { class: "form-control"}, :collection => [["Foundation Year", 'Foundation Year'], ["First Year", "First Year"], ["Second Year", "Second Year"], ["Sandwich Year", "Sandwich Year"], ["Final Year", "Final Year"], ["Masters", "Masters"], ["Alumni", "Alumni"], ["Other", "Other"]], :label_method => :last, :value_method => :first, :as => :select
				/ 			%br/
				/ 			#education
				/ 				%h3 Education
				/ 				= f.simple_fields_for :educations do |education|
				/ 					= render 'education_fields', f: education
				/ 				.links
				/ 					= link_to_add_association 'Add Education', f, :educations
				/ 			%br/
				/ 			#job_experience
				/ 				%h3 Experience
				/ 				= f.simple_fields_for :job_experiences do |job_experience|
				/ 					= render 'job_experience_fields', f: job_experience
				/ 				.links
				/ 					= link_to_add_association 'Add Experience', f, :job_experiences
				/ 			%br/
				/ 			#skill
				/ 				%h3 Skills
				/ 				= f.simple_fields_for :skills do |skill|
				/ 					= render 'skill_fields', f: skill
				/ 				.links
				/ 					= link_to_add_association 'Add Skill', f, :skills
				
				/ = render 'student_form'
				
				- if current_user.student?
					.col-md-12
						.panel-group#accordion{ :role => "tablist", "aria-multiselectable" => "true"}
							/ About Me
							.panel.panel-default
								.panel-heading#aboutMe{ :role => "tab" }
									%h4.panel-title
										%a{:href => "#colAboutMe", :role => "button", "data-toggle" => "collapse", "data-parent" => "#accordion", "aria-expanded" => "true", "aria-controls" => "colAboutMe" }
											%i.fa.fa-user
											%b About Me
											
								.panel-collapse#colAboutMe.collapse.in{ :role => "tabpanel", "aria-labelledby" => "colAboutMe" }
									.panel-body
										/ = f.input :username, required: true, autofocus: true
										/ = f.input :role				
										.col-md-6
											= f.input :first_name, required: true, label: "First Name", html_input: { class: "form-control"}
										.col-md-6
											= f.input :last_name, required: true, label: "Last Name", html_input: { class: "form-control"}
										/ = f.input :bio, label: "Tell me about yourself", html_input: { class: "form-control"}
										.col-md-6
											= f.input :dob, required: true, as: :date_picker, label: "Date of Birth", html_input: { class: "form-control"}
											= f.input :email, required: true, label: "Email", html_input: {class: "form-control"}
										.col-md-6
											= f.input :gender, required: true, :collection => [["Male", 'Male'], ["Female", 'Female'], ["Prefer not to say", "Prefer not to say"]], :label_method => :last, :value_method => :first, :as => :radio_buttons
											
										/ = f.input :full_name, as: :hidden, input_html: { value: f.object.first_name + ' ' +f.object.last_name || ''}
										/ .col-md-6
										/ 	= f.input :university, required: true, label: "University / Institution", html_input: { class: "form-control"}
										/ .col-md-6
										/ 	= f.input :course, label: "Course", html_input: { class: "form-control"}
										/ .col-md-6
										/ 	= f.input :year_uni, label: "University Year", html_input: { class: "form-control"}, :collection => [["Foundation Year", 'Foundation Year'], ["First Year", "First Year"], ["Second Year", "Second Year"], ["Sandwich Year", "Sandwich Year"], ["Final Year", "Final Year"], ["Masters", "Masters"], ["Alumni", "Alumni"], ["Other", "Other"]], :label_method => :last, :value_method => :first, :as => :select
										.clearfix
										.col-md-6
											= f.input :country, required: true, label: "Country", html_input: { class: "form-control"}
										.col-md-6
											= f.input :city, required: true, label: "City", html_input: { class: "form-control"}
										.clearfix
										%br/
										.col-md-6
											= f.label :avatar, "Profile Picture:"
											= f.file_field :avatar, as: :file
											= f.label :background, "Background Picture:"
											= f.file_field :background, as: :file

										.col-md-6
											= f.input :publish_contact_info, label: "Publish my Contact Info?"
											= f.input :nsfw, as: :boolean, label: "NSFW? (Not Safe For Work)"
											= f.input :getting_started, as: :hidden, input_html: {value: false}
							
							/ - About Me
							/ Work & Education	
							.panel.panel-default
								.panel-heading#workEducation{ :role => "tab" }
									%h4.panel-title
										%a{:href => "#colWorkEducation", :role => "button", "data-toggle" => "collapse", "data-parent" => "#accordion", "aria-expanded" => "false", "aria-controls" => "colWorkEducation" }
											%i.fa.fa-briefcase
											%b Work & Education
								.panel-collapse#colWorkEducation.collapse{ :role => "tabpanel", "aria-labelledby" => "colWorkEducation" }
									.panel-body

										#education
											%h3 Education
											= f.simple_fields_for :educations do |education|
												= render 'education_fields', f: education
											.links
												= link_to_add_association 'Add Education', f, :educations
										%br/
										#job_experience
											%h3 Experience
											= f.simple_fields_for :job_experiences do |job_experience|
												= render 'job_experience_fields', f: job_experience
											.links
												= link_to_add_association 'Add Experience', f, :job_experiences
										%br/
										#skill
											%h3 Skills
											= f.simple_fields_for :skills do |skill|
												= render 'skill_fields', f: skill
											.links
												= link_to_add_association 'Add Skill', f, :skills

							/ - Work & Education				
							/ CV Builder	
							/ .panel.panel-default
							/ 	.panel-heading#cvBuilder{ :role => "tab" }
							/ 		%h4.panel-title
							/ 			%a{:href => "#colCVBuilder", :role => "button", "data-toggle" => "collapse", "data-parent" => "#accordion", "aria-expanded" => "false", "aria-controls" => "colCVBuilder" }
							/ 				%i.fa.fa-database
							/ 				%b CV Builder
							/ 	.panel-collapse#colCVBuilder.collapse{ :role => "tabpanel", "aria-labelledby" => "colCVBuilder" }
							/ 		.panel-body
							/ 			.col-md-6
							/ 				= f.input :cv_description, label: "Curriculum Vitae"
							/ 				= f.input :cv_doc, as: :file, label: "Or Upload File"
							/ 			.col-md-6
							/ 				= f.input :cl_description, label: "Cover Letter"
							/ 				= f.input :cl_doc, as: :file, label: "Or Upload File"	
								
							/ - CV Builder

							/ Change Password
							.panel.panel-default
								.panel-heading#changePassword{ :role => "tab" }
									%h4.panel-title
										%a{:href => "#colChangePassword", :role => "button", "data-toggle" => "collapse", "data-parent" => "#accordion", "aria-expanded" => "false", "aria-controls" => "colChangePassword" }
											%i.fa.fa-key
											%b Change Password
								.panel-collapse#colChangePassword.collapse{ :role => "tabpanel", "aria-labelledby" => "colChangePassword" }
									.panel-body
										.col-md-6
											/ - if devise_mapping.confirmable? && resource.pending_reconfirmation?
											%p
												Currently waiting confirmation for: #{resource.unconfirmed_email}
											= f.input :password, autocomplete: "off", required: false, label: "Password - leave it blank if you don't want to change it"
											= f.input :password_confirmation, required: false, label: "Password Confirmation"

							/ - Change Password


				- if current_user.business?
					.col-md-12
						.panel-group#accordion{ :role => "tablist", "aria-multiselectable" => "true"}
							/ Business Profile
							.panel.panel-default
								.panel-heading#businessProfile{ :role => "tab" }
									%h4.panel-title
										%a{:href => "#colBusinessProfile", :role => "button", "data-toggle" => "collapse", "data-parent" => "#accordion", "aria-expanded" => "true", "aria-controls" => "colBusinessProfile" }
											%i.fa.fa-user
											%b Business Profile
											
								.panel-collapse#colBusinessProfile.collapse.in{ :role => "tabpanel", "aria-labelledby" => "colBusinessProfile" }
									.panel-body
										.col-md-6
											= f.input :full_name, required: true, label: "Company Name"
										.col-md-6
											= f.input :company_number, required: true, label: "Company Number", html_input: { class: "form-control"}
										.col-md-6
											= f.input :industry, label: "Industry", html_input: { class: "form-control"}
										.col-md-6
											= f.input :number_of_employees, label: "Number of Employees", html_input: { class: "form-control"}
										.col-md-6
											= f.input :email, required: true, label: "Company Email Address", html_input: {class: "form-control"}
										.clearfix
										%br/
										.col-md-6
											= f.label :avatar, "Profile Picture:"
											= f.file_field :avatar, as: :file
											= f.label :background, "Background Picture:"
											= f.file_field :background, as: :file

										.col-md-6
											= f.input :publish_contact_info, label: "Publish my Contact Info?"
											= f.input :nsfw, as: :boolean, label: "NSFW? (Not Safe For Work)"
											= f.input :getting_started, as: :hidden, input_html: {value: false}
							
							/ - Business Profile
							/ Business Location	
							.panel.panel-default
								.panel-heading#businessLocation{ :role => "tab" }
									%h4.panel-title
										%a{:href => "#colBusinessLocation", :role => "button", "data-toggle" => "collapse", "data-parent" => "#accordion", "aria-expanded" => "false", "aria-controls" => "colBusinessLocation" }
											%i.fa.fa-briefcase
											%b Business Location
								.panel-collapse#colBusinessLocation.collapse{ :role => "tabpanel", "aria-labelledby" => "colBusinessLocation" }
									.panel-body
										.col-md-6	
											= f.input :country, required: true, label: "Country", html_input: { class: "form-control"}
										.col-md-6
											= f.input :city, required: true, label: "City", html_input: { class: "form-control"}
										.col-md-6
											= f.input :address1, label: "Address", html_input: { class: "form-control"}
											= f.input :address2, label: false, html_input: { class: "form-control"}
											= f.input :address3, label: false, html_input: { class: "form-control"}
										.col-md-6
											= f.input :post_code, label: "Post Code", html_input: { class: "form-control"}
										.clearfix
										.col-md-6
											= f.input :website_link, as: :url, label: "Website URL", html_input: { class: "form-control"}
										.col-md-6
											= f.input :phone_number, label: "Phone Number", html_input: { class: "form-control"}
										.col-md-6	
											= f.input :contact_email, label: "Primary Email", html_input: { class: "form-control"}
										.col-md-6
											= f.input :info_email, label: "Secondary Email", html_input: { class: "form-control"}
										
							/ - Business Location	
							/ Change Password
							.panel.panel-default
								.panel-heading#changePassword{ :role => "tab" }
									%h4.panel-title
										%a{:href => "#colChangePassword", :role => "button", "data-toggle" => "collapse", "data-parent" => "#accordion", "aria-expanded" => "false", "aria-controls" => "colChangePassword" }
											%i.fa.fa-key
											%b Change Password
								.panel-collapse#colChangePassword.collapse{ :role => "tabpanel", "aria-labelledby" => "colChangePassword" }
									.panel-body
										.col-md-6
											/ - if devise_mapping.confirmable? && resource.pending_reconfirmation?
											%p
												Currently waiting confirmation for: #{resource.unconfirmed_email}
											= f.input :password, autocomplete: "off", required: false, label: "Password - leave it blank if you don't want to change it"
											= f.input :password_confirmation, required: false, label: "Password Confirmation"

							/ - Change Password
					
							

				/ .col-md-6
				/ 	%br/
				/ 	- if current_user.student?
				/ 		= image_tag 'landing/detailbook_student_edit.jpg', width: 600
				/ 	- elsif current_user.tutor?
				/ 		= image_tag 'landing/detailbook_tutor_edit.jpg', width: 600
				/ 	- elsif current_user.university?
				/ 		= image_tag 'landing/detailbook_university_edit.jpg', width: 600
				/ 	- elsif current_user.business?
				/ 		= image_tag 'landing/detailbook_business_edit.jpg', width: 600
				.col-md-3	
					/ %hr/
					/ - if current_user.student?
					/ 	%h1 Manage My Student Profile
					/ - elsif current_user.tutor?
					/ 	%h1 Manage My Tutor Profile
					/ - elsif current_user.university?
					/ 	%h1 Manage My University Profile
					/ - elsif current_user.business?
					/ 	%h1 Manage My Business Profile
					/ .col-md-10
					/ 	= f.label :avatar, "Profile Picture:"
					/ 	= f.file_field :avatar, as: :file
					/ 	= f.label :background, "Background Picture:"
					/ 	= f.file_field :background, as: :file


					/ 	= f.input :publish_contact_info, label: "Publish my Contact Info?"
					/ 	= f.input :nsfw, as: :boolean, label: "NSFW? (Not Safe For Work)"
					/ 	= f.input :getting_started, as: :hidden, input_html: {value: false}
						
					
					/ .clearfix
					= link_to "Update", "#", "data-toggle" => "modal", "data-target" => ".mod_confirm_changes", class: "btn btn-primary btn-block btn-lg"
					%br/
					= link_to :back, class: "btn btn-danger" do
						%i.fa.fa-arrow-left
						Back
					
			.modal.fade{ style: "margin-top: 200px;" ,class: "mod_confirm_changes", "tabindex" => -1, :role => "dialog", "aria-labelledby" => "Confirm Changes" }
				.modal-dialog.modal-sm
					.modal-content{style: "padding: 10px;"}
						/ = image_tag yolo.media.url, width: 500, class: "img-responsive"
						= f.input :current_password, label: "Enter your password to confirm changes", required: true
						%br/
						.form-actions
							= f.button :submit, "Update", class: "btn btn-primary btn-block btn-lg"
					/ %h3 Cancel my account
					/ %p
					/ 	Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: 	"Are you sure?" }, method: :delete}
					
					
