- if params[:t] == "s"
	#fullscreen_bg.fullscreen_bg{ style: "background-image: url('#{ image_path 'landing/detailbook-students.jpeg'}');"}
- elsif params[:t] == "t"
	#fullscreen_bg.fullscreen_bg{ style: "background-image: url('#{ image_path 'landing/detailbook-tutors.jpeg'}');"}
- elsif params[:t] == "u"
	#fullscreen_bg.fullscreen_bg{ style: "background-image: url('#{ image_path 'landing/detailbook-university.jpg'}');"}
- elsif params[:t] == "b"
	#fullscreen_bg.fullscreen_bg{ style: "background-image: url('#{ image_path 'landing/detailbook-businessman.jpeg'}');"}

.container
	%h1.form-signin-heading.text-muted{ style: "padding-top: 100px; color: #44A762;"} Create New Account
	.growl.growl-static{ style: "top: 50px;"}
		.alert.alert-dark.alert-dismissable{:role => "alert"}
			%button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
				%span{"aria-hidden" => "true"} ×
			%strong{style: "color: red;"} Note:
			- case params[:t]
				- when "s"
					Please make sure you fill in the following fields correctly, in order to create a new student account.
				- when "t"
					Please make sure you fill in the following fields correctly, in order to create a new tutor account.
				- when "u"
					Please make sure you fill in the following fields correctly, in order to create a new university account.
				- when "b"
					Please make sure you fill in the following fields correctly, in order to create a new business account.
	= simple_form_for(resource, as: resource_name, html: {class: "form-signin"} , url: registration_path(resource_name)) do |f|
		= f.error_notification
		- case params[:t]
			- when "s"	
				= f.input :username, required: true, autofocus: true, label: false, placeholder: "Username or Student ID", html_input: {class: "form-control log"}
				= f.input :email, required: true, label: false, placeholder: "Valid University Email", html_input: {class: "form-control log"}
			- when "t"	
				= f.input :username, required: true, autofocus: true, label: false, placeholder: "Tutor Name", html_input: {class: "form-control log"}
				= f.input :email, required: true, label: false, placeholder: "Valid University Email", html_input: {class: "form-control log"}
			- when "u"	
				= f.input :username, required: true, autofocus: true, label: false, placeholder: "University Name", html_input: {class: "form-control log"}
				= f.input :email, required: true, label: false, placeholder: "Valid University Email", html_input: {class: "form-control log"}
			- when "b"
				= f.input :full_name, required: true, autofocus: true, label: false, placeholder: "Company Name", html_input: { class: "form-control log"} 
				= f.input :username, required: true, label: false, placeholder: "Username (No Spaces)", html_input: {class: "form-control log"}
				= f.input :email, required: true, label: false, placeholder: "Email Address", html_input: {class: "form-control log"}

		/ = f.input :email, required: true, label: false, placeholder: "Email", html_input: {class: "form-control log"}
		= f.input :password, required: true, label: false, placeholder: "Password: 8 Characters minimum", html_input: {class: "form-control log"}
		= f.input :password_confirmation, required: true, label: false, placeholder: "Password Confirmation", html_input: {class: "form-control log"}
		= f.input :role, as: :hidden, input_html: { value: params[:t] }
		%p{ style: "color: white;"} 
			By clicking Submit, you agree to to SEED's &nbsp 
			%b>#{link_to 'Terms and Conditions', toc_path, :target => "_blank" }
			\.

		/ By ticking on this box, You agree to SEED's #{link_to 'Terms and Conditions', toc_path }.
		/ = f.input :toc, as: :boolean, required: true, label: false, html_input: {class: "form-control"}
		= f.button :submit, "Submit", class: "btn btn-lg btn-primary btn-block form-control"
		= link_to root_path, class: "btn btn-lg btn-danger btn-block" do
			%i.fa.fa-home
			Back to Home


