= simple_form_for([@user, @ex_file]) do |f|
	= f.error_notification

	.form-inputs
		= f.file_field :attachment
		/ = f.association :user
		= f.input :name
		= f.input :description
		= f.association :category
		/ = f.input :guid

	.form-actions
		= f.button :submit
