%h5
	%small
		%b= link_to "My documents", user_ex_files_path(current_user.username)
%ul.nav.nav-pills.nav-stacked
	%li
		= link_to new_user_ex_file_path(current_user.username) do
			%i.fa.fa-file
			%span Add File
	- if @exchange.any?
		- if @categories.any?
			- @categories.each do |category|
				%li
					= link_to user_ex_files_path(current_user.username, cat: category.slug) do
						%i.fa.fa-file-o
						%span= category.title
	%li
		= link_to "#" do
			%i.fa.fa-files-o
			%span Exchange Notes
	