.container.better
	.row
		%h1 Editing File

		= render 'form'

		- if current_user == @user
			= link_to 'Show', user_ex_file_path(@user.username, @ex_file.guid)
			\|
		= link_to 'Back', user_ex_files_path(@user.username)
