%div{ style: "padding-top: 35px;" }
-# .better{ style: "background-color: #30526E;" }
= render "header"
.container.m-y-md
  .row

    %h1 Listing Files

    %table.table
      %thead
        %tr
          / %th User
          %th Name
          / %th Description
          %th Category
          / %th Guid
          %th
          %th
          %th

      %tbody
        - @ex_files.each do |ex_file|
          %tr
            / %td= ex_file.user
            %td= ex_file.name
            / %td= ex_file.description
            %td= ex_file.category.title
            / %td= ex_file.guid
            %td= link_to 'Show', user_ex_file_path(@user.username, ex_file.guid)
            - if current_user == @user
              %td= link_to 'Edit', edit_user_ex_file_path(@user.username, ex_file.guid)
              %td= link_to 'Remove', user_ex_file_path(@user.username, ex_file.guid), :method => :delete, :data => { :confirm => 'Are you sure?' }
        %tr
          %td{"colspan" => 5}= link_to 'New Ex file', new_user_ex_file_path(current_user.username)
