.container
  .row
    %p#notice= notice

    %p
      %b Name:
      = @ex_file.name
    %p
      %b Description:
      = @ex_file.description
    %p
      %b Category:
      = @ex_file.category.title

    - if @user == current_user
      = link_to 'Edit', edit_user_ex_file_path(@user.username, @ex_file.guid)
      \|
    = link_to 'Back', user_ex_files_path(@user.username)
