/ .col-md-2
/   .panel.panel-default.text-center{style: "padding: 5px;"}
/     / = link_to application_form.cv_doc.url, style: "text-decoration: none;" do
/     = link_to user_path(application_form.user.username), style: "text-decoration: none;" do
/       %i.fa.fa-file-text-o.fa-5
/       %br/
/       = application_form.user.full_name

.col-md-2
	.panel.panel-default.panel-profile
		.panel-heading{:style => "background-image: url(#{ image_path application_form.user.background.url(:original) });"}
		.panel-body.text-center
			= link_to user_path(application_form.user.username), style: "text-decoration: none;" do
				.profile-header-container
					.profile-header-img
						= image_tag application_form.user.avatar.url(:medium), class: "panel-profile-img"
				.rank-label-container
					%span.label.label-default.rank-label= 'BM: '+application_form.user.benchmark.to_s
				%h5.panel-title{ style: "color: #444;" }
					-if application_form.user.full_name != nil
						= application_form.user.full_name
					- else
						= application_form.user.username
			= link_to application_form_path(application_form), class: "btn btn-primary-outline", style: "text-decoration: none; margin-right:5px;" do
				%i.fa.fa-eye.fa-1
				/ Preview CV
			= link_to "/pdfjs/web/viewer.html?file=#{ application_form.cv_doc.url }", target: "_blank", class: "btn btn-primary-outline", style: "text-decoration: none;" do
				%i.fa.fa-file-text-o.fa-1
			/ 	/ Download CV
			