.row
	= simple_form_for @application_form, url: application_forms_path do |f|
		= f.error_notification

		.form-inputs
			/ = f.input :guid
			= f.association :job_application, as: :hidden
			= f.association :user, as: :hidden
			.col-md-4
				= f.input :cv_description, label: "Curriculum Vitae"
				= f.input :cv_doc, as: :file, label: "Or Upload File"
			.col-md-4
				= f.input :cl_description, label: "Cover Letter"
				= f.input :cl_doc, as: :file, label: "Or Upload File"
			.clearfix
			= f.input :sharing, as: :boolean, label: "Share your Vita to the employeer?"

			%br/
		.form-actions
			= f.button :submit, "Submit Application", class: "btn-primary"
