.row.panel{style: "border: 1px solid #CECECE;"}
  .col-md-4.bg_blur{ style: "background-image:url(#{ image_path current_user.background.url });" }
  .col-md-8.col-xs-12
    = image_tag current_user.avatar.url(:medium), class: "img-thumbnail picture hidden-xs"
    = image_tag current_user.avatar.url(:medium), class: "img-thumbnail visible-xs picture_mob"
    .header
      - if current_user.full_name != nil
        %h1= current_user.full_name
      - else
        %h1= current_user.username
      %h4
        = current_user.roles.first.name.camelize
        - if current_user.student?
          %span.label.label-default.rank-label= 'BM: '+current_user.benchmark.to_s
      %blockquote
        %p Dream big dreams. Small dreams have no magic.
      .pull-right{style: "margin-right: 70px;"}
        - if current_user != current_user
          = action_buttons(current_user)
    .row.nav{style: "padding-bottom: 0px;"}
      .col-md-8.col-md-offset-2.col-xs-12.navButtons{style: "padding: 0px; padding-top: 37px;"}
        - if current_user.student?
          = link_to user_path(current_user.username) do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-comments-o
          = link_to medium_path(current_user.username) do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-camera-retro
          = link_to user_vita_path(current_user.username) do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-video-camera
          = link_to user_benchmark_reports_path(current_user.username) do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-area-chart
        - if current_user.business?
          = link_to application_forms_path do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-bookmark
          = link_to medium_path(current_user.username) do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-newspaper-o
          = link_to user_job_applications_path(current_user.username) do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-files-o
          = link_to user_path(current_user.username) do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-comments-o
/ .profile-header.text-center{:style => "background-image: url(#{ image_path current_user.background.url }); "}
/   .container-fluid
/     .container-inner
/       .profile-header-container
/         .profile-header-img
/           = image_tag current_user.avatar.url, class: "img-circle media-object"
/         - if current_user.student?
/           .rank-label-container
/             %span.label.label-default.rank-label= 'BM: '+current_user.benchmark.to_s

/       %h3.profile-header-user
/         - if current_user.full_name != nil
/           = current_user.full_name
/         - else
/           = current_user.username
/       %p.profile-header-bio= current_user.roles.first.name.camelize
/   %nav.profile-header-nav
/     %ul.nav.nav-tabs
/       - if current_user.student?
/         %li
/           = link_to user_path(current_user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/             %i.fa.fa-comments-o{ style: "color: #50b36e; font-weight: bold;"}
/             Streamline
/         %li
/           = link_to medium_path(current_user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/             %i.fa.fa-camera-retro{ style: "font-weight: bold; color: #3c9bcf;" }
/             Gallery
/         - if !current_user.business?
/           %li
/             = link_to user_ex_files_path(current_user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/               %i.fa.fa-files-o{ style: "font-weight: bold; color: #000;" }
/               Exchange Notes
/       - elsif current_user.business?
/         / -if current_user.university?
/         /   %li
/         /     = link_to medium_path(current_user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/         /       %i.fa.fa-camera-retro{ style: "color: #3097d1; font-weight: bold;" }
/         /       University Updates
/         /   %li
/         /     = link_to user_ex_files_path(current_user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/         /       %i.fa.fa-folder-o{ style: "color: #3097d1; font-weight: bold;" }
/         /       University Folder
/         / - elsif current_user.business?
/         %li.active
/           = link_to application_forms_path, style: "font-size: 19px; font-weight: bold; color: #fff;" do
/             %i.fa.fa-bookmark{ style: "color: #3c9bcf; font-weight: bold;" }
/             CV Library
/         %li
/           = link_to medium_path(current_user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/             %i.fa.fa-newspaper-o{ style: "color: #d9c918; font-weight: bold;" }
/             Gallery
/         / %li
/         /   = link_to folders_path(current_user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/         /     %i.fa.fa-files-o{ style: "color: #3097d1; font-weight: bold;" }
/         /     Company Reports
/         %li
/           = link_to user_job_applications_path(current_user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/             %i.fa.fa-files-o{ style: "color: #bd502b; font-weight: bold;" }
/             Jobs Archive
/         %li
/           = link_to user_path(current_user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/             %i.fa.fa-comments-o{ style: "color: #50b36e; font-weight: bold;"}
/             My Seeds
/       - if current_user.student?
/         %li
/           = link_to user_benchmark_reports_path(current_user.username), style: "font-size: 19px; font-weight: bold; color: #fff;", "data-no-turbolink" => true do
/             %i.fa.fa-area-chart{ style: "font-weight: bold; color: #bd502b;"}
/             Benchmark
