-# .better{ style: "background-color: #30526E;" }
%div{ style: "padding-top: 35px;" }
= render 'header'
.container.better
  .row
    / %h1 Listing Application Forms

    / %table.table
    /   %thead
    /     %tr
    /       %th GUID
    /       %th Job Application
    /       %th User
    /       %th
    /       %th
    /       %th

    /   %tbody
    /     - @application_forms.each do |application_form|
    /       %tr
    /         %td= application_form.guid
    /         %td= application_form.job_application
    /         %td= application_form.user.full_name
    /         %td= link_to 'Show', application_form_path(application_form.guid)
    /         - if current_user == application_form.user
    /           %td= link_to 'Edit', edit_application_form_path(application_form.guid)
    /           %td= link_to 'Destroy', application_form_path(application_form.guid), :method => :delete, :data => { :confirm => 'Are you sure?' }

    / %br

    / = link_to 'New Application Form', new_application_form_path
    - if @application_forms.any?
      - if @top_ten.any?
        %h3 Top Ten Members
        / - @top_ten.each do |application_form|
        = render @top_ten
        .clearfix
      - else
        %h5 There are no Top 10 CV's available at the moment.
      %h3 CV Library
      %table.table
        %thead
          %tr
            %th Person
            %th Benchmark
            %th Top Skills
            %th Curriculum Vitae

        %tbody
          - @application_forms.each do |application_form|
            %tr
              %td
                = image_tag application_form.user.avatar.url(:thumb), class: "img-circle", width: 40
                = application_form.user.full_name
              %td= application_form.user.benchmark
              %td
                - if application_form.user.skills.any?
                  - application_form.user.skills.each do |skill|
                    = link_to skill.name, skill_path(skill)
              %td
                = link_to "/pdfjs/web/viewer.html?file=#{ application_form.cv_doc.url }", target: "_blank", class: "btn btn-primary-outline", style: "text-decoration: none;" do
                  %i.fa.fa-file-text-o.fa-1
                  / Download CV
              - if current_user == application_form.user
                %td= link_to 'Show', application_form_path(application_form.guid)
                %td= link_to 'Edit', edit_application_form_path(application_form.guid)
                %td= link_to 'Destroy', application_form_path(application_form.guid), :method => :delete, :data => { :confirm => 'Are you sure?' }




      / = render @application_forms
      .clearfix
    - else
      %h5 There are no CV's available at the moment.
