.container.better
  .row
    %p#notice= notice

    / / %p
    / /   %b GUID:
    / /   = @application_form.guid
    / %p
    /   %b Job application:
    /   = @application_form.job_application.job_title
    / %p
    /   %b User:
    /   = @application_form.user.full_name

    = link_to 'Edit', edit_application_form_path(@application_form)
    \|
    = link_to 'Back', application_forms_path
