Welcome to SEED!
- if @user.role != "b"
	You can confirm your account email through the link below:
	= link_to 'Confirm my account', user_confirmation_url(confirmation_token: @user.confirmation_token)
- else
	Your account will be approved within 48 hours. 
	This is your request code: #{ @user.confirmation_token }