<!DOCTYPE html>
%html{:lang => "en"}
%head
	%meta{:content => "text/html", "http-equiv" => "Content-Type", :charset => "UTF-8"}/
%body
	%h3 Welcome to SEED!
	- if @user.role != "b"
		%p You can confirm your account email through the link below:
		%p= link_to 'Confirm my account', user_confirmation_url(confirmation_token: @user.confirmation_token)
	- else
		%p Your account will be approved within 48 hours.
		%p 
			This is your request code: #{ @user.confirmation_token }