= simple_form_for [@commentable, Comment.new] do |f|
  / - if @comment.errors.any?
  /   .error_messages
  /     %h2 Please correct the following errors.
  /     %ul
  /       - @comment.errors.full_messages.each do |msg|
  /         %li= msg

  = f.input :content, label: false, placeholder: "Add a comment...", rows: 2, class: "form-control"
  = f.button :submit, "Post Comment", class: "btn btn-success"
  / = f.button :reset, "Cancel", class: "btn btn-default"