- if activity.trackable
	%p
		- if activity.owner.first_name != nil
			= link_to activity.owner.first_name, user_path(activity.owner.username)
		- elsif activity.owner.full_name != nil
			= link_to activity.owner.full_name, user_path(activity.owner.username)
		- else
			= link_to activity.owner.username, user_path(activity.owner.username)
		sent 
		- if activity.recipient.first_name != nil
			= link_to activity.recipient.first_name, user_path(activity.recipient.username)
		- elsif activity.recipient.full_name != nil
			= link_to activity.recipient.full_name, user_path(activity.recipient.username)
		- else
			= link_to activity.recipient.username, user_path(activity.recipient.username)
		a friend request.