%h1 Listing syllabuses

%table
  %thead
    %tr
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @syllabuses.each do |syllabus|
      %tr
        %td= syllabus.title
        %td= syllabus.description
        %td= link_to 'Show', syllabus
        %td= link_to 'Edit', edit_syllabus_path(syllabus)
        %td= link_to 'Destroy', syllabus, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Syllabus', new_syllabus_path
