.container.better
	.row
		%p#notice= notice

		%p
		  %b Title:
		  = @syllabus.title
		%p
		  %b Description:
		  = @syllabus.description

		= link_to 'Edit', edit_syllabus_path(@syllabus)
		\|
		= link_to 'Back', syllabuses_path
