- if controller_name != 'sessions'
	= link_to "Log in", new_session_path(resource_name), class: "text-center"
	%br/
	%br/
- if devise_mapping.registerable? && controller_name != 'registrations'
	.col-md-5{ style: "padding: 0;" }
		.dropdown
			%button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
				Sign up
				%span.caret
			%ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
				%li= link_to "Student", new_user_registration_path(t: "s")
				%li= link_to "Tutor", new_user_registration_path(t: "t")
				%li= link_to "University", new_user_registration_path(t: "u")
				%li= link_to "Business", new_user_registration_path(t: "b")
		/ = link_to "Sign up", new_registration_path(resource_name), class: "center btn btn-primary"
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
	.col-md-7{ style: "padding: 0;" }
		= link_to "Forgot your password?", new_password_path(resource_name), class: "btn btn-error"
	
- if devise_mapping.confirmable? && controller_name != 'confirmations'
	= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
	%br/
	%br/
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
	= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
	%br/
	%br/
- if devise_mapping.omniauthable?
	- resource_class.omniauth_providers.each do |provider|
		= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
		%br/
		%br/
