= simple_form_for([@user, @folder]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :sharable_to
    = f.input :category

  .form-actions
    = f.button :submit
