-# .better{ style: "background-color: #30526E;" }
%div{ style: "padding-top:35px;"}
= render "header"
.container
  .row

    %h1 Listing folders

    %table
      %thead
        %tr
          %th Guid
          %th User
          %th Name
          %th Description
          %th Sharable to
          %th Category
          %th
          %th
          %th

      %tbody
        - @folders.each do |folder|
          %tr
            %td= folder.guid
            %td= folder.user
            %td= folder.name
            %td= folder.description
            %td= folder.sharable_to
            %td= folder.category
            %td= link_to 'Show', folder
            %td= link_to 'Edit', edit_folder_path(folder)
            %td= link_to 'Destroy', folder, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Folder', new_user_ex_file_path
