.container
	.row

		%p#notice= notice

		%p
			%b Guid:
			= @folder.guid
		%p
			%b User:
			= @folder.user
		%p
			%b Name:
			= @folder.name
		%p
			%b Description:
			= @folder.description
		%p
			%b Sharable to:
			= @folder.sharable_to
		%p
			%b Category:
			= @folder.category

		= link_to 'Edit', edit_folder_path(@folder)
		\|
		= link_to 'Back', folders_path
