.media
  .media-left
    = link_to user_path(conversation.originator.username) do
      = image_tag conversation.originator.avatar.url(:thumb), width: 64, height: 64, class: "img-circle"
      / %img.media-object{:src => "http://placehold.it/64x64", :alt => "..."}/
    
  .media-body
    %h4.media-heading
      = link_to user_path(conversation.originator.username) do
        = conversation.originator.full_name
      %br/
      %small
        %b Subject:
        = conversation.subject
      %br/
      %small
        %b Date:
        = conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p")

    = truncate conversation.messages.last.body, length: 145
    = link_to "View", conversation_path(conversation)
