= form_for :conversation, url: :conversations, html: { class: "" } do |f|
  .form-group
    = f.label :recipients
    = f.select(:recipients, User.all.collect {|p| [ p.full_name, p.id ] }, {}, { multiple: true , class: "chosen-select form-control" })
  .form-group
    = f.label :subject
    = f.text_field :subject, placeholder: "Subject", class: "form-control"
  .form-group
    = f.label :message
    = f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4
    
  = f.submit "Send Message", class: "btn btn-success"