- @receipts.each do |receipt|
  - message = receipt.message
  .media
    .media-left
      / user avators can go here
      = link_to user_path(message.sender.username) do
        = image_tag message.sender.avatar.url(:thumb), width: 64, height: 64, class: "img-circle"

    .media-body
      %h4.media-heading
        = link_to user_path(message.sender.username) do
          = message.sender.full_name
        %br/
        %small
          %b Subject:
          = message.subject
        %br/
        %small
          %b Date: 
          = message.created_at.strftime("%A, %b %d, %Y at %I:%M%p")
      = message.body
