.container.better.m-y-md   
	.row
		.col-md-10 
			%h1 Online Learning
		.col-md-2{style: "padding-top: 25px; padding-left:30px;"}
			/ - if !current_user.student?
			= link_to "Upload a Video +", new_video_path, class: "btn btn-primary"
		.clearfix

		- if @videos != []
			- if @categories != []				
				.col-md-3
					%h4 Categories
					.list-group
						- @categories.each do |category|
							= link_to category.title, category_path(category) , class: "list-group-item"
				.col-md-9
					= render "videos/headline"
					/ = render @related
					= render "videos/related"
			- else
				.col-md-12
					= render "videos/headline"
			.clearfix
			%hr/
			- if @populars != nil 
				%h4 Most Popular Videos
				= render @populars
				.clearfix
				%hr/
			%h4 Latest Videos
			= render @videos
			.clearfix
			%hr/
		- else
			.container
				.row
					%h5
						There is no videos available.
						- if !current_user.student?
							= link_to "Upload a new video here.", new_video_path
			
/ %h1 Listing online_learnings

/ %table
/   %thead
/     %tr
/       %th
/       %th
/       %th

/   %tbody
/     - @online_learnings.each do |online_learning|
/       %tr
/         %td= link_to 'Show', online_learning
/         %td= link_to 'Edit', edit_online_learning_path(online_learning)
/         %td= link_to 'Destroy', online_learning, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br

/ = link_to 'New Online learning', new_online_learning_path
