= simple_form_for(@group) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :tagline
    = f.input :description
    = f.input :isPublic
    / = f.association :user, as: :hidden, input_html: { value: current_user.id }
    = f.file_field :avatar
    = f.file_field :background


  .form-actions
    = f.button :submit
