%h5
	%small
		%b= link_to "Societies", groups_path
%ul.nav.nav-pills.nav-stacked
	%li
		= link_to new_group_path do
			%i.fa.fa-plus
			%span Add Society
	- if @groups != nil && @groups != []
		= render @groups
	