.container.better.m-y-md
  .row
    .col-md-8
      %h1 Groups
    .col-md-4
      = link_to new_group_path, class: "pull-right btn btn-pill btn-primary" do
        %i.fa.fa-plus
        Create Society
    .clearfix

    - @groups.each do |group|
      .col-md-3
        .panel.panel-default.panel-profile
          .panel-heading{style: "background: url(#{image_path group.background.url});"}
          .panel-body.text-center
            = link_to group_path(group), style: "text-decoration: none;" do
              = image_tag group.avatar.url, class: "panel-profile-img", style: "background-color: #fff;"
              %h5.panel-title= group.title
            %p.m-b-md= truncate group.description, length: 50
            - if current_user.in_group?(group)
              = link_to unfollow_group_path(group), class: "btn btn-danger-outline btn-sm" do
                %i.fa.fa-user-times
                Unfollow
            - else
              = link_to join_group_path(group), class: "btn btn-primary-outline btn-sm" do
                %i.fa.fa-user-plus
                Follow
