.container.better
	.row.profile
		.col-md-3
			.profile-sidebar
				.profile-userpic{ style: "background: url(#{ image_path @group.background.url });"}
					= link_to "#", "data-toggle" => "modal", "data-target" => ".mod_description" do
						= image_tag @group.avatar.url, class: "img-responsive"

				.profile-usertitle
					.profile-usertitle-name
						= @group.title
					.profile-usertitle-job
						= @group.tagline

				.profile-userbuttons
					- if current_user.groups.include?(@group)
						= link_to "Leave Group", unfollow_group_path(@group), class: "btn btn-sm btn-warning"
					- else
						/ = simple_form_for [@group, @membership], :url => group_memberships_path(@group, @membership), :method => :post do |f|
						/ = f.button :submit, "Join", class: "btn btn-sm btn-success"
						= link_to "Join Group", join_group_path(@group), class: "btn btn-sm btn-success"

					= link_to "Settings", edit_group_path(@group), class: "btn btn-sm btn-danger"

				.profile-usermenu
					%ul.nav
						%li.active
							= link_to group_path(@group) do
								%i.fa.fa-home
								Overview
						%li
							= link_to "#" do
								%i.fa.fa-clipboard
								Only Posts
						%li
							= link_to "#" do
								%i.fa.fa-play
								Media
						%li
							= link_to "#" do
								%i.fa.fa-users
								Members

		.col-md-9
			.profile-content
				= render 'activities/timeline'	


		.clearfix

		.modal.fade.mod_description{ "tabindex" => -1, :role => "dialog", "aria-labelledby" => "Group Description"}
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						%button.close{ :type => "button", "aria-dismiss" => "modal", "aria-label" => "Close"}
							%span{"aria-hidden" => true} &times;
						.modal-title
							%h4= @group.title
					.modal-body
						%b Society Description:
						%p= @group.description

		/ %p
		/ 	%b User:
		/ 	= @group.user.full_name
