#user-panel.panel.panel-default.visible-md-block.visible-lg-block
	.panel-body
		%h5.m-t-0
			Basic Information
			%small
				·
				= link_to "Edit", edit_user_registration_path
		%ul.list-unstyled.list-spaced
			- if @user.human?
				- if @user.gender != "" && @user.gender != nil
					%li
						.col-md-1
							%span.text-muted.fa.fa-user.m-r
						.col-md-10
							%small (Gender)
							= @user.gender
				- if @user.city != "" && @user.country != "" && @user.country != nil && @user.city != nil
					%li
						.col-md-1
							%span.text-muted.fa.fa-map-marker.m-r
						.col-md-10
							%small Lives in 
							#{@user.city}, #{@user.country}
				- if @user.dob != "" && @user.dob != nil
					%li
						.col-md-1
							%span.text-muted.fa.fa-birthday-cake.m-r
						.col-md-10
							%small Born in 
							= @user.dob.to_s(:long)
				- if @user.tutor?
					/ - if @user.years_experience != "" && @user.years_experience != nil
					/ 	%li
					/ 		.col-md-1
					/ 			%span.text-muted.fa.fa-birthday-cake.m-r
					/ 		.col-md-10
					/ 			= @user.years_experience
					- if @user.uni_graduated_at != "" && @user.uni_graduated_at != nil
						%li
							.col-md-1
								%span.text-muted.fa.fa-university.m-r
							.col-md-10
								= @user.uni_graduated_at
					- if @user.degree_type != "" && @user.degree_type != nil
						%li
							.col-md-1
								%span.text-muted.fa.fa-graduation-cap.m-r
							.col-md-10
								= @user.degree_type
					- if @user.profession != "" && @user.profession != nil
						%li
							.col-md-1
								%span.text-muted.fa.fa-briefcase.m-r
							.col-md-10
								= @user.profession	
					- if @user.skype != "" && @user.skype != nil
						%li
							.col-md-1
								%span.text-muted.fa.fa-skype.m-r
							.col-md-10
								= @user.skype

			- elsif @user.building?
				- if @user.university?
					- if @user.ucas_code != "" && @user.ucas_code != nil
						%li
							.col-md-1
								%span.text-muted.fa.fa-graduation-cap.m-r
							.col-md-10
								= @user.ucas_code
				- if @user.business?
					- if @user.company_number != "" && @user.company_number != nil
						%li
							.col-md-1
								%span.text-muted.fa.fa-building.m-r
							.col-md-10
								= @user.company_number
					- if @user.industry != "" && @user.industry != nil
						%li
							.col-md-1
								%span.text-muted.fa.fa-industry.m-r
							.col-md-10
								= @user.industry
					- if @user.number_of_employees != "" && @user.number_of_employees != nil
						%li
							.col-md-1
								%span.text-muted.fa.fa-users.m-r
							.col-md-10
								= @user.number_of_employees.to_s
				- if @user.address1 != "" && @user.address1 != nil
					%li
						.col-md-1
							%span.text-muted.fa.fa-location-arrow.m-r
						.col-md-10
							= @user.address1
							- if @user.address2 != "" && @user.address3 != nil
								= @user.address2
							- if @user.address3 != "" && @user.address3 != nil
								= @user.address3
				- if @user.post_code != "" && @user.post_code != nil
					%li
						.col-md-1
							%span.text-muted.fa.fa-map-o.m-r
						.col-md-10
							= @user.post_code
				- if @user.city != "" && @user.country != "" && @user.city != nil && @user.country != nil
					%li
						.col-md-1
							%span.text-muted.fa.fa-map-marker.m-r
						.col-md-10
							#{@user.city}, #{@user.country}
				- if @user.contact_email != "" && @user.contact_email != nil
					%li
						.col-md-1
							%span.text-muted.fa.fa-at.m-r
						.col-md-10
							= link_to @user.contact_email, "mailto:#{@user.contact_email}"
				- if @user.phone_number != "" && @user.phone_number != nil
					%li
						.col-md-1
							%span.text-muted.fa.fa-phone.m-r
						.col-md-10
							= @user.phone_number
				- if @user.website_link != "" && @user.website_link != nil
					%li
						.col-md-1
							%span.text-muted.fa.fa-globe.m-r
						.col-md-10
							= link_to @user.website_link, @user.website_link 


