.row.panel{style: "border: 1px solid #CECECE;"}
  .col-md-4.bg_blur{ style: "background-image:url(#{ image_path @user.background.url });" }
  .col-md-8.col-xs-12
    = image_tag @user.avatar.url(:medium), class: "img-thumbnail picture hidden-xs"
    = image_tag @user.avatar.url(:medium), class: "img-thumbnail visible-xs picture_mob"
    .header
      - if @user.full_name != nil
        %h1= @user.full_name
      - else
        %h1= @user.username
      %h4
        = @user.roles.first.name.camelize
        - if @user.student?
          %span.label.label-default.rank-label= 'BM: '+@user.benchmark.to_s
      %blockquote
        %p Dream big dreams. Small dreams have no magic.
      .pull-right{style: "margin-right: 70px;"}
        - if current_user != @user
          = action_buttons(@user)
    .row.nav{style: "padding-bottom: 0px;"}
      .col-md-8.col-md-offset-2.col-xs-12.navButtons{style: "padding: 0px; padding-top: 37px;"}
        - if @user.student?
          = link_to user_path(@user.username) do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-comments-o
          = link_to medium_path(@user.username) do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-camera-retro
          = link_to user_vita_path(@user.username) do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-video-camera
          = link_to user_benchmark_reports_path(@user.username) do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-area-chart
        - if @user.business?
          = link_to application_forms_path do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-bookmark
          = link_to medium_path(@user.username) do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-newspaper-o
          = link_to user_job_applications_path(@user.username) do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-files-o
          = link_to user_path(@user.username) do
            .col-md-3.col-xs-3.well{ style: "border: 0px;" }
              %i.fa.fa-comments-o


/ .profile-header.text-center{:style => "background-image: url(#{ image_path @user.background.url }); "}
/   .container-fluid
/     .container-inner
/       .profile-header-container
/         .profile-header-img
/           = image_tag @user.avatar.url, class: "img-circle media-object"
/         - if @user.student?
/           .rank-label-container
/             %span.label.label-default.rank-label= 'BM: '+@user.benchmark.to_s

/       %h3.profile-header-user
/         - if @user.full_name != nil
/           = @user.full_name
/         - else
/           = @user.username
/       %p.profile-header-bio= @user.roles.first.name.camelize
/   - if @friends.any? || @user == current_user
/     %nav.profile-header-nav
/       %ul.nav.nav-tabs
/         - if @user.student?
/           %li.active
/             = link_to user_path(@user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/               %i.fa.fa-comments-o{ style: "color: #50b36e; font-weight: bold;"}
/               Streamline
/           %li
/             = link_to medium_path(@user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/               %i.fa.fa-camera-retro{ style: "font-weight: bold; color: #3c9bcf;" }
/               Gallery
/           - if !current_user.business?
/             %li
/               = link_to user_ex_files_path(@user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/                 %i.fa.fa-files-o{ style: "font-weight: bold; color: #000;" }
/                 Exchange Notes
/         - elsif @user.business?
/           / -if @user.university?
/           /   %li
/           /     = link_to medium_path(@user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/           /       %i.fa.fa-camera-retro{ style: "color: #3097d1; font-weight: bold;" }
/           /       University Updates
/           /   %li
/           /     = link_to user_ex_files_path(@user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/           /       %i.fa.fa-folder-o{ style: "color: #3097d1; font-weight: bold;" }
/           /       University Folder
/           / - elsif @user.business?
/           %li
/             = link_to application_forms_path, style: "font-size: 19px; font-weight: bold; color: #fff;" do
/               %i.fa.fa-bookmark{ style: "color: #3c9bcf; font-weight: bold;" }
/               CV Library
/           %li
/             = link_to medium_path(@user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/               %i.fa.fa-newspaper-o{ style: "color: #d9c918; font-weight: bold;" }
/               Gallery
/           / %li
/           /   = link_to folders_path(@user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/           /     %i.fa.fa-files-o{ style: "color: #3097d1; font-weight: bold;" }
/           /     Company Reports
/           %li
/             = link_to user_job_applications_path(@user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/               %i.fa.fa-files-o{ style: "color: #bd502b; font-weight: bold;" }
/               Jobs Archive
/           %li.active
/             = link_to user_path(@user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
/               %i.fa.fa-comments-o{ style: "color: #50b36e; font-weight: bold;"}
/               My Seeds
/         - if @user.student?
/           %li
/             = link_to user_benchmark_reports_path(@user.username), style: "font-size: 19px; font-weight: bold; color: #fff;", "data-no-turbolink" => true do
/               %i.fa.fa-area-chart{ style: "font-weight: bold; color: #bd502b;"}
/               Benchmark
