.panel.panel-default.panel-profile.m-b-md{ style: "margin-top: 0px; margin-bottom: 0px !important;"}
	.panel-heading{:style => "background-image: url(#{ image_path current_user.background.url });"}
	.panel-body.text-center
		= link_to( image_tag(current_user.avatar.url(:medium), class: "panel-profile-img"), user_path(current_user.username), :class=>"work")
		%h5.panel-title
			- if current_user.full_name != nil
				= link_to current_user.full_name, user_path(current_user.username), class: "text-inherit"
			- else
				= link_to current_user.username, user_path(current_user.username), class: "text-inherit"
		%p.m-b-md
			= current_user.roles.first.name.camelize
			%br/
			= raw(@quote)
		%ul.panel-menu
			%li.panel-menu-item
				- if current_user.human?
					%a.text-inherit{:href => "/users?people=friends"}
						Friends
						%h5.m-y-0= @friend_count != nil ? @friend_count : "0"
				- else
					%a.text-inherit{:href => "/users?people=friends"}
						Followers
						%h5.m-y-0 0
			- if current_user.student?
				%li.panel-menu-item
					= link_to user_benchmark_reports_path(current_user.username), class: "text-inherit" do
						Benchmark
						%h5.m-y-0= current_user.benchmark
						/ %h5.m-y-0= @friend_count != nil ? @friend_count : "0"
			/ %li.panel-menu-item
			/ 	%a.text-inherit{"data-toggle" => "modal", :href => "#userModal"}
			/ 		Followers
			/ 		%h5.m-y-0 1
