/ .col-md-3
/ 	.thumbnail
/ 		= link_to user_path(user.username) do
/ 			= image_tag user.avatar.url(:medium)
/ 	.caption
/ 		%h3
/ 			-if user.full_name != nil
/ 				= user.full_name
/ 			- else
/ 				= user.username
/ 		- if current_user
/ 			= action_buttons(user)

/ .col-md-3
/ 	.panel.panel-default.panel-profile
/ 		.panel-heading{:style => "background-image: url(#{ image_path user.background.url(:original) });"}
/ 		.panel-body.text-center
/ 			.profile-header-container
/ 				.profile-header-img
/ 					= link_to user_path(user.username) do
/ 						= image_tag user.avatar.url(:medium), class: "panel-profile-img"
/ 			- if user.student?
/ 				.rank-label-container
/ 					%span.label.label-default.rank-label= 'BM: '+user.benchmark.to_s
/ 			%h5.panel-title
/ 				= link_to user_path(user.username), style: "text-decoration: none;" do	
/ 					-if user.full_name != nil
/ 						= user.full_name
/ 					- else
/ 						= user.username
/ 			/ %p.m-b-md Big belly rude boy, million dollar hustler. Unemployed.
/ 			- if current_user
/ 				= action_buttons(user)

%li.list-group-item
	.media
		= link_to user_path(user.username), class: "media-left" do
			= image_tag user.avatar.url(:medium), class: "media-object img-circle"
		.media-body
			- if current_user
				= action_buttons(user)
			%strong
				= link_to user_path(user.username), style: "text-decoration: none;" do	
					- if user.full_name != nil
						= user.full_name
					- else
						= user.username
					- if user.student?
						%span.label.label-danger BM: #{user.benchmark.to_s}
			- unless user.city == nil && user.country == nil
				%small #{ user.city }, #{ user.country }