.better
.jumbotron.text-center
	%h2 Our Users
	.btn-group{"aria-label" => "Default Button Groups", :role => "group"}
		/ %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
		/ 	Pachacha
		/ 	%span.caret
		/ %ul.dropdown-menu{:role => "menu"}
		/ 	%li
		/ 		= link_to "Everyone", users_path, class: "btn btn-default #{'active' unless params[:people]}"
		/ 	%li.divider
		/ 	%li
		/ 		%a{:href => "#"} Students
		/ 	%li
		/ 		%a{:href => "#"} Tutors
		/ 	%li
		/ 		%a{:href => "#"} Universities
		/ 	%li
		/ 		%a{:href => "#"} Businesses
		/ ==== SELECT ====
		%select.btn.btn-default{:style => "height: 37px;", :name => "usertype", :onchange => "location = this.options[this.selectedIndex].value;"}
			%option{:value => "#{users_path}"} Everyone
			%option{:value => "#{users_path(people: 'students')}"} Students
			/ %option{:value => "#{users_path(people: 'tutors')}"} Tutors
			/ %option{:value => "#{users_path(people: 'universities')}"} Universities
			%option{:value => "#{users_path(people: 'businesses')}"} Businesses
		= link_to "Friends (#{@friend_count})", users_path(people: "friends"), class: "btn btn-default #{'active' if params[:people] == 'friends'}"
		= link_to "Requests (#{request_count})", users_path(people: "requests"), class: "btn btn-default #{'active' if params[:people] == 'requests'}"
		= link_to "Pending (#{@pending_count})", users_path(people: "pending"), class: "btn btn-default #{'active' if params[:people] == 'pending'}"
	/ %ul.nav.nav-pills
	/ 	%li
	/ 		= link_to users_path, class: "#{'active' unless params [:people]}"
	/ 			%span.fa.fa-bullhorn
	/ 			Everyone
	/ 	%li
	/ 		%a{:href => "#"}
	/ 			%span.icon.icon-bell
	/ 			Notifications
	/ 	%li
	/ 		%a{:href => "#"}
	/ 			%span.icon.icon-users
	/ 			Members

.container.m-t
	.row
		.col-md-6
			%h3 Members
			%ul.media-list.media-list-users.list-group
				= render @members
		.col-md-6
			- if @businesses != nil && @businesses != []		
				%h3 Businesses
				%ul.media-list.media-list-users.list-group
					= render @businesses


