%div{style: "padding-top: 35px;"}
= render 'header'
/ .better{ style: "background-color: #30526E;"}
.container
	.row
		- if @friends.any? || @user == current_user || @user.business?
			.col-md-3
				/ = render 'about'
			.col-md-6
				%ul.list-group.media-list.media-list-stream
					- if current_user
						= render 'posts/form'
					= render 'activities/timeline'
			.col-md-3
				/ = render 'activities/quote'
				= render 'activities/whatsnew'
				/ = render 'classified/ads'
