#fullscreen_bg.fullscreen_bg{ style: "background-image: url('#{ image_path 'landing/SEED-students.jpg'}');"}
.container
	%h1.form-signin-heading.text-muted{ style: "padding-top: 100px; color: #44A762;"} Change your password
	= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
		= f.error_notification
		= f.input :reset_password_token, as: :hidden
		= f.full_error :reset_password_token
		.col-md-6.col-md-offset-3
			.form-inputs
				= f.input :password, label: "New password", required: true, autofocus: true, input_html: { class: "form-control log"}
				= f.input :password_confirmation, label: "Confirm your new password", required: true, input_html: { class: "form-control log"}
			%br/
			.form-actions
				= f.button :submit, "Change my password", class: "btn btn-lg btn-primary btn-block form-control"
	= render "devise/shared/links"
