#fullscreen_bg.fullscreen_bg{ style: "background-image: url('#{ image_path 'landing/SEED-students.jpg'}');"}
.container
	%h1.form-signin-heading.text-muted{ style: "padding-top: 100px; color: #44A762;"} Forgot your password?
	= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
		= f.error_notification
		.col-md-6.col-md-offset-3
			.form-inputs
				= f.input :email, required: true, autofocus: true, input_html: { class: "form-control log"}
			%br/	
			.form-actions
				= f.button :submit, "Send me reset link", class: "btn btn-lg btn-primary btn-block form-control"
	/ = render "devise/shared/links"
