= simple_form_for(@job_application) do |f|
  = f.error_notification

  .form-inputs
    = f.input :company_name, label: false, placeholder: "Company", html_input: { class: "form-control"}
    = f.input :industry, label: false, html_input: {class: "form-control"}, :collection => [["Accounting", "Accounting"],["Airlines/Aviation", "Airlines/Aviation"],["Alternative Dispute Resolution", "Alternative Dispute Resolution"],["Alternative Medicine", "Alternative Medicine"],["Animation", "Animation"],["Apparel & Fashion", "Apparel & Fashion"],["Architecture & Planning", "Architecture & Planning"],["Arts and Crafts", "Arts and Crafts"],["Automotive", "Automotive"],["Aviation & Aerospace", "Aviation & Aerospace"],["Banking", "Banking"],["Biotechnology", "Biotechnology"],["Broadcast Media", "Broadcast Media"],["Building Materials", "Building Materials"],["Business Supplies and Equipment", "Business Supplies and Equipment"],["Capital Markets", "Capital Markets"],["Chemicals", "Chemicals"],["Civic & Social Organization", "Civic & Social Organization"],["Civil Engineering", "Civil Engineering"],["Commercial Real Estate", "Commercial Real Estate"],["Computer & Network Security", "Computer & Network Security"],["Computer Games", "Computer Games"],["Computer Hardware", "Computer Hardware"],["Computer Networking", "Computer Networking"],["Computer Software", "Computer Software"],["Construction", "Construction"],["Consumer Electronics", "Consumer Electronics"],["Consumer Goods", "Consumer Goods"],["Consumer Services", "Consumer Services"],["Cosmetics", "Cosmetics"],["Dairy", "Dairy"],["Defense & Space", "Defense & Space"],["Design", "Design"],["Education Management", "Education Management"],["E-Learning", "E-Learning"],["Electrical/Electronic Manufacturing", "Electrical/Electronic Manufacturing"],["Entertainment", "Entertainment"],["Environmental Services", "Environmental Services"],["Events Services", "Events Services"],["Executive Office", "Executive Office"],["Facilities Services", "Facilities Services"],["Farming", "Farming"],["Financial Services", "Financial Services"],["Fine Art", "Fine Art"],["Fishery", "Fishery"],["Food & Beverages", "Food & Beverages"],["Food Production", "Food Production"],["Fund-Raising", "Fund-Raising"],["Furniture", "Furniture"],["Gambling & Casinos", "Gambling & Casinos"],["Glass, Ceramics & Concrete", "Glass, Ceramics & Concrete"],["Government Administration", "Government Administration"],["Government Relations", "Government Relations"],["Graphic Design", "Graphic Design"],["Health, Wellness and Fitness", "Health, Wellness and Fitness"],["Higher Education", "Higher Education"],["Hospital & Health Care", "Hospital & Health Care"],["Hospitality", "Hospitality"],["Human Resources", "Human Resources"],["Import and Export", "Import and Export"],["Individual & Family Services", "Individual & Family Services"],["Industrial Automation", "Industrial Automation"],["Information Services", "Information Services"],["Information Technology and Services", "Information Technology and Services"],["Insurance", "Insurance"],["International Affairs", "International Affairs"],["International Trade and Development", "International Trade and Development"],["Internet", "Internet"],["Investment Banking", "Investment Banking"],["Investment Management", "Investment Management"],["Judiciary", "Judiciary"],["Law Enforcement", "Law Enforcement"],["Law Practice", "Law Practice"],["Legal Services", "Legal Services"],["Legislative Office", "Legislative Office"],["Leisure, Travel & Tourism", "Leisure, Travel & Tourism"],["Libraries", "Libraries"],["Logistics and Supply Chain", "Logistics and Supply Chain"],["Luxury Goods & Jewelry", "Luxury Goods & Jewelry"],["Machinery", "Machinery"],["Management Consulting", "Management Consulting"],["Maritime", "Maritime"],["Marketing and Advertising", "Marketing and Advertising"],["Market Research", "Market Research"],["Mechanical or Industrial Engineering", "Mechanical or Industrial Engineering"],["Media Production", "Media Production"],["Medical Devices", "Medical Devices"],["Medical Practice", "Medical Practice"],["Mental Health Care", "Mental Health Care"],["Military", "Military"],["Mining & Metals", "Mining & Metals"],["Motion Pictures and Film", "Motion Pictures and Film"],["Museums and Institutions", "Museums and Institutions"],["Music", "Music"],["Nanotechnology", "Nanotechnology"],["Newspapers", "Newspapers"],["Nonprofit Organization Management", "Nonprofit Organization Management"],["Oil & Energy", "Oil & Energy"],["Online Media", "Online Media"],["Outsourcing/Offshoring", "Outsourcing/Offshoring"],["Package/Freight Delivery", "Package/Freight Delivery"],["Packaging and Containers", "Packaging and Containers"],["Paper & Forest Products", "Paper & Forest Products"],["Performing Arts", "Performing Arts"],["Pharmaceuticals", "Pharmaceuticals"],["Philanthropy", "Philanthropy"],["Photography", "Photography"],["Plastics", "Plastics"],["Political Organization", "Political Organization"],["Primary/Secondary Education", "Primary/Secondary Education"],["Printing", "Printing"],["Professional Training & Coaching", "Professional Training & Coaching"],["Program Development", "Program Development"], ["Public Policy", "Public Policy"],["Public Relations and Communications", "Public Relations and Communications"],["Public Safety", "Public Safety"],["Publishing", "Publishing"],["Railroad Manufacture", "Railroad Manufacture"],["Ranching", "Ranching"],["Real Estate", "Real Estate"],["Recreational Facilities and Services", "Recreational Facilities and Services"],["Religious Institutions", "Religious Institutions"],["Renewables & Environment", "Renewables & Environment"],["Research", "Research"],["Restaurants", "Restaurants"],["Retail", "Retail"],["Security and Investigations", "Security and Investigations"],["Semiconductors", "Semiconductors"],["Shipbuilding", "Shipbuilding"],["Sporting Goods", "Sporting Goods"],["Sports", "Sports"],["Staffing and Recruiting", "Staffing and Recruiting"],["Supermarkets", "Supermarkets"],["Telecommunications", "Telecommunications"],["Textiles", "Textiles"],["Think Tanks", "Think Tanks"],["Tobacco", "Tobacco"],["Translation and Localization", "Translation and Localization"],["Transportation/Trucking/Railroad", "Transportation/Trucking/Railroad"],["Utilities", "Utilities"],["Venture Capital & Private Equity", "Venture Capital & Private Equity"],["Veterinary", "Veterinary"],["Warehousing", "Warehousing"],["Wholesale", "Wholesale"],["Wine and Spirits", "Wine and Spirits"], ["Wireless", "Wireless"], ["Writing and Editing", "Writing and Editing"]], :label_method => :last, :value_method => :first, :as => :select, :prompt => " Industry" # multiselect
    = f.input :job_title, label: false, placeholder: "Job Title", html_input: { class: "form-control"}
    / = f.input :experience
    = f.input :experience, label: false, html_input: { class: "form-control"}, :collection => [["Executive", 'Executive'], ["Director", "Director"], ["Mid-Senior Level", "Mid-Senior Level"], ["Associate", "Associate"], ["Entry Level", "Entry Level"], ["Internship", "Internship"], ["Not Applicable", "Not Applicable"], ["Other", "Other"]], :label_method => :last, :value_method => :first, :as => :select, :prompt => " Experience"
    = f.input :job_function, label: false, html_input: { class: "form-control"}, :collection => [["Accounting/Auditing", "Accounting/Auditing"],["Administrative", "Administrative"],["Advertising", "Advertising"],["Analyst", "Analyst"],["Art/Creative", "Art/Creative"],["Business Development", "Business Development"],["Consulting", "Consulting"],["Customer Service", "Customer Service"],["Distribution", "Distribution"],["Design", "Design"],["Education", "Education"],["Engineering", "Engineering"],["Finance", "Finance"],["General Business", "General Business"],["Human Resources", "Human Resources"],["Information Technology", "Information Technology"],["Legal", "Legal"],["Management", "Management"],["Manufacturing", "Manufacturing"],["Marketing", "Marketing"],["Other", "Other"],["Public Relations", "Public Relations"],["Purchasing", "Purchasing"],["Product Management", "Product Management"],["Project Management", "Project Management"],["Production", "Production"],["Quality Assurance", "Quality Assurance"],["Research", "Research"],["Sales", "Sales"],["Science", "Science"],["Strategy/Planning", "Strategy/Planning"],["Supply Chain", "Supply Chain"],["Training", "Training"],["Writing/Editing", "Writing/Editing"], ["Health Care Provider", "Health Care Provider"]], :label_method => :last, :value_method => :first, :as => :select, :prompt => " Job Function" # multiselect
    / = f.input :employment_type, label: "Employment Type"
    = f.input :employment_type, label: false, html_input: { class: "form-control"}, :collection => [["Full-Time", 'Full-Time'], ["Part-Time", "Part-Time"], ["Contract", "Contract"], ["Temporary", "Temporary"], ["Voluntary", "Voluntary"], ["Other", "Other"]], :label_method => :last, :value_method => :first, :as => :select, :prompt => " Employment Type"
    = f.input :job_description, label: false, placeholder: "Job Description", html_input: { class: "form-control"}
    = f.input :deadline, html5: true

    / = f.input :cat


    = f.input :cat, label: false, html_input: { class: "form-control"}, :collection => [["job", 'Job Offer'], ["Course", "Course Offers"], ["Other", "Other"]], :label_method => :last, :value_method => :first, :as => :select, :prompt => " Category"

    = f.input :city, label: false, placeholder: "City", html_input: { class: "form-control"}
    = f.input :country, label: false, prompt: " Country", html_input: { class: "form-control"}
    %br/
    = f.label :picture, "Add an Image:"
    = f.file_field :picture
    = f.input :public, label: "Save as Draft"
    
  .form-actions
    = f.button :submit







