.container.better
	.row
		%h1 Editing Opportunity

		= render 'form'

		= link_to 'Show', @job_application
		\|
		= link_to 'Delete', @job_application, :method => :delete, :data => { :confirm => 'Are you sure?' }
		\|
		= link_to 'Back', job_applications_path
