-# .better{ style: "background-color: #30526E;" }
%div{ style: "padding-top:35px;"}
= render 'header'
.container.better
	.row
		%h3 Jobs Posted
		%br/
		- if @job_applications.any?
			.row
				.col-md-2
					%b Title
				.col-md-2
					%b Company
				.col-md-2
					%b Industry
				.col-md-2
					%b Function
				.col-md-1
					%b Apply By
				.col-md-3
				- @job_applications.each do |job|
					%hr/
					.row{:id => "job_application#{job.guid}"}
						.col-md-2
							= job.job_title
							%br/
							= image_tag job.picture.url(:thumb), width: 100
						.col-md-2= job.company_name
						.col-md-2= job.industry
						.col-md-2= job.job_function
						.col-md-1= Date.current.to_s(:short)
						- if job.user_id == current_user.id
							.col-md-3
								= link_to 'Details', job_application_path(job.guid), class: "btn btn-danger btn-xs btn-pill"
								= link_to 'Edit', edit_job_application_path(job.guid), class: "btn btn-info btn-xs btn-pill"
								= link_to 'Applications', "#collapse_job#{job.guid}", class: "btn btn-xs btn-pill btn-warning", "role" => "button", "data-toggle" => "collapse", "aria-expanded" => false, "aria-controls" => "collapse_job#{job.guid}"
						- else
							.col-md-3
								= link_to 'Details', job_application_path(job.guid), class: "btn btn-danger btn-xs btn-pill"
					.row.collapse{:id => "collapse_job#{job.guid}"}
						%br/
						.row
							- if job.application_forms.any?
								.col-md-2
									%b Name
								.col-md-6
									%b CV and Cover Letter
								- job.application_forms.each do |application|
									%hr/
									- if application.sharing == true
										.col-md-2= link_to "#{application.user.full_name} (#{application.user.benchmark})", user_path(application.user.username)
										- if application.cv_description != nil && application.cv_description != ""
											.col-md-2= truncate(application.cv_description)
										- if application.cl_description != nil && application.cl_description != ""
											.col-md-2= truncate(application.cl_description)
										- if application.cv_doc != nil && application.cv_doc != "" && application.cv_doc_file_name != nil
											.col-md-2= link_to "Download CV", application.cv_doc.url
										- if application.cl_doc != nil && application.cl_doc != "" && application.cl_doc_file_name != nil
											.col-md-2= link_to "Download Cover Letter", application.cl_doc.url
										.clearfix
									- else
										.col-md-2= application.user.full_name
										- if application.cv_description != nil && application.cv_description != ""
											.col-md-2= application.cv_description
										- if application.cl_description != nil && application.cl_description != ""
											.col-md-2= application.cl_description
										- if application.cv_doc != nil && application.cv_doc != "" && application.cv_doc_file_name != nil
											.col-md-2= link_to "Download CV", application.cv_doc.url
										- if application.cl_doc != nil && application.cl_doc != "" && application.cl_doc_file_name != nil
											.col-md-2= link_to "Download Cover Letter", application.cl_doc.url
										.clearfix
							- else
								%h5 There are no applications for this job.

		- else
			%p There are no jobs available at the time.
