.container
  .row
    #job_application
      .col-md-7
        / %p#notice= notice
        
        %h3= @job_application.job_title 
      
        %p
          %b Company Name:
          = @job_application.company_name
        %p
          %b Industry:
          = @job_application.industry
        %p
          %b Job Title:
          = @job_application.job_title
        %p
          %b Experience:
          = @job_application.experience
        %p
          %b Job function:
          = @job_application.job_function
        %p
          %b Employment type:
          = @job_application.employment_type
        %p
          %b Job description:
          = @job_application.job_description
        %p
          %b City:
          = @job_application.city
        %p
          %b Country:
          = @job_application.country
        %h5
          %b Deadline:
          = @job_application.deadline
      
      .col-md-4.col-md-offset-1
        %br/
        = image_tag @job_application.picture.url, class: "img-responsive", width: 400

      .clearfix
    
      - if @job_application.user == current_user
        - if @job_application.sale != nil
          / Maybe put this in a accordeon
          - if current_user.student?
            %hr/
            #application_form
              %h3 Application Form
              = render 'application_forms/form'    
        - else
          The opportunity has been created. However, to be public, we charge a fee of £1.49 to publish it.
          Click on the button below to proceed with the payment.
          
          = form_tag job_application_transactions_path(@job_application.slug) do
            = render :partial => 'transactions/purchase', locals: {sellable: @job_application}

        = link_to 'Edit', edit_job_application_path(@job_application)
        \|
        = link_to 'Delete', @job_application, :method => :delete, :data => { :confirm => 'Are you sure?' }
        \|
        = link_to '< Back', job_applications_path, class: "btn btn-info"
