%h1 Listing interest_activities

%table
  %thead
    %tr
      %th Name
      %th Description
      %th User
      %th
      %th
      %th

  %tbody
    - @interest_activities.each do |interest_activity|
      %tr
        %td= interest_activity.name
        %td= interest_activity.description
        %td= interest_activity.user
        %td= link_to 'Show', interest_activity
        %td= link_to 'Edit', edit_interest_activity_path(interest_activity)
        %td= link_to 'Destroy', interest_activity, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Interest activity', new_interest_activity_path
