%p#notice= notice

%p
  %b Name:
  = @interest_activity.name
%p
  %b Description:
  = @interest_activity.description
%p
  %b User:
  = @interest_activity.user

= link_to 'Edit', edit_interest_activity_path(@interest_activity)
\|
= link_to 'Back', interest_activities_path
