.container-fluid.better
  .row{ style: "padding-top: 25px;"}
    %h2.text-center Skills
    / %table
    /   %thead
    /     %tr
    /       %th Name
    /       %th Done
    /       %th Detailbook
    /       %th
    /       %th
    /       %th

    /   %tbody
    - @skills.each do |skill|
      .col-md-3
        .panel.panel-info.text-center
          %h4= skill.name
          - if skill.users.any?
            - skill.users.each do |user|
              = link_to user_path(user.username) do
                = image_tag user.avatar.url(:thumb), class: 'img-circle', width: 40
    /     %td= link_to 'Show', skill
    /     %td= link_to 'Edit', edit_skill_path(skill)
    /     %td= link_to 'Destroy', skill, :method => :delete, :data => { :confirm => 'Are you sure?' }

    / %br

    / = link_to 'New Skill', new_skill_path

