= simple_form_for(@video) do |f|
	= f.error_notification

	.form-inputs
		= f.input :title
		= f.input :description
		
		= f.label :content, "Upload your video"
		= f.file_field :content

		= f.association :lecture
		= f.association :category
	
	%br/

	.form-actions
		= f.button :submit
