.headline
	.col-md-9
		/ .panel.panel-default.text-center
		= link_to video_path(@headline.guid) do
			%h4
				= @headline.title
			= image_tag @headline.content.url(:thumb), class: "img img-responsive", style: "height: 340px; width: 652px;"
			/ %br/
				
