.related{style: "padding-top: 20px;"}
	.col-md-3
		- @related.each do |related|
			= link_to video_path(related.guid) do
				= related.title
				= image_tag related.content.url(:thumb), width: 130, class: "img-responsive"
									
