.container.better
  .row
    %h1 Listing videos

    %table.table
      %thead
        %tr
          %th Title
          %th Description
          %th Lecture
          %th
          %th
          %th

      %tbody
        - @videos.each do |video|
          %tr
            %td= video.title
            %td= video.description
            %td= video.lecture
            %td= link_to 'Show', video_path(video.guid)
            %td= link_to 'Edit', edit_video_path(video.guid)
            %td= link_to 'Destroy', video_path(video.guid), :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Video', new_video_path
