.container.better.better
	.row
		
		/ = debug @video.content.url

		= videojs_rails sources: { mp4: @video.content.url }, setup: "{}", controls: true, autoplay: true, width:'100%', height: "550", poster: @video.content.url(:thumb)

		/ = video_tag @video.content.url, controls: true, autoplay: true, class: "img img-responsive"
		
		/ Title & Views
		.panel.panel-default
			/ Title
			.col-md-10
				%h4= @video.title
			/ Views
			.col-md-2
				%h4
					- if @video.view_count != 0 && @video.view_count != nil
						= @video.view_count
						- if @video.view_count == 1
							view
						- else
							views 
			.clearfix	
		
		%hr/

		.panel.panel-default
			.container
				.row
					%p
						%b 
							Published at
							= @video.created_at.to_date.to_s(:short)	
				
					- if @video.description != ""
						%p
							%b Description:
							%br/
							= @video.description
					
					%p
					- if @video.lecture_id != nil
						%b Lecture:
						= @video.lecture
					
					- if @video.category_id != nil
						%b Category:
						= link_to @video.category.title, category_path(@video.category)

		%br/
		- if !current_user.student?
			= link_to 'Edit', edit_video_path(@video.guid)
			\|
		= link_to 'Back', online_learnings_path
