.container.better
	.row
		%h1= params[:hashtag]
		- if @hashtagged
			- @hashtagged.each do |hashtagged|
				= render_hashtaggable hashtagged
		- else
			%p 
				There is no match for the
				%em= params[:hashtag]
				hashtag.