.better
.container.p-t-md
  .row
    .spacer
    .col-md-12
      / we'll configure this to compose new conversations later 
      = link_to "Compose", new_conversation_path, class: "btn btn-success"
      .spacer

    .col-md-4
      .panel.panel-default
        .panel-body
          = render 'mailbox/folders'

    .col-md-8
      .panel.panel-default
        .panel-body
          - if is_conversation
            = render 'conversations/form'
          - else
            - if messages.any?
              = render partial: 'conversations/conversation', collection: messages
            - else
              %h4 There are no messages.