-# .panel.panel-default
-#   .panel-heading
-#     %h3.panel-title= event.title
-#   .panel-body
-#     %p
-#       = event.description
-#       %br/
-#       %br/
-#       = event.location
-#       %br/
-#       = event.city
-#       , #{event.country}
-#       %br/
-#       %br/
-#       Starts:
-#       %b= event.start_time.to_s(:short)
-#       \|
-#       Ends:
-#       %b= event.end_time.to_s(:short)
-#     %p
-#       Organized by:
-#       %b= link_to event.user.full_name, user_path(event.user.username)

-#	<li>
-#		<time datetime="2014-07-20">
-#			<span class="day">4</span>
-#			<span class="month">Jul</span>
-#			<span class="year">2014</span>
-#			<span class="time">ALL DAY</span>
-#		</time>
-#		<img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />
-#		<div class="info">
-#			<h2 class="title">Independence Day</h2>
-#			<p class="desc">United States Holiday</p>
-#		</div>
-#		<div class="social">
-#			<ul>
-#				<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
-#				<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
-#				<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
-#			</ul>
-#		</div>
-#	</li>

%li
	%time{ "datetime" =>  "#{event.start_time.to_date}"}
		%span.day= event.start_time.day
		%span.month= event.start_time.month
		%span.year= event.start_time.year
		%span.time= event.start_time.time

	.info
		%h2.title= event.title
		%p.desc= event.description
