.col-xs-12.col-sm-12.col-md-4.well{ style: "padding: 10px;"}
  %legend
    %i.fa.fa-globe
    Event
  = simple_form_for(@event) do |f|
    = f.error_notification

    = f.input :title, label: false, placeholder: "Event Name"
    = f.input :description, label: false, placeholder: "Message"
    .row
      = f.label "Event Time"
      = f.input :start_time, as: :datetime_picker, label: false, placeholder: "Starts at"
      = f.input :end_time, as: :datetime_picker, label: false, placeholder: "Ends at"

    .row
      = f.label "Event Location"
      = f.input :location, label: false, placeholder: "Where?"
      = f.input :city, label: false, placeholder: "City"
      = f.input :country, label: false

    .row
      = f.label "Type of Event"
      = f.input :category, collection: [['Professional Networking', "pro"] ,['Social Networking', "soc"]], label: false

    = f.button :submit, class: "btn btn-primary btn-block btn-lg"

.clearfix



-# = simple_form_for(@event) do |f|
-#   = f.error_notification
-#
-#   .form-inputs
-#     = f.input :title
-#     = f.input :description
-#     = f.input :start_time, as: :datetime_picker
-#     = f.input :end_time, as: :datetime_picker
-#     = f.input :location
-#     = f.input :city
-#     = f.input :country
-#     = f.collection_radio_buttons :category, [["pro", ' Professional Networking   '] ,["soc", ' Social Networking']], :first, :last
-#
-#   .form-actions
-#     = f.button :submit


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-globe"></i></a> Evento</legend>
            <form action="#" method="post" class="form" role="form">
            <input class="form-control" name="eventName" placeholder="Nombre del evento" type="text" />
            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
            <label for="">
                Fecha del evento</label>
            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <select class="form-control">
                        <option value="Day">Day</option>
                    </select>
                </div>
                <div class="col-xs-4 col-md-4">
                    <select class="form-control">
                        <option value="Month">Month</option>
                    </select>
                </div>
                <div class="col-xs-4 col-md-4">
                    <select class="form-control">
                        <option value="Year">Year</option>
                    </select>
                </div>
            </div>
            <label>Razón</label>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <select class="form-control">
                        <option value="Tipo">Tipo (cena, quedada, etc...)</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Crear evento</button>
            </form>
        </div>
    </div>
