%h5
	%small
		%b= link_to "Events", events_path
%ul.nav.nav-pills.nav-stacked
	%li
		= link_to new_event_path do
			%i.fa.fa-calendar-plus-o
			%span Add Event
	- if @events != nil && @events != []
		- @events.each do |event|
			%li
				= link_to event_path(event) do
					%i.fa.fa-calendar-check-o
					%span= event.title
	