.container.better
	.row
		%h1 Editing event

		= render 'form'
		%br

		= link_to 'Show', @event
		\|
		- if @event.user_id == current_user.id
			= link_to 'Delete', @event, :method => :delete, :data => { :confirm => 'Are you sure?' }
		\|
		= link_to 'Back', events_path
