.container.better.m-y-md
  .row
    .col-md-4
      #calendar{style: "padding-top: 25px;"}

    .col-md-8
      .col-md-4
        %h3=link_to "Upcoming Events", events_path
      .col-md-2{style: "padding-top: 20px;"}
        = link_to events_path(type: "pro"), class: "btn btn-default", style: "margin-left: -48px;" do
          - if !current_user.tutor?
            Professional Networking
          - else
            National Seminars
      .col-md-2{style: "padding-top: 20px;"}
        = link_to events_path(type: "soc"), class: "btn btn-default" do
          - if !current_user.tutor?
            Social Networking
          - else
            International Seminars
      .col-md-2.text-center{style: "padding-top: 20px;"}
        = link_to 'Workshops', events_path(type: "ws"), class: "btn btn-default"
      .col-md-1.text-center{style: "padding-top: 20px;"}
        = link_to 'Add New +', new_event_path, class: "btn btn-primary"
      %br/
      .clearfix
      %div{:class => "[ col-xs-12 col-sm-12 ]"}
        %ul.event-list
          = render "upcoming"
