.container.better
  .row

    %p#notice= notice

    %p
      %b Title:
      = @event.title
    %p
      %b Description:
      = @event.description
    %p
      %b Start time:
      = @event.start_time
    %p
      %b End time:
      = @event.end_time
    %p
      %b Location:
      = @event.location
    %p
      %b City:
      = @event.city
    %p
      %b Country:
      = @event.country

    = link_to 'Edit', edit_event_path(@event)
    \|
    = link_to 'Back', events_path
