= simple_form_for(@friendship) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user
    = f.input :friend_id
    = f.input :state
    = f.input :friended_at

  .form-actions
    = f.button :submit
