%h1 Listing friendships

%table
  %thead
    %tr
      %th User
      %th Friend
      %th State
      %th Friended at
      %th
      %th
      %th

  %tbody
    - @friendships.each do |friendship|
      %tr
        %td= friendship.user
        %td= friendship.friend_id
        %td= friendship.state
        %td= friendship.friended_at
        %td= link_to 'Show', friendship
        %td= link_to 'Edit', edit_friendship_path(friendship)
        %td= link_to 'Destroy', friendship, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Friendship', new_friendship_path
