%p#notice= notice

%p
  %b User:
  = @friendship.user
%p
  %b Friend:
  = @friendship.friend_id
%p
  %b State:
  = @friendship.state
%p
  %b Friended at:
  = @friendship.friended_at

= link_to 'Edit', edit_friendship_path(@friendship)
\|
= link_to 'Back', friendships_path
