%h3 SEED: TERMS OF WEBSITE USE – STUDENTS 

%p
	%b ALL STUDENTS MUST READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THIS SITE

%h4 Terms of website use

%p These terms of use (together with the documents referred to in it) tells you (the student) the terms of use on which you may make use of our website www.seed.ac (our site), whether as a guest or a registered user. Use of our site includes accessing, browsing, or registering to use our site.
%p Please read these terms carefully before you start to use our site, as these will apply to your use of our site. We recommend that you print a copy of this for future reference. 
%p By using our site, you confirm that you accept these terms and that you agree to comply with them. 
%p Our site is a professional learning platform service for undergraduate students, tutors, postgraduates and alumni to use in order to enhance the educational experience of students generally, create academic profiles, connect with other students and academics by exchanging knowledge (by acceptable academic means), obtain assistance and interact and as such, any attempt to use our site in a non-professional or non-academic way will mean that you will lose the right to use our site.

%p Our site also provides for businesses to advertise to the users of the site including job opportunities, internships, and work placements. Your profile on the site may be seen by potential employers, and as such it is your responsibility to ensure that your profile is and remains professional.
 
%p If you do not agree to these terms of use, you must not use our site.

%hr/

%h4 Other applicable terms

%p These terms refer to the following additional terms, which also apply to your use of our site:
%ul
	%li Our #{ link_to "Privacy Policy", privacy_path, :target => "_blank" }, which sets out the terms on which we process any personal data we collect from you, or that you provide to us. By using our site, you consent to such processing and you warrant that all data provided by you is accurate. 
	%li Our #{ link_to "Cookie Policy", cookies_path, :target => "_blank" }, which sets out information about the cookies on our site.

%hr/

%h4 Information about us
%p SEED.ac is a site operated by Hirschel & Co Ltd ("We"). We are registered in England and Wales under company number 09574075 and have our registered office at 161 Forest Road, London E17 6HE. 

%hr/

%h4 Changes to these terms

%p We may revise these terms at any time by amending this page. 
%p Please check this page from time to time to take notice of any changes we made, as they are binding on you. 

%hr/

%h4 Changes to our site

%p We may update our site from time to time, and may change the content at any time. However, please note that any of the content on our site may be out of date at any given time, and we are under no obligation to update it.
%p We do not guarantee that our site, or any content on it, will be free from errors or omissions.

%hr/

%h4 Accessing our site

%p Our site is made available free of charge except that some services or facilities are only available for a fee as stated on the site.

%p You may only access our site with a valid email address from a recognised university.

%p Please note that we work very closely with universities and as such by accessing our site you must also comply with your university’s own terms and conditions in relation to its academic requirements and any other requirements.

%p We do not guarantee that our site, or any content on it, will always be available or be uninterrupted. Access to our site is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or any part of our site without notice. We will not be liable to you if for any reason our site is unavailable at any time or for any period.
%p You are responsible for making all arrangements necessary for you to have access to our site.
%p You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms and any other applicable terms and conditions, and that they are complied with.
%p Our site is directed to people residing in the United Kingdom. We do not represent that content available on or through our site is appropriate or available in other locations. We may limit the availability of our site or any service or product described on our site to any person or geographic area at any time. If you choose to access our site from outside the United Kingdom, you do so at your own risk.
%p We may change or suspend any service at our discretion including changing any pricing on our site.

%hr/ 

%h4 Your account and password

%p If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential. You must not disclose it to any third party.

%p We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any of the provisions of these terms of use.

%p Our site allows messaging and sharing of information in many ways, such as your profile, job opportunities etc. Please note that information and content that you share or post may be seen by others or, if public, by visitors to our site. Where we have made settings available, we will honor the choices you make about who can see content or information (e.g., sharing to a group instead of your network, setting for content from public to a more restricted view, limiting your profile visibility). Note that other activities, such as applying for a job, are by default private, only visible to the addressee(s).
%p We are not obligated to publish any information or content on our site and can remove it in our sole discretion, with or without notice.

%p If you know or suspect that anyone other than you knows your user identification code or password, you must promptly notify us at #{ link_to "info@seed.ac", "mailto:info@seed.ac", :target => "_blank" }.

%hr/

%h4 Prohibited uses

%p You may use our site only for lawful purposes.  You may not use our site:

%ul
	%li To send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards such as plagiarised work.
	%li You may not submit assignments, coursework or any work that you have submitted to an education organisation for the purpose of assessment. You may submit lecture notes.
	%li In any way that breaches any applicable local, national or international law or regulation including for the avoidance of doubt any academic regulations specifically relating to plagiarism or attempting to gain an unfair advantage.  Students should treat their academic work (submitted for assessment) as their own property, and it is the student’s responsibility to protect their own work.
	%li Any attempt on the part of one or more students to gain an unfair advantage may be construed as academic misconduct and dealt with under the relevant university’s academic regulations, irrespective of whether any benefit was gained by the student(s) concerned.  This could lead to expulsion from your university!  
	%li In any way to offer essay writing services or the like, we offer anti-plagiarism and grammatical services (as well as other similar services) and we will not tolerate any attempt to offer essay writing services.
	%li In any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect.
	%li For the purpose of harming or attempting to harm minors in any way.
	%li To transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam).
	%liTo knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.
%p You also agree:
%ul
	%li Not to reproduce, duplicate, copy or re-sell any part of our site in contravention of the provisions of our terms of website use.
	%li Not to access without authority, interfere with, damage or disrupt:
	%ul 
		%li any part of our site;
		%li any equipment or network on which our site is stored; 
		%li any software used in the provision of our site; or 
		%li any equipment or network or software owned or used by any third party.

%hr/

%h4 Interactive services
%p 
	We may from time to time provide interactive services on our site, including, without limitation, chat rooms, bulletin boards etc (
	%b> interactive services
	).
%p Where we do provide an interactive service, we will provide clear information to you about the kind of service offered, if it is moderated and what form of moderation is used (including whether it is human or technical).
%p We will do our best to assess any possible risks for users from third parties when they use any interactive service provided on our site, and we will decide in each case whether it is appropriate to use moderation of the relevant service (including what kind of moderation to use) in the light of those risks. However, we are under no obligation to oversee, monitor or moderate any interactive service we provide on our site, and we expressly exclude our liability for any loss or damage arising from the use of any interactive service by a user in contravention of our content standards, whether the service is moderated or not. 
%p Where we do moderate an interactive service, we will normally provide you with a means of contacting the moderator, should a concern or difficulty arise.
%p If you decide to receive tutoring services via our site, you must perform your own due diligence in relation to the tutor to ensure that they are the most appropriate tutor.  We will not be part of any contract regarding the tutoring services. We not accept any responsibility for the tutor or the services that they supply.

%hr/ 

%h4 Content standards
%p 
	These content standards apply to any and all material which you contribute to our site (
	%b> contributions
	), and to any interactive services associated with it. The users of our site will create content in relation to information that they wish to share.  As this content is created by the user over which we have no control, we make no representation, warranty or guarantee, whether express or implied, that the content on our site is accurate, complete or up-to-date and we will not be liable for any loss or damage arising from any errors in the content. 
%p You must comply with the spirit and the letter of the following standards. The standards apply to each part of any contribution as well as to its whole.
%p
	%b Contributions must:
%ul
	%li Be accurate (where they state facts).
	%li Be genuinely held (where they state opinions).
	%li Comply with applicable law in the UK and in any country from which they are posted.
%p
	%b Contributions must not:
%ul
	%li Contain any material which is defamatory of any person.
	%li Contain any material which is obscene, offensive, hateful or inflammatory.
	%li Contain any material that has been plagiarised, or for the purpose of others plagiarising.
	%li Promote sexually explicit material.
	%li Promote violence.
	%li Promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.
	%li Infringe any copyright, database right or trade mark of any other person.
	%li Be likely to deceive any person.
	%li Be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence.
	%li Promote any illegal activity.
	%li Be threatening, abuse or invade another’s privacy, or cause annoyance, inconvenience or needless anxiety.
	%li Be likely to harass, upset, embarrass, alarm or annoy any other person.
	%li Be used to impersonate any person, or to misrepresent your identity or affiliation with any person.
	%li Give the impression that they emanate from us, if this is not the case.
	%li Advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse.
%p	
	%b Uploading content to our site
%ul 
	%li	Whenever you make use of a feature that allows you to upload content to our site, or to make contact with other users of our site, you must comply with this policy.
	%li You warrant that any such contribution does comply with those standards, and you will be liable to us and indemnify us for any breach of that warranty. If you are a consumer user, this means you will be responsible for any loss or damage we suffer as a result of your breach of warranty.
	%li Any content you upload to our site will be considered non-confidential and non-proprietary. You retain all of your ownership rights in your content, but you are required to grant us and other users of the site a limited licence to use, store and copy that content and to distribute and make it available to third parties. The rights you license to us are described in the paragraph ‘Rights you licence’.
	%li We also have the right to disclose your identity to any third party who is claiming that any content posted or uploaded by you to our site constitutes a violation of their intellectual property rights, or of their right to privacy.
	%li We will not be responsible, or liable to any third party, for the content or accuracy of any content posted by you or any other user of our site.
	%li We have the right to remove any posting you make on our site if, in our opinion, your post does not comply with the content standards set out in this policy.
	%li The views expressed by other users on our site do not represent our views or values.
	%li You are solely responsible for securing and backing up your content as we do not provide storage services.
	%li You must ensure that your profile picture is professional.

%p
	%b Benchmarking
%p We may provide a benchmarking system for our users, whereby the more active users of our site receive certain points and rewards may be offered to the most active users scoring the highest points.  We shall determine in our sole discretion all matters arising from the benchmarking scoring system.
%p
	%b Books
%p Books may be offered for sale and/or exchange by other users.  We only provide a platform for these books to be sold and/or exchanged.  We do not accept any responsibility for the sale or purchase of any books as the legal contract is made between the respective users and not us.


%hr/ 

%h4 Suspension and termination
%p We will determine, in our discretion, whether there has been a breach of this acceptable use policy through your use of our site.  When a breach of this policy has occurred, we may take such action as we deem appropriate.  
%p Failure to comply with this policy constitutes a material breach of the terms of use upon which you are permitted to use our site, and may result in our taking all or any of the following actions:
%ul
	%li Immediate, temporary or permanent withdrawal of your right to use our site.
	%li Immediate, temporary or permanent removal of any posting or material uploaded by you to our site.
	%li Issue of a warning to you.
	%li Legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach.
	%li Further legal action against you.
	%li Disclosure of such information to law enforcement authorities as we reasonably feel is necessary.
%p We exclude liability for actions taken in response to breaches of this policy.  The responses described in this policy are not limited, and we may take any other action we reasonably deem appropriate.

%hr/

%h4 Intellectual property rights
%p We are the owner or the licensee of all intellectual property rights in our site, and in the material published on it.  Those works are protected by copyright laws and treaties around the world. All such rights are reserved.
%p You may print off one copy, and may download extracts, of any page from our site for your personal use and you may draw the attention of others within your organisation to content posted on our site.
%p You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.
%p Our status and that of any identified contributors, as the authors of content on our site, must always be acknowledged.
%p You must not use any part of the content on our site for commercial purposes without obtaining a licence to do so from us or our licensors.
%p If you print off, copy or download any part of our site in breach of these terms, your right to use our site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.

%hr/

%h4 No reliance on information
%p The content on our site is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content on our site.
%p Although we make reasonable efforts to update the information on our site, we make no representations, warranties or guarantees, whether express or implied, that the content on our site is accurate, complete or up-to-date.

%hr/

%h4 Changes to this policy
%p We may revise this policy at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we make, as they are legally binding on you. Some of the provisions contained in this acceptable use policy may also be superseded by provisions or notices published elsewhere on our site.

%hr/ 

%h4 Limitation of our liability
%p Nothing in these terms of use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by English law.
%p To the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to our site or any content on it, whether express or implied. 
%p We will not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:
%ul
	%li use of, or inability to use, our site; or
	%li use of or reliance on any content displayed on our site. 
%p If you are a consumer user, please note that we only provide our site for domestic and private use. You agree not to use our site for any commercial or business purposes, and we have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.
%p We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any content on it, or on any website linked to it.
%p We assume no responsibility for the content of websites linked on our site. Such links should not be interpreted as endorsement by us of those linked websites. We will not be liable for any loss or damage that may arise from your use of them.

%hr/

%h4 Viruses
%p We do not guarantee that our site will be secure or free from bugs or viruses.
%p You are responsible for configuring your information technology, computer programmes and platform in order to access our site. You should use your own virus protection software.
%p You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.

%hr/

%h4 Linking to our site
%p You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part.
%p Our site must not be framed on any other site, nor may you create a link to any part of our site other than the home page.
%p If you wish to make any use of content on our site other than that set out above, please contact #{ link_to "info@seed.ac", "mailto:info@seed.ac", :target => "_blank"}.

%hr/

%h4 Third party links and resources in our site
%p Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only.
%p We have no control over the contents of those sites or resources.
%hr/

%h4 Applicable law
%p Please note that these terms of use, its subject matter and its formation, are governed by English law. You and We both agree that the courts of England and Wales will have exclusive jurisdiction. 

%hr/

%h4 Contact us
%p To contact us, please email #{ link_to "info@seed.ac", "mailto:info@seed.ac", :target => "_blank"}.
%p Thank you for visiting our site.
