.container
	.row.text-center
		%h1 About Us

		SEED.ac is a refashioned learning platform. Where businesses and students interact among themself.


		%h5 Coming Soon
		
		%hr/

		/ %h3 Our Team
		
		/ .col-md-12{"data-wow-delay" => "0.5s"}
		/ 	#quote-carousel.carousel.slide{"data-ride" => "carousel"}
		/ 		/ Bottom Carousel Indicators
		/ 		%ol.carousel-indicators
		/ 			%li.active{"data-slide-to" => "0", "data-target" => "#quote-carousel"}
		/ 				%img.img-responsive{:alt => "", :src => "https://media.licdn.com/media/p/1/005/091/378/1905cd8.jpg"}
		/ 			%li{"data-slide-to" => "1", "data-target" => "#quote-carousel"}
		/ 				%img.img-responsive{:src => "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/005/062/19f/28543d9.jpg", :alt => ""}
		/ 			%li{"data-slide-to" => "2", "data-target" => "#quote-carousel"}
		/ 				%img.img-responsive{:alt => "", :src => "https://media.licdn.com/media/p/5/005/091/2cc/048e62e.jpg "}
		/ 			%li{"data-slide-to" => "3", "data-target" => "#quote-carousel"}
		/ 				= image_tag "landing/detailbook_shapol.jpg", class: "img-responsive"
		/ 		/ Carousel Slides / Quotes
		/ 		.carousel-inner.text-center
		/ 			/ Quote 1
		/ 			.item.active
		/ 				%blockquote
		/ 					.row
		/ 						.col-sm-8.col-sm-offset-2
		/ 							%h4 Bledar Uruci
		/ 							%p Business Developer
		/ 			/ Quote 2
		/ 			.item
		/ 				.row
		/ 					.col-sm-8.col-sm-offset-2
		/ 						%h4 Jorge Miranda
		/ 						%p IT Developer
		/ 			/ Quote 3
		/ 			.item
		/ 				.row
		/ 					.col-sm-8.col-sm-offset-2
		/ 						%h4 Farhad Safen
		/ 						%p Operations Manager
		/ 			/ Quote 4
		/ 			.item
		/ 				.row
		/ 					.col-sm-8.col-sm-offset-2
		/ 						%h4 Shapol Shwani
		/ 						%p IT Developer
		/ 		/ Carousel Buttons Next/Prev
		/ 		%a.left.carousel-control{"data-slide" => "prev", :href => "#quote-carousel"}
		/ 			%i.fa.fa-chevron-left
		/ 		%a.right.carousel-control{"data-slide" => "next", :href => "#quote-carousel"}
		/ 			%i.fa.fa-chevron-right





		.logo-brand.text-center
			SEED
		
		/ = image_tag("landing/detailbook-logo-circle.png", align: "middle", class: "img-responsive") 