.container.better.m-y-md   
	.row
		.text-center
			.btn-group{"aria-label" => "Default Button Groups", :role => "group"}
				= link_to 'New Community Post', new_community_post_path, class: "btn btn-default"
				= link_to 'Find Universities', find_university_path , class: "btn btn-default"
				= link_to 'Find Tutors', find_tutor_path, class: "btn btn-default"
		/ .col-md-2
		%h2= link_to "Most Popular Tutors", find_tutor_path
		/ .col-md-1{style: "padding-top: 25px;"}
		/ 	= link_to "Books", classifieds_path(type: "boo"), class: "btn btn-default"
		/ .col-md-7{style: "padding-top: 25px;"}
		/ 	= link_to "Accommodations", classifieds_path(type: "acco"), class: "btn btn-default"
		/ .col-md-2.text-center{style: "padding-top: 25px;"}
			  
		/ 	= link_to 'Add New  +', new_classified_path, class: "btn btn-primary"
		.clearfix
		%hr/

		= render @classifieds