%section#home.ready.show-login{ style: "background-image: url(#{image_path 'landing/landingheader.jpg'}); background-position: center; background: cover; opacity: 0.9;"}
  .container
    .row
      .col-md-4.col-md-offset-4.col-xs-12.v-center
        -# .pr-wrap
          .pass-reset
            = form_for(:user, :url => password_path(:user)) do |f|
              = f.label :email, "Enter the email you signed up with"
              = f.text_field :email, label: false, placeholder: "Email Address"
              = f.submit 'Submit', class: "pass-reset-submit btn btn-success btn-sm"
        .myForm{ style: "background-color: rgba(2, 79, 115, 0.2);"}
          .login
            .logo-brand.text-center
              %span{ style: "color: #50b36e; margin-right: 0px; font-family: Open Sans"} S
              %span{ style: "color: #d9c918; margin: 0 -10px;"} E
              %span{ style: "color: #bd502b; margin: 0 -2px;"} E
              %span{ style: "color: #3c9bcf; margin: 0 -10px;"} D
              %p{ style: "color: #fff; margin-top: -15px; padding-bottom: 15px;"} Learn By Doing

            = simple_form_for(:user, :url => session_path(:user)) do |f|
              = f.input :login, label: false, placeholder: "Username or Email", input_html: { class: "form-control" }
              = f.input :password, label: false, placeholder: "Password", input_html: { class: "form-control" }
              = f.input :remember_me, as: :boolean
              = f.button :submit, 'Sign in', class:  "btn btn-lg btn-block btn-primary", style: "background-color: #007BC1; color: white; box-shadow: 0 2px 1.5px 0 rgba(0,0,0,.12),0 0 4px 0 rgba(0,0,0,.12)"
              .forgot-pass-content
                = link_to "Forgot your password?", "javascript:;", class: "forget", "data-toggle" => "modal", "data-target" => ".forget-modal", style: "color: #fff;"
            .new-member.content
              .btn-group.show-on-hover{ :style => "padding-right: 10px; margin: 28px 0px 0px 0px;" }
                %button.btn.btn-primary.btn-block.dropdown-toggle{"data-toggle" => "dropdown", :type => "button", style: "background-color: #007BC1; color: white; box-shadow: 0 2px 1.5px 0 rgba(0,0,0,.12),0 0 4px 0 rgba(0,0,0,.12)"}
                  Register
                  / %span.caret
                %ul.dropdown-menu{:role => "menu", :style => "min-width: 107px;"}
                  %li
                    = link_to "Members", "javascript:showMemberRegistration();"
                  %li
                    = link_to "Business", "javascript:showBusinessRegistration();"
          .member_register.hidden
            .logo-brand.text-center
              %span{ style: "color: #50b36e; margin-right: 0px;"} S
              %span{ style: "color: #d9c918; margin: 0 -10px;"} E
              %span{ style: "color: #bd502b; margin: 0 -2px;"} E
              %span{ style: "color: #3c9bcf; margin: 0 -10px;"} D
              %p{ style: "color: #fff;"} Register as a Member
              %p= link_to "Are you a business?", "javascript:showBusinessRegistration();"

            = simple_form_for(:user, :url => registration_path(:user)) do |f|
              = f.input :username, required: true, autofocus: true, label: false, placeholder: "Username or Student ID", html_input: {class: "form-control"}
              = f.input :email, required: true, label: false, placeholder: "Valid University Email", html_input: {class: "form-control"}
              = f.input :password, required: true, label: false, placeholder: "Password: 8 Characters minimum", html_input: {class: "form-control"}
              = f.input :password_confirmation, required: true, label: false, placeholder: "Password Confirmation", html_input: {class: "form-control"}
              = f.input :role, as: :hidden, input_html: { value: "s" }
              %p{ style: "color: white;"}
                By clicking Submit, you agree to to SEED's &nbsp
                %b>#{link_to 'Terms and Conditions', toc_path, :target => "_blank" }
                \.

              = f.button :submit, "Submit", class: "btn btn-lg btn-primary btn-block form-control"
            .login_content
              = link_to "Log in", "javascript:showLogin();", class: "btn btn-lg btn-block btn-success", id: "memberReg"
          .business_register.hidden
            .logo-brand.text-center
              %span{ style: "color: #50b36e; margin-right: 0px;"} S
              %span{ style: "color: #d9c918; margin: 0 -10px;"} E
              %span{ style: "color: #bd502b; margin: 0 -2px;"} E
              %span{ style: "color: #3c9bcf; margin: 0 -10px;"} D
              %p{ style: "color: #fff;"} Register as a Business
              %p= link_to "Are you a Member?", "javascript:showMemberRegistration();"

            = simple_form_for(:user, :url => registration_path(:user)) do |f|
              = f.input :full_name, required: true, autofocus: true, label: false, placeholder: "Company Name", html_input: { class: "form-control"}
              = f.input :username, required: true, label: false, placeholder: "Username (No Spaces)", html_input: {class: "form-control"}
              = f.input :email, required: true, label: false, placeholder: "Email Address", html_input: {class: "form-control"}
              = f.input :password, required: true, label: false, placeholder: "Password: 8 Characters minimum", html_input: {class: "form-control"}
              = f.input :password_confirmation, required: true, label: false, placeholder: "Password Confirmation", html_input: {class: "form-control"}
              = f.input :role, as: :hidden, input_html: { value: "b" }
              %p{ style: "color: white;"}
                By clicking Submit, you agree to to SEED's &nbsp
                %b>#{link_to 'Terms and Conditions', toc_path, :target => "_blank" }
                \.

              = f.button :submit, "Submit", class: "btn btn-lg btn-primary btn-block form-control"

            .login_content
              = link_to "Log in", "javascript:showLogin();", class: "btn btn-lg btn-block btn-success", id: "businessReg"

%header.navbar.navbar-default.topnav.navbar-fixed-top.hidden{role: "banner", style: "background-color: rgba(240, 240, 240, 0.2); border-bottom: none;"}
  .container
    .navbar-header
      %button.navbar-toggle{ type: "button", "data-toggle" => "collapse", "data-target" => "#navigation"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar


.modal.fade.forget-modal{"tabindex" => -1, :role => "dialog", "aria-labelledby" => "forgotModalLabel", "aria-hidden" => true}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"type" => "button", "data-dismiss" => "modal"}
          %span{"aria-hidden" => true}
            %i.fa.fa-remove
          %span.sr-only Close
        %h4.modal-title Password recovery
      .modal-body
        .pr-wrap
          .pass-reset
            = simple_form_for(:user, :url => password_path(:user)) do |f|
              -# = f.label :email, "Enter the email you signed up with"
              = f.input :email, label: false, placeholder: "Email Address"
              = f.button :submit, 'Submit', class: "pass-reset-submit btn btn-success btn-block"

%section#steps.what-is-seed
  .container
    .row
      .col-md-12.text-center

        %h1 Who are our customers?
        %br

        .col-md-10.col-md-offset-1{ style: "margin-left: 220px;" }
          .col-md-3.text-center
            %h4 Members
            %a{:style => "text-decoration:none;", :href => "#", "rel" => "tooltip", "data-toggle" => "popover", "data-placement" => "left", :title => "Members can connect with people within their University and other universities around the world. Attending workshops, social and professional networking events. Share study notes, seek support and enhancing skills. Get discovered by our passionate members and the wide range of opportunities available around the world."}
              = image_tag "landing/detailbook-student-1s.jpg", width: "200px", class: "img-circle", style: "border: 3px solid #3097d1;"
            %br

          .col-md-3.text-center
            / %h4{ style: "margin-bottom: 3px;"} My Community
            %h4 Societies

            %a{:style => "text-decoration:none;", :href => "#", "rel" => "tooltip", "data-toggle" => "popover", "data-placement" => "bottom", :title => "I hear and I forget. I see and I remember. I do and I understand."}
              = image_tag "landing/seed_community.jpg", width: "200px", class: "img-circle", style: "border: 3px solid #3097d1;"

          .col-md-3.text-center
            %h4 Businesses
            %a{:style => "text-decoration:none;", :href => "#", "rel" => "tooltip", "data-toggle" => "popover", "data-placement" => "right", :title => "Businesses can select candidates based on analytical benchmarks.", show: true }
              = image_tag "landing/seed_business_landing.jpg", width: "200px", class: "img-circle", style: "border: 3px solid #3097d1;"
            %br

      .clearfix

      %hr/

      -# / %br
      -# / %p
      -# /   Businesses can post jobs & select potential candidates
      .col-md-6.text-center
        / = image_tag 'landing/SEED-Logo-left3.png', width: "40%"
        = image_tag 'landing/seed_desc.gif', width: "85%", style: "margin-top: 15px;"
      .col-md-6
        %br
        %br
        %br
        %br
        %br
        %blockquote.text-center
          %p{ style: "font-size: 2em;"}
            %i "I hear and I forget;
          %p{ style: "font-size: 2em;"}
            %i I see and I remember;
          %p{ style: "font-size: 2em;"}
            %i I do and I understand"
          %p{ style: "margin-left: 60px; font-size: 2em;"}
            %b – Confucius
      / .col-md-4

      .clearfix

    %br/
    / #steps.row
    /   .col-lg-12
    /     %ul.timeline
    /       %li
    /         .timeline-image
    /           = image_tag "landing/detailbook-student-1s", width: "250px", class: "img-circle img-responsive"
    /         .timeline-panel
    /           .timeline-heading
    /             %h4 Students
    /             %h4.subheading Subtitle
    /           .timeline-body
    /             %p.text-muted
    /               Students can enhance their academic and employability skills.
    /         .time-line
    /       %li.timeline-inverted
    /         .timeline-image
    /           / %img.img-circle.img-responsive{:alt => "", :src => "http://lorempixel.com/250/250/cats/2"}/
    /           = image_tag "landing/detailbook-business-circle.png", width: "250px", class: "img-circle img-responsive"
    /         .timeline-panel
    /           .timeline-heading
    /             %h4 Businesses
    /             %h4.subheading Subtitle
    /           .timeline-body
    /             %p.text-muted
    /               Businesses can post jobs & select potential candidates.
    /         .time-line
    /       %li
    /         .timeline-image
    /           %img.img-circle.img-responsive{:alt => "", :src => "http://lorempixel.com/250/250/cats/3"}/
    /         .timeline-panel
    /           .timeline-heading
    /             %h4 My Community
    /             %h4.subheading Subtitle
    /           .timeline-body
    /             %p.text-muted
    /               Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


    / Second Row
    / #steps.row
    /   %h2{ style: "text-align: center;"}
    /     %b What makes us unique?
    /     %br/
    /     %br/
    /     %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/-xg2Wv9f0iI?rel=0&amp;showinfo=0", :width => "100%"}
    /   .col-md-2.text-center
    /     %h4 Interaction
    /     %p You can connect with people in your university and other universities around the world.
    /   .col-md-3.text-center
    /     %h4 Events
    /     %p Create, publish or attend your both upcoming social and professional networking events.
    /   .col-md-2.text-center
    /     %h4 Books
    /     %p You can simply buy, sell or swap your unwanted books through SEED's classifieds page.
    /   .col-md-3.text-center
    /     %h4 Notes
    /     %p Exchange and share your study notes with others to seek support & enhance your academic skills
    /   .col-md-2.text-center
    /     %h4 Opportunities
    /     %p Get discovered by our passionate companies & the wide range of opportunities available
    / .better
    %hr/
    %footer
      #steps.row
        .col-md-1.text-center
          = link_to "About Us", about_path, :target => "_blank"
        / .col-md-1.text-center
        /   = link_to "Contact Us", contact_path, :target => "_blank"
        .col-md-1.text-center
          = link_to "Privacy", privacy_path, :target => "_blank"
        .col-md-1.text-center
          = link_to "Terms", toc_path, :target => "_blank"
        / .col-md-1.text-center
        /   = link_to "Copyright", copyright_path, :target => "_blank"
        .col-md-2
          = link_to "Cookie Policy", cookies_path, :target => "_blank"
        .col-md-3

        .col-md-1

        .col-md-3{ style: "text-align: right; padding-right: 0px;"}
          = link_to "https://www.facebook.com/Seedac-952118311511605/?fref=ts", :target => "_blank" do
            %i.fa.fa-facebook-square
          &nbsp;&nbsp;
          All rights reserved © 2016
          = image_tag "landing/SEED-Logo-left-circle1.png", width: "30px", style: "margin-top: -5px;"

  /  #change-page
  /    This page can be changed to a custom landing page by creating
  /    %code app/views/home/_show.html.haml

-# / .alert.alert-info.fade-in
-# /   %button.close{"data-dismiss" => "alert"} x
-# .growl
-#   .alert.alert-dark.alert-dismissable{:role => "alert"}
-#     %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
-#       %span{"aria-hidden" => "true"} ×
-#     SEED has updated its cookie policy. We use cookies to ensure that we give you the best experience on our website.
-#     = link_to "Click here to read more.", privacy_path, :target => "_blank"
-#
-# %header#header-home
-#   / Added Register Button
-#   %ul.nav.navbar-nav.navbar-right{ :style => "padding-right: 13px; margin-top: -8px;"}
-#     / %li
-#     /   %a.btn.btn-default{:style => "text-decoration:none; padding: 6px 12px; margin: 25px 12px 0px 0px;", :href => "#", "rel" => "tooltip", "data-toggle" => "popover", "data-placement" => "bottom", :title => "Coming Soon"} My Community
-#
-#     / = link_to "My Community", community_posts_path, class: "btn btn-default", style: "padding: 6px 12px; margin: 25px 12px 0px 0px;"
-#     %li{ style: "margin-top: 17px; margin-right: 13px;"}
-#       / = simple_form_for(@user) do |f|
-#       /   = f.input :login
-#       /   = f.input :password
-#       /   = f.button :submit
-#
-#       / = simple_form_for(:user, :url => session_path(:user)) do |f|
-#       /   .col-xs-5{ style: "padding: 8px 0;"}
-#       /     = f.input :login, label: false, placeholder: "Username or Email", input_html: { class: "form-control" }
-#       /     = f.input :remember_me, as: :boolean, inline_label: "Yes, I'll visit again", style: "text-color: white;"
-#       /     / = f.label :remember_me
-#       /   .col-xs-5{ style: "padding: 8px 0; margin-right: 0px;"}
-#       /     = f.input :password, label: false, placeholder: "Password", input_html: { class: "form-control" }
-#       /     = link_to "Forgot your password?", new_password_path(:user), style: "color: white;"
-#       /   .col-xs-2
-#       /     = f.button :submit, 'Sign in', class:  "btn btn-sm btn-success", style: "margin-left: -12px; margin-top: 11px;"
-#       = form_for(:user, :url => session_path(:user)) do |f|
-#         .col-xs-5{ style: "padding: 12px 0;"}
-#           = f.text_field :login, label: false, placeholder: "Username or Email", input_html: { class: "form-control" }
-#           %br/
-#           = f.check_box :remember_me
-#           = f.label :remember_me, style: "color: white;"
-#           / = f.label :remember_me
-#         .col-xs-5{ style: "padding: 12px 0; margin-right: 0px;"}
-#           = f.password_field :password, label: false, placeholder: "Password", input_html: { class: "form-control" }
-#           %br/
-#           = link_to "Forgot your password?", new_password_path(:user), style: "color: white;"
-#         .col-xs-2
-#           = f.submit 'Sign in', class:  "btn btn-sm btn-success", style: "margin-left: -12px; margin-top: 11px;"
-#     %li.divider{"role" => "separator"}
-#     %li
-#       / %button.btn.btn-primary.navbar-btn{"data-toggle" => "popover", :style => "padding-top: 13px; padding-bottom: 13px;" }
-#       / Register
-#       .btn-group.show-on-hover{ :style => "padding-right: 10px; margin: 28px 0px 0px 0px;" }
-#         %button.btn.btn-primary.btn-sm.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
-#           Register
-#           / %span.caret
-#         %ul.dropdown-menu{:role => "menu", :style => "min-width: 107px;"}
-#           %li
-#             = link_to "Members", new_user_registration_path(t: "s")
-#           / %li
-#           /   = link_to "Tutor", new_user_registration_path(t: "t")
-#           / %li
-#           /   = link_to "University", new_user_registration_path(t: "u")
-#           %li
-#             = link_to "Business", new_user_registration_path(t: "b")
-#
-#       / .dropdown
-#       /   %button#regMenu.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :style => "padding-top: 13px; padding-bottom: 13px;" }
-#       /     Register
-#       /     %span.caret
-#       /   %ul.dropdown-menu{"aria-labelledby" => "regMenu"}
-#       /     %li
-#       /       = link_to "Student", new_user_registration_path(t: "s")
-#       /     %li
-#       /       = link_to "Tutor", new_user_registration_path(t: "t")
-#       /     %li
-#       /       = link_to "University", new_user_registration_path(t: "u")
-#       /     %li
-#       /       = link_to "Business", new_user_registration_path(t: "b")
-#       // Added Register Button
-#       / %li
-#       /   = link_to new_user_session_path, { :style => "padding: 25px 5px 0px 5px;"} do
-#       /     %button.btn.btn-success
-#       /       Log In
-#   .small.logo-brand{ :style => "color: #4eb76e; margin-bottom: -17px;" }
-#     %span{ style: "color: #50b36e; margin-right: 0px;" } S
-#     %span{ style: "color: #d9c918; margin: -10px;" } E
-#     %span{ style: "color: #bd502b; margin: -2px;" } E
-#     %span{ style: "color: #3c9bcf; margin: -10px;" } D
-#   / = image_path "landing/SEED-Logo-left.png"
-#   %span{ :style => "font-size: 1em; color: white;"}
-#     / The Learning Curve
-#     Learn By Doing
-# #page.container
-#   %br/
-#   #myCarousel.carousel.slide
-#     %ul.carousel-indicators
-#       %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
-#       / %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
-#       / %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
-#       / %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
-#       / %li{"data-slide-to" => "4", "data-target" => "#myCarousel"}
-#       / %li{"data-slide-to" => "5", "data-target" => "#myCarousel"}
-#       / %li{"data-slide-to" => "6", "data-target" => "#myCarousel"}
-#     / Carousel items
-#     .carousel-inner{ :style => "min-height: 220px;" }
-#       .active.item
-#         = image_tag "landing/seed_landing1.jpg", width: "100%"
-#         .carousel-caption
-#           %h4{ style: "color: #FFF;"} One click away - Free
-#       / .item
-#       /   = image_tag "landing/detailbook-library.jpg"
-#       /   .carousel-caption
-#       /     %h4 Enhance your skills by exchanging notes.
-#       / .item
-#       /   = image_tag "landing/detailbook-tutor_write.jpg"
-#       /   .carousel-caption
-#       /     %h4 Refashioned learning platform, where tutors can reach out to students in the easiest way.
-#       / .item
-#       /   = image_tag "landing/detailbook-event.jpg"
-#       /   .carousel-caption
-#       /     %h4 Create, publish and attend both social and profissional events.
-#       / .item
-#       /   = image_tag "landing/detailbook-Dubai.jpg"
-#       / .item
-#       /   = image_tag "landing/detailbook-world1.jpg"
-#     / Carousel nav
-#     %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
-#     %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
-#
-#
-#
-#   %br/
-#   / #banner.row
-#   /   %h1 Welcome, friend.
-#   /   %h3 You're about to change the Internet. Let's get you set up, shall wet?
-#   / #steps{ style: "background: url('#{ image_path 'landing/tree25.png' }');"}
  #steps
    .row


      .col-md-10.text-center.col-md-offset-1{style: "margin-left: 220px;"}

        .col-md-3.text-center
          %h4 Members
          %a{:style => "text-decoration:none;", :href => "#", "rel" => "tooltip", "data-toggle" => "popover", "data-placement" => "left", :title => "Members can connect with people within their University and other universities around the world. Attending workshops, social and professional networking events. Share study notes, seek support and enhancing skills. Get discovered by our passionate members and the wide range of opportunities available around the world."}
            = image_tag "landing/detailbook-student-1s.jpg", width: "200px", class: "img-circle", style: "border: 3px solid #3097d1;"
          %br

        .col-md-3.text-center
          / %h4{ style: "margin-bottom: 3px;"} My Community
          %h4 Societies

          %a{:style => "text-decoration:none;", :href => "#", "rel" => "tooltip", "data-toggle" => "popover", "data-placement" => "bottom", :title => "I hear and I forget. I see and I remember. I do and I understand."}
            = image_tag "landing/seed_community.jpg", width: "200px", class: "img-circle", style: "border: 3px solid #3097d1;"

-#           / %br
-#           / %p
-#           /   Students can enhance their academic and employability skills
-#         / .col-md-3.text-center
-#         /   %h4 Tutors
-#         /   = image_tag "landing/detailbook-tutor-circle.png", width: "128px"
-#         /   %br
-#         /   %br
-#         /   %p
-#         /     Tutors can teach students online
-#         / .col-md-3.text-center
-#         /   %h4 Universities
-#         /   = image_tag "landing/detailbook-unilecture_circle.png", width: "128px"
-#         /   %br
-#         /   %br
-#         /   %p
-#         /     Universities can enhance students' productivity
-#
-#         / %br
-#         / %p
-#         /   Businesses can post jobs & select potential candidates
-#
-#         .col-md-3.text-center
-#           %h4 Businesses
-#           %a{:style => "text-decoration:none;", :href => "#", "rel" => "tooltip", "data-toggle" => "popover", "data-placement" => "right", :title => "Businesses can select candidates based on analytical benchmarks.", show: true }
-#             = image_tag "landing/seed_business_landing.jpg", width: "200px", class: "img-circle", style: "border: 3px solid #3097d1;"
-#           %br
-#         .clearfix
-#
-#
-#       %hr/
-#
-#       / %br
-#       / %p
-#       /   Businesses can post jobs & select potential candidates
-#       .col-md-6.text-center
-#
-#         / = image_tag 'landing/SEED-Logo-left3.png', width: "40%"
-#         = image_tag 'landing/SEED COLOURFUL LOGO.png', width: "85%", style: "margin-top: 15px;"
-#       .col-md-6
-#         %br
-#         %br
-#         %br
-#         %br
-#         %br
-#         %blockquote.text-center
-#           %p
-#             %i "I hear and I forget;
-#           %p
-#             %i I see and I remember;
-#           %p
-#             %i I do and I understand"
-#           %p{ style: "margin-left: 60px;"}
-#             %b – Confucius
-#       / .col-md-4
-#
-#       .clearfix
-#
-#   %br/
-#   / #steps.row
-#   /   .col-lg-12
-#   /     %ul.timeline
-#   /       %li
-#   /         .timeline-image
-#   /           = image_tag "landing/detailbook-student-1s", width: "250px", class: "img-circle img-responsive"
-#   /         .timeline-panel
-#   /           .timeline-heading
-#   /             %h4 Students
-#   /             %h4.subheading Subtitle
-#   /           .timeline-body
-#   /             %p.text-muted
-#   /               Students can enhance their academic and employability skills.
-#   /         .time-line
-#   /       %li.timeline-inverted
-#   /         .timeline-image
-#   /           / %img.img-circle.img-responsive{:alt => "", :src => "http://lorempixel.com/250/250/cats/2"}/
-#   /           = image_tag "landing/detailbook-business-circle.png", width: "250px", class: "img-circle img-responsive"
-#   /         .timeline-panel
-#   /           .timeline-heading
-#   /             %h4 Businesses
-#   /             %h4.subheading Subtitle
-#   /           .timeline-body
-#   /             %p.text-muted
-#   /               Businesses can post jobs & select potential candidates.
-#   /         .time-line
-#   /       %li
-#   /         .timeline-image
-#   /           %img.img-circle.img-responsive{:alt => "", :src => "http://lorempixel.com/250/250/cats/3"}/
-#   /         .timeline-panel
-#   /           .timeline-heading
-#   /             %h4 My Community
-#   /             %h4.subheading Subtitle
-#   /           .timeline-body
-#   /             %p.text-muted
-#   /               Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
-#
-#
-#   / Second Row
-#   / #steps.row
-#   /   %h2{ style: "text-align: center;"}
-#   /     %b What makes us unique?
-#   /     %br/
-#   /     %br/
-#   /     %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/-xg2Wv9f0iI?rel=0&amp;showinfo=0", :width => "100%"}
-#   /   .col-md-2.text-center
-#   /     %h4 Interaction
-#   /     %p You can connect with people in your university and other universities around the world.
-#   /   .col-md-3.text-center
-#   /     %h4 Events
-#   /     %p Create, publish or attend your both upcoming social and professional networking events.
-#   /   .col-md-2.text-center
-#   /     %h4 Books
-#   /     %p You can simply buy, sell or swap your unwanted books through SEED's classifieds page.
-#   /   .col-md-3.text-center
-#   /     %h4 Notes
-#   /     %p Exchange and share your study notes with others to seek support & enhance your academic skills
-#   /   .col-md-2.text-center
-#   /     %h4 Opportunities
-#   /     %p Get discovered by our passionate companies & the wide range of opportunities available
-#   / .better
-#   %hr/
-#   %footer
-#     #steps.row
-#       .col-md-1.text-center
-#         = link_to "About Us", about_path, :target => "_blank"
-#       / .col-md-1.text-center
-#       /   = link_to "Contact Us", contact_path, :target => "_blank"
-#       .col-md-1.text-center
-#         = link_to "Privacy", privacy_path, :target => "_blank"
-#       .col-md-1.text-center
-#         = link_to "Terms", toc_path, :target => "_blank"
-#       / .col-md-1.text-center
-#       /   = link_to "Copyright", copyright_path, :target => "_blank"
-#       .col-md-2
-#         = link_to "Cookie Policy", cookies_path, :target => "_blank"
-#       .col-md-3
-#
-#       .col-md-1
-#
-#       .col-md-3{ style: "text-align: right; padding-right: 0px;"}
-#         = link_to "https://www.facebook.com/Seedac-952118311511605/?fref=ts", :target => "_blank" do
-#           %i.fa.fa-facebook-square
-#         &nbsp;&nbsp;
-#         All rights reserved © 2016
-#         = image_tag "landing/SEED-Logo-left-circle1.png", width: "30px", style: "margin-top: -5px;"
-#
-# /  #change-page
-# /    This page can be changed to a custom landing page by creating
-# /    %code app/views/home/_show.html.haml
