.container
	.row
		%h2 Terms and Conditions
		.col-sm-3
			%a.nav-tabs-dropdown.btn.btn-block.btn-primary{:href => "#"} Tabs
			%ul#nav-tabs-wrapper.nav.nav-tabs.nav-pills.nav-stacked.well
				%li.active
					%a{"data-toggle" => "tab", :href => "#vtab1"} For Students
				/ %li
				/ 	%a{"data-toggle" => "tab", :href => "#vtab2"} For Tutors
				/ %li
				/ 	%a{"data-toggle" => "tab", :href => "#vtab3"} For Universities
				%li
					%a{"data-toggle" => "tab", :href => "#vtab4"} For Businesses
		.col-sm-9
			.tab-content
				#vtab1.tab-pane.fade.in.active{:role => "tabpanel"}
					= render 'pages/student_toc'
				/ #vtab2.tab-pane.fade{:role => "tabpanel"}
				/ 	= render 'pages/tutor_toc'
				/ #vtab3.tab-pane.fade.in{:role => "tabpanel"}
				/ 	= render 'pages/university_toc'
				#vtab4.tab-pane.fade.in{:role => "tabpanel"}
					= render 'pages/business_toc'
