= simple_form_for(@poll) do |f|
	= f.error_notification

	.form-inputs
		= f.input :topic, required: true, class: "form-control"
	.panel.panel-default
		.panel-heading
			Options
		.panel-body
			= f.fields_for :vote_options do |options_form|
				= render 'vote_option_fields', f: options_form
			.links
				= link_to_add_association 'Add Option', f, :vote_options

	.form-actions
		= f.button :submit
