= form_tag poll_votes_path, method: :post, remote: true, id: 'voting_form' do
	= hidden_field_tag 'poll[id]', @poll.id

	= render partial: 'polls/vote_option', collection: @poll.vote_options, as: :option

	%p 
		%b 	
			Total votes:
			= @poll.votes_summary

	- if current_user.voted_for?(@poll)
		%p You have already voted!
	- else
		= submit_tag 'Vote', class: 'btn btn-lg btn-primary'


/ = simple_form_for @poll, method: :post, remote: true, id: 'voting_form' do |f|
/ 	= f.