.container.better
	.row

		%h1 Listing polls
				
		- if current_user
			%table.table
				%thead
					%tr
						%th Topic
						%th Voted
						/ %th
						/ %th
						%th

				%tbody
					- @polls.each do |poll|
						%tr
							%td= poll.topic
							%td= poll.votes_summary
							/ %td= poll.user
							%td= link_to 'Show', poll
							- if current_user.id == poll.user.id
								%td= link_to 'Edit', edit_poll_path(poll)
								%td= link_to 'Destroy', poll, :method => :delete, :data => { :confirm => 'Are you sure?' }

			%br

			= link_to 'New Poll', new_poll_path