.container.better
	.row
		/ %p#notice= notice

		/ %p
		/   %b Topic:
		/   = @poll.topic
		/ %p
		/   %b User:
		/   = @poll.user

		/ = link_to 'Edit', edit_poll_path(@poll)
		/ \|
		/ = link_to 'Back', polls_path
		%h1 Share your opinion:

		%h3= @poll.topic

		= render 'voting_form'