.panel.panel-default.visible-md-block.visible-lg-block{style: "margin-top: 0px;"}
	.panel-body
		.col-md-12
			%h5.m-t-0.text-center
				Advertisements
		/ .col-md-2
		/ 	= link_to '+', new_classified_path, class: "btn btn-success", style: "padding: 0px 10px;"
		.clearfix
		- if @classifieds != [] && @classifieds != nil
			= render @classifieds
		- else
			%p.text-center
				%br/
				Your ad goes here.
				%br/
				/ = link_to "Advertise here", new_classified_path
				For advertising, please send an email to
				%a{:href => "mailto:ad@seed.ac"} ad@seed.ac
