/ .col-md-12
/ 	.col-md-3
/ 		- if classified.pic.url != nil
/ 			= image_tag classified.pic.url, class: "img-responsive"
/ 	.col-md-9
/ 		%h3= classified.title
/ 		%p
/ 			= classified.description

/ 		%p
/ 			%b Posted By:
/ 			= link_to classified.user.full_name, user_path(classified.user)
/ 			%h4.text-center
/ 				= number_to_currency(classified.price, unit: "£")
/ 		%br/
/ 		%p.text-center
/ 			-if classified.availability = false
/ 				Not Available  
/ %hr/

/ .col-md-12.clearfix
/ 	.thumbnail.clearfix
/ 		= image_tag classified.pic.url, class: 'img-responsive col-md-4 clearfix'		

/ 		/ %img.img-responsive.col-md-4.clearfix{:alt => "ALT NAME", :src => "http://placehold.it/320x200", :style => "margin-right:10px"}
/ 		%a.btn-sm.btn-pill.btn-danger.icon.pull-right= number_to_currency(classified.price, unit: "£")

/ 		.pull-left
/ 			%h4
/ 				= link_to classified.title, classified_path(classified)
/ 				/ %a{:href => "#"} Luis Felipe Kaufmann
/ 				/ %small
/ 				/ 	%b> RG:
/ 				/ 	99384877

.row.carousel-row
	.col-xs-12.slide-row
		.carousel.slide.slide-carousel{ :id => "carousel-#{classified.id}", "data-ride" => "carousel" }
			%ol.carousel-indicators
				%li.active{"data-target" => "#carousel-#{classified.id}", "data-slide-to" => "0"}
				/ %li{"data-target" => "#carousel-#{classified.id}", "data-slide-to" => "1"}
				/ %li{"data-target" => "#carousel-#{classified.id}", "data-slide-to" => "2"}
			.carousel-inner
				.item.active
					= image_tag classified.pic.url, style: "margin: auto; height: 150px;"
				/ .item
				/ 	%img{:src => "http://lorempixel.com/150/150?rand=2", :alt => "Image"}/
				/ .item
				/ 	%img{:src => "http://lorempixel.com/150/150?rand=3", :alt => "Image"}/
		.slide-content
			%h4= classified.title
			%p= classified.description
		.slide-footer
			%span.pull-right.buttons
				= link_to classified_path(classified), class: "btn btn-sm btn-default" do
					%i.fa.fa-fw.fa-eye
					Show
				%button.btn.btn-sm.btn-primary
					%i.fa.fa-fw.fa-shopping-cart
					Buy #{number_to_currency(classified.price, unit: "£")}




