= simple_form_for(@classified) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    / = f.input :type, as: :hidden, input_html: { value: params[:type]}
    = f.input :description
    = f.input :price
    = f.collection_radio_buttons :cat, [["book", "Book"], ["accommodation", "Accommodation"]], :first, :last, required: true
    = f.input :availability, as: :boolean, label: "Save as Draft"
    = f.label :pic, "Add Image"
    = f.file_field :pic, as: :file
  %br/
  .form-actions
    = f.button :submit