.container.better
	.row

		%h1 Editing classified

		= render 'form'

		= link_to 'Show', @classified
		\|
		= link_to 'Delete', @classified, :method => :delete, :data => { :confirm => 'Are you sure?' }
		\|
		= link_to 'Back', classifieds_path
