/ %h1 Listing classifieds

/ %table
/   %thead
/     %tr
/       %th Title
/       %th User
/       %th Description
/       %th Price
/       %th Availability
/       %th Notification status
/       %th Status
/       %th Purchased at
/       %th
/       %th
/       %th

/   %tbody
/     - @classifieds.each do |classified|
/       %tr
/         %td= classified.title
/         %td= classified.user
/         %td= classified.description
/         %td= classified.price
/         %td= classified.availability
/         %td= classified.notification_status
/         %td= classified.status
/         %td= classified.purchased_at
/         %td= link_to 'Show', classified
/         %td= link_to 'Edit', edit_classified_path(classified)
/         %td= link_to 'Destroy', classified, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br
.container.better.m-y-md   
	.row
		.col-md-10
			%h2= link_to "Store", classifieds_path

		.col-md-2.text-center	  
			= link_to 'Add New  +', new_classified_path, class: "btn btn-primary"
		.clearfix
		%hr/
		.col-md-3
			.list-group
				= link_to classifieds_path(type: "boo"), class: "list-group-item" do
					%i.fa.fa-book
					Books
				= link_to classifieds_path(type: "acco"), class: "list-group-item" do
					%i.fa.fa-home
					Accommodations
		.col-md-9
			= render @classifieds 
			
		/ .col-md-3
		/ 	.thumbnail
		/ 		= link_to new_classified_path do
		/ 			= image_tag "add_ad.jpg", class: "img-responsive"
		/ 		.caption
		/ 			%p.text-center
		/ 				%strong= link_to 'New Classified', new_classified_path

