.container.better
	.row
	/ %p#notice= notice
	
	.col-md-6
		- if @classified.pic.url != nil
			= image_tag @classified.pic.url, class: "img-responsive"
	.col-md-6
		%h3= @classified.title
		%p
			= @classified.description

		%p
			%b Advertiser:
			= link_to @classified.user.full_name, user_path(@classified.user.username)
			%h4.text-center
				= number_to_currency(@classified.price, unit: "£")
		%br/
		%p.text-center
			-if @classified.availability = true
				Not Available  

			- if @classified.user == current_user
				- if @classified.sale != nil
					/ Maybe put this in a accordeon
					%p.text-center
						%strong Payment status:
						= @classified.status
					%p.text-center
						%strong Payment date:
						= @classified.purchased_at
					%p.text-center
						%strong Paypal Transaction Idetifier:
						= @classified.transaction_id
					/ /accordeon
				- else
					The classified has been created. However, to be public, we charge a fee of £1.49 to publish it.
					Click on the button below to proceed with the payment.
					
					= form_tag classified_transactions_path(@classified.slug) do
						= render :partial => 'transactions/purchase', locals: {sellable: @classified}

				= link_to 'Edit', edit_classified_path(@classified)
				\|
				= link_to 'Delete', @classified, :method => :delete, :data => { :confirm => 'Are you sure?' }
				\|
			= link_to 'Back', classifieds_path