.nested-fields.education
	= f.input :guid, :as => :hidden, :input_html => { value: SecureRandom.uuid }
	/ = f.label :media, "Upload an image/photo:"
	/ = f.file_field :media

	/ File Uploading
	.fileinput.fileinput-new{ "data-provides" => "fileinput" }
		.fileinput-new.thumbnail{style: "width: 100px; height: 75px;"}
			/ %img{"data-src" => "holder.js/100%x100%", :src => "#{f.education.media}", :alt => ""}/
			/ %img{"data-src" => "holder.js/100%x100%", :src => "...", :alt => ""}/
		.fileinput-preview.file-input-exists.thumbnail{style: "max-width: 100px; max-height: 75px;"}
		%div
			%span.btn.btn-default.btn-file
				%span.fileinput-new Upload an image/photo
				%span.fileinput-exists Change
				= f.file_field :media
			%a.btn.btn-default.fileinput-exists{:href => "#", "data-dismiss" => "fileinput"} Remove

	= f.input :school_institution, label: "School / Institution"
	= f.input :date_start, as: :date, label: "Start Date", html5: true
	= f.input :date_finish, as: :date, label: "Finish Date", html5: true
	= f.input :city
	= f.input :country
	/ = f.input :degree
	= f.input :degree, label: "Degree Type", html_input: { class: "form-control"}, :collection => [["High School", 'High School'], ["Associate's Degree", "Associate's Degree"], ["Bachelor's Degree", "Bachelor's Degree"], ["Master's Degree", "Master's Degree"], ["Master of Business Administration (MBA)", "Master of Business Administration (MBA)"], ["Juris Doctor (JD)", "Juris Doctor (JD)"], ["Doctor of Medicine (MD)", "Doctor of Medicine (MD)"], ["Doctor of Philosophy (PhD)", "Doctor of Philosophy (PhD)"], ["Engineer's Degree", "Engineer's Degree"], ["Other", "Other"]], :label_method => :last, :value_method => :first, :as => :select
	= f.input :field_study, label: "Field of Study"
	= f.input :grade
	= f.input :activities_societies, label: "Activities and Societies"
	= f.input :description
	= f.input :done, as: :hidden, input_html: { value: true}
	= link_to_remove_association "Remove Education", f
%br/