.nested-fields.exec_summary
	/ = f.input :guid, :as => :hidden, :input_html => { value: SecureRandom.uuid }
	/ = f.label :media_attachment, "Upload a file"
	

	/ For the Upload Thing
	.fileinput.fileinput-new{"data-provides" => "fileinput"}
		%span.btn.btn-default.btn-file
			%span.fileinput-new
				Add Summary Video
			%span.fileinput-exists
				Change Summary Video
			= f.file_field :media_attachment		
		%span.fileinput-filename
		%a.close.fileinput-exists{:href => "#", "data-dismiss" => "fileinput", style: "float: none;"}
			&times;

	
	

	/ = f.input :description
	= f.input :done, as: :hidden, input_html: { value: true} 
	/ = link_to_remove_association "Remove Experience", f
%br/