= simple_form_for(@vitum, html: { multipart: true }) do |f|
	= f.error_notification

	.form-inputs
		/ = f.association :user
		= f.input :title, as: :hidden, input_html: { value: current_user.full_name}
		/ = f.input :guid
		%br/
		#exec_summary.panel.panel-success
			.panel-heading
				%h4 Executive Summary
			.panel-body
				= f.simple_fields_for :exec_summary do |exec_summary|
					= render 'exec_summary_fields', f: exec_summary
			/ .links
			/ 	= link_to_add_association 'Add More', f, :exec_summary, force_non_association_create: true
		%br/
		#educations.panel.panel-warning
			.panel-heading{style: "background-color: #d9c918; color: #FFF;"}
				%h4 Education
			.panel-body
				= f.simple_fields_for :educations do |education|
					= render 'education_fields', f: education
				.links
					= link_to_add_association 'Add More', f, :educations
		%br/
		#job_experiences.panel.panel-danger
			.panel-heading{style: "background-color: #bd502b; color: #FFF;"}
				%h4 Experience
			.panel-body
				= f.simple_fields_for :job_experiences do |job_experience|
					= render 'job_experience_fields', f: job_experience
				.links
					= link_to_add_association 'Add More', f, :job_experiences
		%br/
		#skills.panel.panel-primary
			.panel-heading
				%h4 Skills
			.panel-body
				= f.simple_fields_for :skills do |skill|
					= render 'skill_fields', f: skill
				.links
					= link_to_add_association 'Add More', f, :skills
		%br/
		#interest_activities.panel.panel-default
			.panel-heading{style: "background-color: #000; color: white;"}
				%h4 Activities or Interests
			.panel-body
				= f.simple_fields_for :interest_activities do |interest_activity|
					= render 'interest_activity_fields', f: interest_activity
				.links
					= link_to_add_association 'Add More', f, :interest_activities

	.form-actions
		= f.button :submit
