%h4.text-center{style: "background-color: #3c9bcf; color: #FFF; padding: 10px; margin-bottom: 2px;"} My Vita
.profile-header.text-center{:style => "background-color: #333; height: 330px;"}
  .container-fluid
    .container-inner
      .profile-header-container
        .profile-header-img
          = image_tag @vitum.user.avatar.url(:medium), class: "img-circle media-object", style: "border-color: #3c9bcf; background-color: #fff;"

        - if @vitum.user.student?
          .rank-label-container
            %span.label.label-default.rank-label{style: "background-color: #3c9bcf;"}= 'BM: '+@vitum.user.benchmark.to_s

      %h3.profile-header-user{ style: "color: #3c9bcf;" }
        - if @vitum.user.full_name != nil
          = @vitum.user.full_name
        - else
          = @vitum.user.username
        - if @vitum.user == current_user
          = link_to edit_vitum_path(@vitum.guid) do
            %small
              %i.fa.fa-pencil
      %p.profile-header-bio{ style: "color: #fff;" }
        = @vitum.user.roles.first.name.camelize
      %b.profile-header-bio
        - if @vitum.user.city != nil && @vitum.user.country != nil && @vitum.user.city != "" && @vitum.user.country != ""
          %span{ style: "color: #3c9bcf;" }
            = @vitum.user.city
            ,
            = @vitum.user.country
      %p.profile-header-bio
        - if @vitum.user.contact_email != nil && @vitum.user.contact_email != ""
          %a{:href => "mailto:#{@vitum.user.contact_email}"}= @user.contact_email
        - if @vitum.user.phone_number != nil && @vitum.user.phone_number != ""
          = @vitum.user.phone_number
