.nested-fields.job_experience
	= f.input :guid, :as => :hidden, :input_html => { value: SecureRandom.uuid }
	/ = f.label :media, "Upload a file"
	/ = f.file_field :media
	/ File Uploading
	.fileinput.fileinput-new{ "data-provides" => "fileinput" }
		.fileinput-new.thumbnail{style: "width: 100px; height: 75px;"}
			/ %img{"data-src" => "holder.js/100%x100%", :src => "#{job_experience.media_attachment}", :alt => ""}/
			/ %img{"data-src" => "holder.js/100%x100%", :src => "...", :alt => ""}/
		.fileinput-preview.file-input-exists.thumbnail{style: "max-width: 100px; max-height: 75px;"}
		%div
			%span.btn.btn-default.btn-file
				%span.fileinput-new Upload an image/photo
				%span.fileinput-exists Change
				= f.file_field :media
			%a.btn.btn-default.fileinput-exists{:href => "#", "data-dismiss" => "fileinput"} Remove
	= f.input :title
	= f.input :company_name, label: "Company Name"
	= f.input :city
	= f.input :country
	= f.input :date_start, as: :date, label: "Start Date", html5: true
	= f.input :date_finish, as: :date, label: "Finish Date", html5: true
	= f.input :current_working, as: :boolean, label: "Currently Working?"
	= f.input :description
	= f.input :done, as: :hidden, input_html: { value: true} 
	= link_to_remove_association "Remove Experience", f
%br/