.nested-fields.skill
	= f.input :name, label: false, placeholder: "Name"
	= f.input :done, as: :hidden, input_html: { value: true }
	/ = f.label :skill_format, "Upload a file"
	/ = f.file_field :skill_format
	
	/ For the Upload Thing
	.fileinput.fileinput-new{"data-provides" => "fileinput"}
		%span.btn.btn-default.btn-file
			%span.fileinput-new
				Add video or image
			%span.fileinput-exists
				Change
			= f.file_field :skill_format		
		%span.fileinput-filename
		%a.close.fileinput-exists{:href => "#", "data-dismiss" => "fileinput", style: "float: none;"}
			&times;

	= link_to_remove_association "Remove Skill", f
%br/