.container.better
  .row
    %br/
    .col-md-6
      %h1 Listing Vitas
    .col-md-6
      - if current_user.student?
        = link_to 'New Vitum', new_vitum_path, class: "pull-right btn btn-lg btn-info"
    .clearfix
    %br/
    .list-group
    - @vita.each do |vitum|
      .panel{ style: "padding: 5px;"}
        .media.col-md-3
          - if vitum.exec_summary
            - if vitum.exec_summary.media_attachment_file_name != nil
              - if vitum.exec_summary.media_attachment_content_type =~ %r(image)
                = image_tag vitum.exec_summary.media_attachment.url, class: "img-responsive"
              - if vitum.exec_summary.media_attachment_content_type =~ %r(video)
                / = video_tag vitum.exec_summary.media_attachment.url, width: 280 
                = videojs_rails sources: { mp4: vitum.exec_summary.media_attachment.url}, setup: "{}", controls: true, width:"280"
        = link_to vitum_path(vitum.guid) do
          .col-md-7
            %h4.list-group-item-heading= vitum.title
            - if vitum.exec_summary
              %p.list-group-item-text= vitum.exec_summary.description
        .col-md-2
          - if vitum.user == current_user
            = link_to 'Edit', edit_vitum_path(vitum.guid), class: "btn btn-lg btn-warning"
            = link_to 'Remove', vitum_path(vitum.guid), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-lg btn-danger"
          %br/
          %p.pull-right
            %small Created #{time_ago_in_words(vitum.created_at)} ago
        .clearfix


