.better
	= render 'header'

/ Executive Summary
- if @vitum.exec_summary != nil && @vitum.exec_summary != []
	%section#summary
		.container
			.row.text-center
				.panel.panel-success
					.panel-heading{style: "background-color: #50b36e; color: #FFF;"}
						%h3.panel-title Summary
					.panel-body{ style: "background-color: #333;"}
						= link_to "#", "data-toggle" => "modal", "data-target" => ".mod_exec_summary", style: "color: #50b36e;" do
							/ = content_tag :a, href: "#exec_summary", class: 'btn', data: {toggle: 'modal'} do
							%h4= @vitum.title
							- if @vitum.exec_summary.media_attachment_file_name != nil
								- if @vitum.exec_summary.media_attachment_content_type =~ %r(image)
									= image_tag @vitum.exec_summary.media_attachment.url, class: "img-responsive"
								- elsif @vitum.exec_summary.media_attachment_content_type =~ %r(video)
									/ = videojs_rails sources: { mp4: @vitum.exec_summary.media_attachment.url}, setup: "{}", controls: true, width:"400"
									= video_tag @vitum.exec_summary.media_attachment.url, width: 300 
							- else
								%p.list-group-item-text= @vitum.exec_summary.description
						
						.modal.fade.mod_exec_summary{ "tabindex" => -1, :role => "dialog", "aria-labelledby" => "ExecSummary"}
							.modal-dialog.modal-lg
								.modal-content
									= videojs_rails sources: { mp4: @vitum.exec_summary.media_attachment.url}, setup: "{}", controls: true, width:"900", height: "600"
									/ = video_tag @vitum.exec_summary.media_attachment.url, width: 1000

						/ = modal_dialog id: "exec_summary", header: { show_close: true, dismiss: 'modal', title: 'Modal header' },body: { content: content_tag(:video_tag, @vitum.exec_summary.media_attachment.url) }
						

- if @vitum.educations.any?
	%section#education
		.container
			.row
				.panel.panel-warning
					.panel-heading.text-center{style: "background-color: #d9c918; color: #FFF;"}
						%h3.panel-title Education
					
					.panel-body{ style: "background-color: #333;"}
						- @vitum.educations.each do |education|
							= link_to "#", "data-toggle" => "modal", "data-target" => ".mod_education_#{education.id}", class: "text-center", style: "color: #d9c918;" do
								.col-md-3
									%b= education.school_institution
									- if education.media_file_name != nil
										= image_tag education.media.url, width: 200
									%p
										#{ education.grade } (#{education.date_start.year} - #{education.date_finish.year})
							.modal.fade{ class: "mod_education_#{education.id}", "tabindex" => -1, :role => "dialog", "aria-labelledby" => "Education" }
								.modal-dialog.modal-lg
									.modal-content{style: "padding: 10px 0;"}
										%h2.text-center
											#{education.school_institution} (#{education.date_start.year} - #{education.date_finish.year})
										
										%hr/
										- if education.media_file_name != nil
											.col-md-3
												= image_tag education.media.url, width: 300, class: "img-responsive"
										.col-md-7
											%p
												%strong School/Institution:
												= education.school_institution
											%p
												%strong City:
												= education.city
											%p
												%strong Country:
												= education.country
											%p
												%strong More Info:
												= education.description
										.col-md-2
											%h3= education.grade
											%p
												%strong= education.field_study
										.clearfix	


- if @vitum.job_experiences.any?
	%section#experience
		.container
			.row
				.panel.panel-danger
					.panel-heading.text-center{style: "background-color: #bd502b; color: #FFF;"}
						%h3.panel-title Employment
					.panel-body{ style: "background-color: #333;"}
						- @vitum.job_experiences.each do |experience|
							= link_to "#", "data-toggle" => "modal", "data-target" => ".mod_experience_#{experience.id}", class: "text-center", style: "color: #bd502b;" do
								.col-md-3
									%b= experience.title
									- if experience.media_file_name != nil
										= image_tag experience.media.url, width: 200
									%p
										%b
											#{experience.date_start.year} - 
											- if experience.current_working
												Current
											- else
												#{experience.date_finish.year}

							.modal.fade{ class: "mod_experience_#{experience.id}", "tabindex" => -1, :role => "dialog", "aria-labelledby" => "experience" }
								.modal-dialog.modal-lg
									.modal-content{style: "padding: 10px 0;"}
										%h2.text-center
											#{experience.title} (#{experience.date_start} /  
											- if experience.current_working
												Current
											- else
												#{experience.date_finish}
											)
										
										%hr/
										- if experience.media_file_name != nil
											.col-md-3
												= image_tag experience.media.url, width: 300, class: "img-responsive"
										.col-md-9
											%p
												%strong Company:
												= experience.company_name
											%p
												%strong City:
												= experience.city
											%p
												%strong Country:
												= experience.country
											%p
												%strong More Info:
												= experience.description
										.clearfix	

- if @vitum.skills.any?
	%section#skills
		.container
			.row
				.panel.panel-primary
					.panel-heading.text-center
						%h3.panel-title Skills
					.panel-body{ style: "background-color: #333;"}
						- @vitum.skills.each do |skill|
							= link_to "#", "data-toggle" => "modal", "data-target" => ".mod_skill_#{skill.id}", class: "text-center" do
								.col-md-3
									%b= skill.name
									- if skill.skill_format_file_name != nil
										- if skill.skill_format_content_type =~ %r(image)
											= image_tag skill.skill_format.url, width: 200, class: "img-responsive"
										- elsif skill.skill_format_content_type =~ %r(video)
											/ = videojs_rails sources: { mp4: skill.skill_format.url}, setup: "{}", controls: true, width:"300"	
											= video_tag skill.skill_format.url, width: 300
									/ %p= skill.description
							.modal.fade{ class: "mod_skill_#{skill.id}", "tabindex" => -1, :role => "dialog", "aria-labelledby" => "Skill" }
								.modal-dialog.modal-lg
									.modal-content{style: "padding: 10px 0;"}
										%h2.text-center
											#{skill.name}
										%hr/
										- if skill.skill_format_file_name != nil
											- if skill.skill_format_content_type =~ %r(image)
												= image_tag skill.skill_format.url, width: 200, class: "img-responsive"
											- elsif skill.skill_format_content_type =~ %r(video)
												/ = video_tag skill.skill_format.url, width: 1200
												= videojs_rails sources: { mp4: skill.skill_format.url}, setup: "{}", controls: true, width:"900", height: "600"

- if @vitum.interest_activities.any?
	%section#activities
		.container
			.row
				.panel.panel-default
					.panel-heading.text-center{style: "background-color: #000; color: white;"}
						%h3.panel-title Activities and Interests
					.panel-body{ style: "background-color: #333;"}
						- @vitum.interest_activities.each do |interest|
							= link_to "#", "data-toggle" => "modal", "data-target" => ".mod_interest_#{interest.id}", class: "text-center", style: "color: #000;" do
								.col-md-3
									%b= interest.name
									- if interest.media_file_name != nil
										- if interest.media_content_type =~ %r(image)
											= image_tag interest.media.url, width: 200, class: "img-responsive"
										- elsif interest.media_content_type =~ %r(video)
											= video_tag interest.media.url, width: 300
									%p= interest.description
							
							.modal.fade{ class: "mod_interest_#{interest.id}", "tabindex" => -1, :role => "dialog", "aria-labelledby" => "Interest" }
								.modal-dialog.modal-lg
									.modal-content{style: "padding: 10px 0;"}
										%h2.text-center
											#{interest.name}
										%hr/
										- if interest.media_file_name != nil
											- if interest.media_content_type =~ %r(image)
												= image_tag interest.media.url, width: 200, class: "img-responsive"
											- elsif interest.media_content_type =~ %r(video)
												/ = video_tag interest.media.url, width: 1200
												= videojs_rails sources: { mp4: interest.media.url}, setup: "{}", controls: true, width:"900", height: "600"
- if @vitum.user.benchmark_reports.any? && @benchmark_reports.any?
	%section#benckmark
		.container
			.row.text-center
				.panel.panel-default
					.panel-heading
						%h3.panel-title Benchmark
					.panel-body
						- if @benchmark_reports != nil && @benchmark_reports != []
							= line_chart @data, @options 

						- else
							There is no benchmark reports available. Wait until the end of the month, to showcase your first benchmark report.


			/ %p#notice= notice

			/ %p
			/ 	%b User:
			/ 	= @vitum.user
			/ %p
			/ 	%b Title:
			/ 	= @vitum.title
			/ %p
			/ 	%b Guid:
			/ 	= @vitum.guid

			/ = link_to 'Edit', edit_vitum_path(@vitum.guid)
			/ \|
			/ = link_to 'Back', vita_path
