#fullscreen_bg.fullscreen_bg{ style: "background-image: url('#{ image_path 'landing/detailbook-earth.jpg'}');"}

.container
	- flash.each do |type, message|	
		.growl.growl-static{ style: "margin: 0 auto;" }
			.alert.alert-dark.alert-dismissable{:role => "alert"}
				%button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
					%span{"aria-hidden" => "true"} ×
				= message
	%h1.form-signin-heading.text-muted{ style: "padding-top: 100px; color: #44A762;"} Log In
	= simple_form_for(resource, as: resource_name, html: {class: "form-signin"} , url: session_path(resource_name)) do |f|
		= f.input :login, required: false, autofocus: true, label: false, placeholder: "Username or Email Address"
		= f.input :password, required: false, label: false, placeholder: "Password"
		= f.input :remember_me, as: :boolean if devise_mapping.rememberable?
		= f.button :submit, "Log in", class: "btn btn-success btn-block"
		= link_to new_user_password_path, class: "btn btn-danger btn-block" do
			%i.fa.fa-lock
			Forgot your password?
		= link_to root_path, class: "btn btn-primary btn-block" do
			%i.fa.fa-home
			Back to Home
		/ = render "devise/shared/links"
