.nested-fields
	= f.input :guid, :as => :hidden, :input_html => { value: SecureRandom.uuid }
	= f.input :school_institution, label: "School / Institution"
	= f.input :date_start, as: :date_picker, label: "Start Date"
	= f.input :date_finish, as: :date_picker, label: "Finish Date"
	= f.input :city
	= f.input :country
	/ = f.input :degree
	= f.input :degree, label: "Degree Type", html_input: { class: "form-control"}, :collection => [["High School", 'High School'], ["Associate's Degree", "Associate's Degree"], ["Bachelor's Degree", "Bachelor's Degree"], ["Master's Degree", "Master's Degree"], ["Master of Business Administration (MBA)", "Master of Business Administration (MBA)"], ["Juris Doctor (JD)", "Juris Doctor (JD)"], ["Doctor of Medicine (MD)", "Doctor of Medicine (MD)"], ["Doctor of Philosophy (PhD)", "Doctor of Philosophy (PhD)"], ["Engineer's Degree", "Engineer's Degree"], ["Other", "Other"]], :label_method => :last, :value_method => :first, :as => :select
	= f.input :field_study, label: "Field of Study"
	= f.input :grade
	= f.input :activities_societies, label: "Activities And Societies"
	= f.input :description
	= f.input :done, as: :hidden, input_html: { value: true}
	= link_to_remove_association "Remove Education", f