= simple_form_for(@detailbook) do |f|
	= f.error_notification

	.form-inputs
		= f.input :name, as: :hidden, :input_html => { value: current_user.first_name }
		= f.input :last_name, as: :hidden, :input_html => { value: current_user.last_name }
		= f.input :username, as: :hidden, :input_html => { value: current_user.username }
		= f.input :dob, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 12, discard_day: true, order: [:month, :year], as: :hidden, :input_html => { value: current_user.dob }
		= f.input :city, as: :hidden, :input_html => { value: current_user.city}
		= f.input :country, as: :hidden, :input_html => { value: current_user.country }
		= f.input :gender, as: :hidden, :input_html => { value: current_user.gender }
		= f.association :user, as: :hidden, :input_html => { value: current_user.id }
		= f.input :benchmark, :as => :hidden, :input_html => { value: 40 }
		= f.label :avatar
		= f.file_field :avatar, as: :file
		%br/
		= f.label :background
		= f.file_field :background, as: :file

		#education
			%h3 Education
			= f.simple_fields_for :educations do |education|
				= render 'education_fields', f: education
			.links
				= link_to_add_association 'Add Education', f, :educations
		#job_experience
			%h3 Experience
			= f.simple_fields_for :job_experiences do |job_experience|
				= render 'job_experience_fields', f: job_experience
			.links
				= link_to_add_association 'Add Experience', f, :job_experiences
		#skill
			%h3 Skills
			= f.simple_fields_for :skills do |skill|
				= render 'skill_fields', f: skill
			.links
				= link_to_add_association 'Add Skill', f, :skills
	%br/
	.form-actions
		= f.button :submit
