- if @detailbook.background.url != nil
  .profile-header.text-center{:style => "background-image: url(#{ image_path @detailbook.background.url }); "}
    .container-fluid
      .container-inner
        .profile-header-container
          .profile-header-img
            - if @detailbook.avatar.url != nil
              = image_tag @detailbook.avatar.url(:thumb), class: "img-circle media-object"
            - elsif @detailbook.user.avatar != nil
              = image_tag @detailbook.user.avatar.url(:thumb), class: "img-circle media-object"
            - else
              = image_tag "sys/unknown_profile.png", class: "img-circle media-object"  
            .rank-label-container
              %span.label.label-default.rank-label= 'BM: '+@detailbook.benchmark.to_s
        %h3.profile-header-user= @detailbook.name+' '+@detailbook.last_name
        /%p.profile-header-bio= @user.profile.bio
    %nav.profile-header-nav
      %ul.nav.nav-tabs
        %li
          = link_to user_path(@detailbook.user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
            %i.fa.fa-comments-o{ style: "color: #3097d1; font-weight: bold;"}
            Interaction
        %li
          = link_to medium_path(@detailbook.user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
            %i.fa.fa-camera-retro{ style: "font-weight: bold; color: #3097d1;" }
            Gallery
        %li
          = link_to user_user_ex_files_path(@user.username)(@detailbook.user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
            %i.fa.fa-files-o{ style: "font-weight: bold; color: #3097d1;" }
            Exchange Notes      
        %li.active
          = link_to detailbooks_path, style: "font-size: 19px; font-weight: bold; color: #fff;" do
            %i.fa.fa-globe{ style: "font-weight: bold; color: #3097d1;"}
            My Detailbook
- elsif @detailbook.user.background.url != nil
  .profile-header.text-center{:style => "background-image: url(#{ image_path @detailbook.user.background.url }); "}
    .container-fluid
      .container-inner
        .profile-header-container
          .profile-header-img{ style: "background-color: #fff;" }
            - if @detailbook.avatar.url != nil
              = image_tag @detailbook.avatar.url(:thumb), class: "img-circle media-object"
            - elsif @detailbook.user.avatar != nil
              = image_tag @detailbook.user.avatar.url(:thumb), class: "img-circle media-object"
            - else
              = image_tag "sys/unknown_profile.png", class: "img-circle media-object"  
            .rank-label-container
              %span.label.label-default.rank-label= 'BM: '+@detailbook.benchmark.to_s
        %h3.profile-header-user= @detailbook.name+' '+@detailbook.last_name
        /%p.profile-header-bio= @user.profile.bio
    %nav.profile-header-nav
      %ul.nav.nav-tabs
        %li
          = link_to user_path(@detailbook.user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
            %i.fa.fa-comments-o{ style: "color: #3097d1; font-weight: bold;"}
            Interaction
        %li
          = link_to medium_path(@detailbook.user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
            %i.fa.fa-camera-retro{ style: "font-weight: bold; color: #3097d1;" }
            Gallery
        %li
          = link_to user_user_ex_files_path(@user.username)(@detailbook.user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
            %i.fa.fa-files-o{ style: "font-weight: bold; color: #3097d1;" }
            Exchange Notes      
        %li.active
          = link_to detailbooks_path, style: "font-size: 19px; font-weight: bold; color: #fff;" do
            %i.fa.fa-globe{ style: "font-weight: bold; color: #3097d1;"}
            My Detailbook
      / %ul.nav.nav-tabs
      /   %li= link_to "Interaction", user_path(@detailbook.user.username), class: "fa fa-comments-o"
      /   %li= link_to " Gallery", medium_path(@detailbook.user.username), class: "fa fa-camera-retro" 
      /   %li= link_to " Exchange Notes", folders_path(@detailbook.user.username), class: "fa fa-files-o"
      /   %li.active= link_to "My Detailbook", detailbook_path(@detailbook), class: "fa fa-globe"
- else
  .profile-header.text-center{:style => "background-image: url(#{ image_path 'sys/unknown_background.jpg' }); "}
    .container-fluid
      .container-inner
        .profile-header-container
          .profile-header-img
            - if @detailbook.avatar.url != nil
              = image_tag @detailbook.avatar.url(:thumb), class: "img-circle media-object"
            - elsif @detailbook.user.avatar != nil
              = image_tag @detailbook.user.avatar.url(:thumb), class: "img-circle media-object"
            - else
              = image_tag "sys/unknown_profile.png", class: "img-circle media-object"  
            .rank-label-container
              %span.label.label-default.rank-label= 'BM: '+@detailbook.benchmark.to_s
        %h3.profile-header-user= @detailbook.name+' '+@detailbook.last_name
        /%p.profile-header-bio= @user.profile.bio
    %nav.profile-header-nav
      %ul.nav.nav-tabs
        %li
          = link_to user_path(@detailbook.user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
            %i.fa.fa-comments-o{ style: "color: #3097d1; font-weight: bold;"}
            Interaction
        %li
          = link_to medium_path(@detailbook.user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
            %i.fa.fa-camera-retro{ style: "font-weight: bold; color: #3097d1;" }
            Gallery
        %li
          = link_to user_user_ex_files_path(@user.username)(@detailbook.user.username), style: "font-size: 19px; font-weight: bold; color: #fff;" do
            %i.fa.fa-files-o{ style: "font-weight: bold; color: #3097d1;" }
            Exchange Notes      
        %li.active
          = link_to detailbooks_path, style: "font-size: 19px; font-weight: bold; color: #fff;" do
            %i.fa.fa-globe{ style: "font-weight: bold; color: #3097d1;"}
            My Detailbook