.nested-fields
	= f.input :guid, :as => :hidden, :input_html => { value: SecureRandom.uuid }
	= f.input :title
	= f.input :company_name, label: "Company Name"
	= f.input :city
	= f.input :country
	= f.input :date_start, as: :date_picker, label: "Start Date"
	= f.input :date_finish, as: :date_picker, label: "Finish Date"
	= f.input :current_working, as: :boolean, label: "Currently Working?"
	= f.input :description
	= f.input :done, as: :hidden, input_html: { value: true} 
	= link_to_remove_association "Remove Experience", f