.container.better
	.row
		%h1 Editing detailbook

		= render 'form'

		= link_to 'Show', detailbook_path(@detailbook.username)
		\|
		= link_to 'Destroy', detailbook_path(@detailbook.username), :method => :delete, :data => { :confirm => 'Are you sure?' }
		\| 
		= link_to 'Back', detailbooks_path
