.container.better
	.row
		%h1 Welcome to Detailbook profile
		%p This is where you put your stuff here.

		/ %table
		/ 	%thead
		/ 		%tr
		/ 			%th User
		/ 			%th Name
		/ 			%th Last name
		/ 			%th Dob
		/ 			%th Gender
		/ 			%th City
		/ 			%th Country
		/ 			%th Benchmark
		/ 			%th
		/ 			%th
		/ 			%th

		/ 	%tbody
		/ 		- @detailbooks.each do |detailbook|
		/ 			%tr
		/ 				%td= detailbook.user
		/ 				%td= detailbook.name
		/ 				%td= detailbook.last_name
		/ 				%td= detailbook.dob
		/ 				%td= detailbook.gender
		/ 				%td= detailbook.city
		/ 				%td= detailbook.country
		/ 				%td= detailbook.benchmark
		/ 				%td= link_to 'Show', detailbook
		/ 				%td= link_to 'Edit', edit_detailbook_path(detailbook)

		%br

		= link_to 'Create a New Detailbook', new_detailbook_path, class: "btn btn-primary"
