/ %p#notice= notice

/ %p
/   %b User:
/   = @detailbook.user
/ %p
/   %b Name:
/   = @detailbook.name
/ %p
/   %b Last name:
/   = @detailbook.last_name
/ %p
/   %b Dob:
/   = @detailbook.dob
/ %p
/   %b Gender:
/   = @detailbook.gender
/ %p
/   %b City:
/   = @detailbook.city
/ %p
/   %b Country:
/   = @detailbook.country
/ %p
/   %b Benchmark:
/   = @detailbook.benchmark

/ = link_to 'Edit', edit_detailbook_path(@detailbook)
/ \|
/ = link_to 'Back', detailbooks_path


.better
  =render "header"
.container{:style => "padding-top: 25px;"}
  .row
    .col-md-3
      .panel.panel-default.visible-md-block.visible-lg-block
        .panel-body
          %h5.m-t-0
            About
            %small
              ·
              \#{link_to "Edit", edit_detailbook_path(@detailbook.username)}
          %ul.list-unstyled.list-spaced
            %li
              %span.text-muted.fa.fa-birthday-cake.m-r
              = @detailbook.dob.to_s(:long)
            %li
              %span.text-muted.fa.fa-user.m-r
              = @detailbook.gender
            %li
              %span.text-muted.fa.fa-location-arrow.m-r
              = @detailbook.city
            %li
              %span.text-muted.fa.fa-map-marker.m-r
              = @detailbook.country

      - if @detailbook.skills
        .panel.panel-default.visible-md-block.visible-lg-block
          .panel-body
            %h5.m-t-0
              Skills
              %small
                ·
                \#{link_to "Edit", edit_detailbook_path(@detailbook.username)}
            - for i in 0..@detailbook.skills.count-1
              - if i == @detailbook.skills.count-1
                = link_to @detailbook.skills[i].name, "#"
              - else
                = link_to @detailbook.skills[i].name, "#"
                ,

      - if @detailbook.educations
        .panel.panel-default.visible-md-block.visible-lg-block
          .panel-body
            %h5.m-t-0
              Education
              %small
                /·
                /\#{link_to "Edit", edit_detailbook_path(@detailbook.id)}
            / #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
            - for i in 0..@detailbook.educations.count-1
              / .panel.panel-default
              /   #headingOne.panel-heading{:role => "tab"}
              /     %h4.panel-title
              /       %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{i}", :role => "button"}
              /         = @detailbook.educations[i].school_institution
              /   #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
              /     .panel-body
              /       Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.


              - if i == @detailbook.educations.count-1
                = link_to @detailbook.educations[i].school_institution, detailbook_education_path(@detailbook.username, @detailbook.educations[i].id)
              - else
                = link_to @detailbook.educations[i].school_institution, detailbook_education_path(@detailbook.username, @detailbook.educations[i].id)
                ,

      - if @detailbook.job_experiences != nil and @detailbook.job_experiences != [] 
        .panel.panel-default.visible-md-block.visible-lg-block
          .panel-body
            %h5.m-t-0
              Experience
              / %small
              / ·
              / \#{link_to "Edit", edit_detailbook_path(@detailbook.id)}
            - for i in 0..@detailbook.job_experiences.count-1
              - if i == @detailbook.job_experiences.count-1
                = link_to @detailbook.job_experiences[i], detailbook_job_experience_path(@detailbook.username, @detailbook.job_experiences[i])
              - else
                = link_to @detailbook.job_experiences[i], detailbook_job_experience_path(@detailbook.username, @detailbook.job_experiences[i])
                ,

    .col-md-6
      .stream_container
        / -if user_signed_in? && current_page?(detailbook_path(current_user.detailbook.id))
        /   = render 'publisher/publisher', publisher_aspects_for(nil)

        #main_stream.stream
          = render "activities/timeline"

        #paginate
          %span.loader.hidden

    .col-md-3
      = render "activities/quote"
      = render "activities/whatsnew"

