= simple_form_for(@medium) do |f|
	= f.error_notification

	.form-inputs
		/ = f.association :user
		= f.input :description
		/ = f.input :guid
		/ = f.association :post
		= f.label :media_attachment, "Upload a file"
		= f.file_field :media_attachment

	.form-actions
		= f.button :submit
