- if @pics != [] && @pics != nil
	%div{ "data-grid" => "images"}
		- @pics.each do |pic|
			= image_tag pic.media_attachment.url, "data-width" => "300", "data-height" => "300", "data-action" => "zoom"
- else
	.jumbotron
		%h3 
			No Images.
			= link_to "Add New Image", new_medium_path