- if @vids != [] && @vids != nil
	%div{ "data-grid" => "images"}
		- @vids.each do |vid|
			= video_tag vid.media_attachment.url(:original), width: 500, controls: true, "data-width" => "300", "data-height" => "300", "data-action" => "zoom"
- else
	.jumbotron
		%h3 
			No Videos.
			= link_to "Add New Video", new_medium_path