.container.better
  .row

    %h1 Listing media

    %table
      %thead
        %tr
          %th User
          %th Description
          %th Guid
          %th Post
          %th
          %th
          %th

      %tbody
        - @media.each do |medium|
          %tr
            %td= medium.user
            %td= medium.description
            %td= medium.guid
            %td= medium.post
            %td= link_to 'Show', medium
            %td= link_to 'Edit', edit_medium_path(medium)
            %td= link_to 'Destroy', medium, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Medium', new_medium_path


/ .better
/   = render 'header'
/ .container.better
/   .row
/     %h3 Pictures
/     = render @pics

/     %hr/

/     %h3 Videos
/     = render @vids
    
/     %hr/