/ %p#notice= notice

/ %p
/   %b User:
/   = @medium.user
/ %p
/   %b Description:
/   = @medium.description
/ %p
/   %b Guid:
/   = @medium.guid
/ %p
/   %b Post:
/   = @medium.post

/ = link_to 'Edit', edit_medium_path(@medium)
/ \|
/ = link_to 'Back', media_path


/ .better{ style: "background-color: #30526E;" }
%div{style: "padding-top: 35px;"}
= render 'header'
.container
  .row
    %h3 Pictures
    = render 'pics'

    .clearfix

    %hr/

    %h3 Videos
    = render 'vids'

    %hr/
