= simple_form_for(@course) do |f|
	= f.error_notification

	.form-inputs
		= f.input :title
		= f.input :description
		%h3 Modules
		#tasks
			= f.simple_fields_for :syllabuses do |syllabus|
				= render 'syllabus_fields', f: syllabus
			.links
				= link_to_add_association 'Add Module', f, :syllabuses

	.form-actions
		= f.button :submit


