/ = simple_form_for [@postable, @post], :url => activity_create_path, :method => :post do |f|
/ = simple_form_for @post, :url => activity_create_path, :method => :post do |f|
= simple_form_for @post, :url => activity_create_path, :method => :post do |f|
	%li.media.list-group-item.p-a{style: "background-color: #FFF !important; border-color: #FFF !important;"}
		%div
			.body
				-# = f.error_notification

				-# .btn-group.btn-group-justified{ role: "tablist", "aria-label" => "topbarPost"}
				-# 	.btn-group{ role: "presentation"}
				-# 		%a.btn.btn-default{ type: "button", :href => "#post", "aria-controls" => "post", :role => "tab", "data-toggle" => "tab"}
				-# 			%i.fa.fa-bullhorn
				-# 			Make a post
				-# 	.btn-group{ role: "presentation"}
				-# 		%a.btn.btn-default{ type: "button", :href => "#media", "aria-controls" => "media", :role => "tab", "data-toggle" => "tab"}
				-# 			%i.fa.fa-upload
				-# 			Upload a video/photo
				-# 	.btn-group{ role: "presentation"}
				-# 		%a.btn.btn-default{ type: "button", :href => "#file", "aria-controls" => "file", :role => "tab", "data-toggle" => "tab"}
				-# 			%i.fa.fa-file-o
				-# 			Publish a file
				= f.input :content, required: true, label: false, placeholder: "What is going on?", class: "form-control"
				-# = f.association :post_type, label: false, include_blank: false, input_html: {style: "font-size: large;"}
					-# #media.tab-pane{role: "tabpanel"}
					-# 	%br
					-# 	= f.simple_fields_for :media do |medium|
					-# 		= render 'medium_fields', f: medium
					-# 	.links
					-# 		= link_to_add_association 'Add More', f, :media
					-# #file.tab-pane{role: "tabpanel"}
					-# 	%span Coming Soon.
				/ = f.input :post_type_is, label: false do
				/ 	= f.select :post_type_id, PostType.all.map { |r| [r.name, r.id] }, include_blank: false

				.clearfix
			.panel-footer
				.col-md-2.pull-right{style: "padding: 0;"}
					= f.button :submit, "Post", class: "btn btn-primary pull-right"
				.col-md-4{style: "padding: 0;"}
					.btn-group.btn-group-justified{ role: "tablist", "aria-label" => "topbarPost"}
						.btn-group{ role: "presentation"}
							%a.btn.btn-default{ type: "button", :href => "#post_camera", "aria-controls" => "post_camera", :role => "tab", "data-toggle" => "tab"}
								%i.fa.fa-camera
						.btn-group{ role: "presentation"}
							%a.btn.btn-default{ type: "button", :href => "#post_benchmark", "aria-controls" => "post_benchmark", :role => "tab", "data-toggle" => "tab"}
								%i.fa.fa-area-chart
						.btn-group{ role: "presentation"}
							%a.btn.btn-default{ type: "button", :href => "#post_video", "aria-controls" => "post_video", :role => "tab", "data-toggle" => "tab"}
								%i.fa.fa-video-camera
						.btn-group{ role: "presentation"}
							%a.btn.btn-default{ type: "button", :href => "#post_file", "aria-controls" => "post_file", :role => "tab", "data-toggle" => "tab"}
								%i.fa.fa-file-o
				.col-md-6{style: "padding: 0;"}
					#post_camera.hidden.tab-pane{role: "tabpanel"}
						= f.simple_fields_for :media do |medium|
							= render 'medium_fields', f: medium
						.links
							= link_to_add_association 'Add More', f, :media
					#post_benchmark.hidden.tab-pane{role: "tabpanel"}
						= f.association :post_type, label: false, include_blank: false, input_html: {style: "font-size: large;"}
					#post_video.hidden.tab-pane{role: "tabpanel"}
						= f.simple_fields_for :media do |medium|
							= render 'medium_fields', f: medium
						.links
							= link_to_add_association 'Add More', f, :media
					#post_file.hidden.tab-pane{role: "tabpanel"}
						%span Coming Soon.

				-# = f.simple_fields_for :media do |medium|
				-# 	= render 'medium_fields', f: medium
				-# 	.links
				-# 		= link_to_add_association 'Add More', f, :media

				.clearfix
