/ = simple_form_for[@postable, @post] do |f|
= simple_form_for(@post) do |f|
	-# .panel.panel-info
	-# 	.panel-body
	-# 		= f.error_notification
	-# 		.btn-group.btn-group-justified{ role: "tablist", "aria-label" => "topbarPost"}
	-# 			.btn-group{ role: "presentation"}
	-# 				%a.btn.btn-default{ type: "button", :href => "#post", "aria-controls" => "post", :role => "tab", "data-toggle" => "tab"}
	-# 					%i.fa.fa-bullhorn
	-# 					Make a post
	-# 			.btn-group{ role: "presentation"}
	-# 				%a.btn.btn-default{ type: "button", :href => "#media", "aria-controls" => "media", :role => "tab", "data-toggle" => "tab"}
	-# 					%i.fa.fa-upload
	-# 					Upload a video/photo
	-# 			.btn-group{ role: "presentation"}
	-# 				%a.btn.btn-default{ type: "button", :href => "#file", "aria-controls" => "file", :role => "tab", "data-toggle" => "tab"}
	-# 					%i.fa.fa-file-o
	-# 					Publish a file
	-# 		.tab-content
	-# 			#post.tab-pane.active{role: "tabpanel"}
	-# 				= f.input :content, required: true, label: false, placeholder: "What is going on?", input_html: {class: "form-control"}
	-# 				= f.association :post_type, label: false, include_blank: false, input_html: {style: "font-size: large;"}
	-# 			#media.tab-pane{role: "tabpanel"}
	-# 				%br
	-# 				= f.simple_fields_for :media do |medium|
	-# 					= render 'medium_fields', f: medium
	-# 				.links
	-# 					= link_to_add_association 'Add More', f, :media
	-# 			#file.tab-pane{role: "tabpanel"}
	-# 				%span Coming Soon.
	-# 		/ = f.input :post_type_is, label: false do
	-# 		/ 	= f.select :post_type_id, PostType.all.map { |r| [r.name, r.id] }, include_blank: false
	-#
	-# 		.clearfix
	-#
	-# 	.panel-footer
	-# 		= f.button :submit, "Post", class: "btn btn-primary"

	%li.media.list-group-item.p-a
		%div
			.body
				= f.input :content, required: true, label: false, placeholder: "What is going on?", class: "form-control"
				-# = f.association :post_type, label: false, include_blank: false, input_html: {style: "font-size: large;"}
					-# #media.tab-pane{role: "tabpanel"}
					-# 	%br
					-# 	= f.simple_fields_for :media do |medium|
					-# 		= render 'medium_fields', f: medium
					-# 	.links
					-# 		= link_to_add_association 'Add More', f, :media
					-# #file.tab-pane{role: "tabpanel"}
					-# 	%span Coming Soon.
				/ = f.input :post_type_is, label: false do
				/ 	= f.select :post_type_id, PostType.all.map { |r| [r.name, r.id] }, include_blank: false

				.clearfix
			.panel-footer
				= f.button :submit, "Post", class: "btn btn-primary pull-right"
				.input-group-btn
					%button.btn.btn-default{ type: "button" }
						%span.fa.fa-camera
					%button.btn.btn-default{ type: "button" }
						%span.fa.fa-area-chart
					%button.btn.btn-default{ type: "button" }
						%span.fa.fa-video-camera
					%button.btn.btn-default{ type: "button" }
						%span.fa.fa-file-o

				-# = f.simple_fields_for :media do |medium|
				-# 	= render 'medium_fields', f: medium
				-# 	.links
				-# 		= link_to_add_association 'Add More', f, :media

				.clearfix
