/ .panel.panel-default
/ 	.panel-heading
/ 		- if post.user.avatar_file_name != nil
/ 			= image_tag post.user.avatar.url(:thumb)
/ 		= post.user.username
/ 		posted this about #{time_ago_in_words(post.created_at)} ago
/ 		- if current_user && current_user == post.user
/ 			= link_to "edit", edit_post_path(post)
/ 			| #{link_to "x", post_path(post), method: :delete}
/ 	.panel-body
/ 		/ = video_tag post.attachment.url, :size => "320x240", :controls => true
/ 		= raw(post.content_html)
/ 		- if post.media != []
/ 			- if post.media.media_attachment_content_type =~ %r(video)
/ 				/ %video{:width => "320", :height => "240"}
/ 				/ 	%source{:src => post.attachment.url, :type => "video/mp4"}
/ 				= video_tag post.media.media_attachment.url(:original), controls: true, type: "video/mp4"
/ 			- if post.media.media_attachment_content_type =~ %r(image)
/ 				= image_tag post.media.media_attachment.url
/ 	.panel-footer
/ 		/ - simple_form_for @comment do |f|
/ 		/ 	= f.input :content
/ 		/ 	= f.submit, "Comment"
/ 		= render 'comments/form'
/ 		= render 'comments/comments'


.col-xs-12.col-sm-5
  .panel.panel-default.panel-google-plus
    .dropdown
        %span.dropdown-toggle{"type" => "button", "data-toggle" => "dropdown"}
            %span.glyphicon.glyphicon-chevron-down

        %ul.dropdown-menu{ :role => "menu" }
            %li{ :role => "presentation" }
            	%a{:href => "#", :role => "menuitem", "tabindex" => -1 } Edit
            %li{ :role => "presentation" }
            	%a{:href => "#", :role => "menuitem", "tabindex" => -1 } Share
            %li.divider{ :role => "presentation" }
		%li{ :role => "presentation" }
			%a{:href => "#", :role => "menuitem", "tabindex" => -1 } Delete
    .panel-google-plus-tags
        %ul
            %li #Snippet

    .panel-heading
    	= image_tag post.user.avatar.url(:thumb), class: "pull-left", style: "margin-bottom: 10px;"
    	%h3= post.user.full_name
    	%h5
    		%span #{time_ago_in_words(post.created_at)} ago
    	.clearfix
    .panel-body
		= raw(post.content_html)
		- if post.media != []
			- if post.media.media_attachment_content_type =~ %r(video)
				/ %video{:width => "320", :height => "240"}
				/ 	%source{:src => post.attachment.url, :type => "video/mp4"}
				= video_tag post.media.media_attachment.url(:original), controls: true, type: "video/mp4"
			- if post.media.media_attachment_content_type =~ %r(image)
				= image_tag post.media.media_attachment.url

	.panel-footer
		- if current_user.likes?(post)
			/ - if current_user.voted_as_when_voted_for post
			= link_to dislike_post_path(post), method: :put, style: "text-decoration: none;", class: "btn btn-danger" do
				%i.fa.fa-heart{style: "color: red;"}

				/ = image_tag 'sys/clap-icon.png', width: 25

				/ - if activity.trackable.get_upvotes.size == 0
				- if post.likees_count == 0
					%span{ style: "color: red;"}= post.likees_count
				- else
					= post.likees_count
		- else
			= link_to like_post_path(post), method: :put, style: "text-decoration: none;", class: "btn btn-default" do
				%i.fa.fa-heart-o{style: "color: red;"}
				/ = activity.trackable.get_upvotes.size

		= link_to "#", class: "btn btn-default" do
			%span.fa.fa-share

		.input-placeholder Add a comment...

	.panel-google-plus-comment
		= image_tag current_user.avatar.url(:thumb), class: "img-circle"
		.panel-google-plus-textarea
			= render 'comments/form', locals: {commentable: post}
