%p#notice= notice

%p
  %b User:
  = @post.user_id
%p
  %b Content:
  = @post.content
%p
  %b Content html:
  = @post.content_html


%hr/
= render 'comments/form'
= render 'comments/comments'

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', :back
