// Place all the styles related to the BenchmarkReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.line-legend{
	margin-top: 10px;
	text-align: left;
	list-style-type: none;
}