/**
 * GMAIL Like chat css
 * CREDITS: http://css-tricks.com/replicating-google-hangouts-chat/
 *
 */

.chatbox {
  position: fixed;
  position: expression("absolute");
  width: 280px;
  display: none;
}

.chatboxhead {
  background: #666;
  color: white;
  padding: 0.5rem;
  overflow: hidden;
  border-right: 1px solid rgba(85, 85, 85, 0.87);
  border-left: 1px solid rgba(85, 85, 85, 0.87);
  h1 {
    display: inline;
    font-size: 17px;
    font-weight: 700;
  }
}

.chatboxblink {
  background-color: #176689;
  border-right: 1px solid #176689;
  border-left: 1px solid #176689;
}

.chatboxcontent {
  font-family: arial, sans-serif;
  height: 280px;
  width: 280px;
  overflow-y: auto;
  padding: 7px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #eeeeee;
  background: #e5e5e5;
  line-height: 1.3em;
  list-style: none;
  li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  .avatar {
    width: 40px;
    position: relative;
    img {
      display: block;
      width: 100%;
    }
  }
}

.other .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
  .chatboxmessagecontent {
    order: 1;
    border-bottom-right-radius: 0;
  }
  .avatar {
    order: 2;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }
  }
}

.chatboxmessagecontent {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  p {
    font-size: 12px;
    margin: 0 0 0.2rem 0;
    -ms-word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  time {
    font-size: 9px;
    color: #ccc;
  }
}

.chatboxinput {
  padding: 5px;
  background-color: #ffffff;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.chatboxtextarea {
  width: 262px;
  height: 44px;
  padding: 3px 0pt 3px 3px;
  border: 1px solid #eeeeee;
  margin: 1px;
  overflow: hidden;
  resize: none !important;
}

.chatboxtextareaselected {
  border: 2px solid #878787;
  margin: 0;
}

.chatboxmessage {
  margin-left: 1em;
}

.chatboxinfo {
  margin-left: -1em;
  color: #666666;
}

.chatboxoptions {
  float: right;
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}

.chatboxtitle {
  float: left;
}