= simple_form_for(@category) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :guid, as: :hidden, input_html: { value: SecureRandom.uuid }

  .form-actions
    = f.button :submit
