.container.better
	.row
		%h2
			= @category.title
			Videos

		/ = debug @videos
			
		- if @videos != nil && @videos != []
			= render @videos
		- else
			%p 
				There are no videos available in this category. 
				= link_to 'Upload a video here.', new_video_path

		- if !current_user.student?
			= link_to 'Edit', edit_category_path(@category)
			\|
			= link_to 'Back', categories_path
