%h5 Welcome to SEED!
- if @user.role != "b"
	%p You can confirm your account email through the link below:
	%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
- else
	%p Your account will be approved within 48 hours.
	%p 
		This is your request code: #{ @token }