.container.better
	.row
		- if current_user
			
			= form_tag buy_path(slug: @sellable.slug) do
				%script.stripe-button{"data-amount" => 149, "data-description" => @sellable.title, "data-email" => current_user.email, "data-key" => Rails.configuration.stripe[:publishable_key], "data-name" => "SEED.ac", :src => "https://checkout.stripe.com/checkout.js"}

		- else
			%p Please Login First to Activate #{@sellable.model_name}