- if current_user
	.panel.panel-default.visible-md-block.visible-lg-block
		.panel-body
			.col-md-12
				%h5.m-t-0.text-center
					Attention!!
			.clearfix
			%p.text-center 
				This is a BETA service, your 
				%a{:href => "mailto:admin@seed.ac"} feedback 
				will help us to improve it. You can feedback 
				%a{:href => "mailto:admin@seed.ac"} here