// .panel.panel-default.visible-md-block.visible-lg-block
// 	.panel-body
// 		%h5.m-t-0.text-center
// 			Quote of the Day
// 		%p
// 			= raw(@quote)

.alert.alert-warning.alert-dismissible.hidden-xs{ role: "alert" }
	%button.close{ type: "button", "data-dismiss" => "alert", "aria-label" => "Close" }
		%span{"aria-hidden" => true}
			&times;
	- if current_user.sign_in_count == 1
		%b Welcome to SEED, #{ current_user.first_name }!
	- else
		%b Welcome back, #{ current_user.first_name }!
	%br
	Your quote of the day:
	%br
	= raw(@quote)
