// #seed-sidebar.sidebar-nav
.panel.panel-default.visible-md-block.visible-lg-block{ style: "margin-top: 0px;"}
    .panel-body
        // .text-center{ style: "width: 100px; margin-bottom: 10px;" }
        //     = link_to user_path(current_user.username) do
        //         = image_tag current_user.avatar.url, width: 70, height: 70, class: "img-circle", style: "border-radius: 50%;"
        //         /, style: "border-radius: 100%;"
        / Sidebar Header
        %ul.nav.nav-pills.nav-stacked
            -# %li
            -#     = link_to user_path(current_user.username) do
            -#         %span{ style: "color: #3c9bcf;" }= current_user.full_name
            %li
                = link_to edit_user_registration_path do
                    %i.fa.fa-pencil-square{ style: "color: #50b36e;" }
                    %span Edit Profile
            %li
                = link_to user_vita_path(current_user.username) do
                    %i.fa.fa-video-camera{ style: "color: #d9c918;" }
                    %span Vita
            %li
                = link_to user_benchmark_reports_path(current_user.username), "data-no-turbolink" => true do
                    %i.fa.fa-area-chart{ style: "color: #bd502b;" }
                    Benchmark
            %li
                = link_to users_path do
                    %i.fa.fa-users{ style: "color: #3C9BCF;" }
                    %span Contacts
            / %li
            /     = link_to "#" do
            /         %i.fa.fa-hand-o-up{ style: "color: #3C9BCF;" }
            /         %span Trends

        %hr

        / Sidebar Groups
        - if current_user.has_groups?
            / %h5
            /     %small
            /         %b GROUPS
            / %ul.nav.nav-pills.nav-stacked
            /     / - current_user.groups.each do |group|
            /     / %li
            /     / = link_to group_path(group) do
            /     / %i.fa.fa-comments
            /     / %span= group.name
            = render 'groups/list'

        / Sidebar Events
        - if current_user.has_events?
            /     %h5
            /         %small
            /             %b EVENTS
            /     %ul.nav.nav-pills.nav-stacked
            / - current_user.events.each do |event|
            / %li
            / = link_to event_path(event) do
            / %i.fa.fa-calendar-check-o
            / %span= event.name
            = render 'events/list'

        %hr

        - if current_user.has_exchanged_files?
            = render 'ex_files/list'

        / Sidebar Other Apps
        %h5
            %small
                %b Applications
        %ul.nav.nav-pills.nav-stacked
            %li
                = link_to polls_path do
                    %i.fa.fa-check-square
                    Polls
            %li
                / = link_to user_todo_tasks_path(current_user.username) do
                = link_to todo_tasks_path do
                    %i.fa.fa-list
                    %span To-do List
