#myCarousel.carousel.slide.m-b-md
	%ul.carousel-indicators
		%li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
		%li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
		%li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
		%li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
		/ %li{"data-slide-to" => "4", "data-target" => "#myCarousel"}
		/ %li{"data-slide-to" => "5", "data-target" => "#myCarousel"}
		/ %li{"data-slide-to" => "6", "data-target" => "#myCarousel"}
	/ Carousel items
	.carousel-inner{ style: "min-height: 155px;"}
		.active.item
			= image_tag "sys/screen_ad.jpg", height: 155, width: 570
			/ .carousel-caption
			/ 	%h4 Where East meets West, to bringing students opportunities.
		.item
			= image_tag "landing/detailbook-liverpool-street-2.jpg", height: 155
			/ .carousel-caption
			/ 	%h4 Enhance your skills by exchanging notes.
		.item
			= image_tag "landing/detailbook-students-2.jpg", height: 155
			/ .carousel-caption
			/ 	%h4 Refashioned learning platform, where tutors can reach out to students in the easiest way.
		.item
			= image_tag "landing/detailbook-tutors-2.jpg", height: 155
			/ s/ 	%h4 Create, publish and attend both social and profissional events.
		/ .item
		/   = image_tag "landing/detailbook-Dubai.jpg"
		/ .item
		/   = image_tag "landing/detailbook-world1.jpg"
	/ Carousel nav
	%a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
	%a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
