/ Timeline
/ Line component
/ Separator
-# .separator.text-muted.text-center{ style: "margin-left: 0px; width: 570px; margin-bottom: 10px;"}
-# 	%time
-# 		= Time.now.to_s(:long)
/ /Separator
- @activities.each_with_index do |activity|
	- unless activity.trackable_type == "Friendship" && activity.owner == current_user
		- if activity.trackable
			-# - if activity.trackable_type == ""
			%li.media.list-group-item.p-a
				= link_to user_path(activity.owner.username), class: "media-left" do
					= image_tag activity.trackable.user.avatar.url(:thumb), class: "media-object", style: "border-radius: 5px;"
				.media-body
					.media-body-text
						.media-heading
							%small.pull-right.text-muted #{time_ago_in_words(activity.trackable.created_at)} ago
							%h5= activity.trackable.user.full_name
						- case activity.trackable_type when "Post"
							%p
								= raw(activity.trackable.content_html)
							.clearfix
							- if activity.trackable.media != []
								#media{ style: "margin: 10px 0"}
								- if activity.trackable.media.first.media_attachment_content_type =~ %r(video)
									= videojs_rails sources: { mp4: activity.trackable.media.first.media_attachment.url}, setup: "{}", controls: true, width:"450", height: "250"
									/ = video_tag activity.trackable.media.first.media_attachment.url, controls: true, type: "video/mp4", width: "100%"
									/ %video{:src => "#{activity.trackable.attachment.url}"}
								- if activity.trackable.media.first.media_attachment_content_type =~ %r(image)
									= image_tag activity.trackable.media.first.media_attachment.url(:original), width: "100%"
						- when "Friendship"
							= link_to activity.owner.first_name, user_path(activity.owner.username)
							is now friends with #{link_to activity.recipient.first_name, user_path(activity.recipient.username)}
						.media-footer{style: "margin-top: 5px;"}
							- if current_user.likes?(activity.trackable)
								/ - if current_user.voted_as_when_voted_for activity.trackable
								= link_to dislike_post_path(activity.trackable), method: :put, style: "text-decoration: none;padding-bottom: 5px;padding-top: 5px;margin-top: 1px;", class: "btn btn-primary" do
									%i.fa.fa-heart{style: "color: #FF5757;"}
									- if activity.trackable.likees_count == 0
										%span{ style: "color: #FF5757;"}= activity.trackable.likees_count
									- else
										%span{ style: "font-size: 11px;"}= activity.trackable.likees_count
							- else
								= link_to like_post_path(activity.trackable), method: :put, style: "text-decoration: none;", class: "btn btn-default" do
									%i.fa.fa-heart-o{style: "color: #FF5757;"}
									/ = activity.trackable.get_upvotes.size


					-# %p= raw(activity.trackable.content_html)

			-# .panel.panel-default.panel-google-plus
				.dropdown
					%span.dropdown-toggle{"type" => "button", "data-toggle" => "dropdown"}
						%span.glyphicon.glyphicon-chevron-down

					%ul.dropdown-menu{ :role => "menu" }
						%li{ :role => "presentation" }
							%a{:href => "#", :role => "menuitem", "tabindex" => -1 } Share
						- if current_user && current_user == activity.owner
							%li{ :role => "presentation" }
								= link_to "Edit", edit_post_path(activity.trackable), role: "menuitem", "tabindex" => -1
							%li.divider{ :role => "presentation" }
							%li{ :role => "presentation" }
								/ %a{:href => "#", :role => "menuitem", "tabindex" => -1 } Delete
								= link_to "Delete", post_path(activity.trackable), method: :delete, role: "menuitem", "tabindex" => -1
				/ .panel-google-plus-tags
				/     %ul
				/         %li #Snippet

				.panel-heading
					= image_tag activity.trackable.user.avatar.url(:thumb), class: "pull-left", height: "60", width: "60", style: "border-radius: 10%;"
					%h3= activity.trackable.user.full_name
					%h5
						%span #{time_ago_in_words(activity.trackable.created_at)} ago
				.panel-body
					- case activity.trackable_type when "Post"
						%p
							= raw(activity.trackable.content_html)
						.clearfix
						- if activity.trackable.media != []
							#media{ style: "margin: 10px 0"}
							- if activity.trackable.media.first.media_attachment_content_type =~ %r(video)
								= videojs_rails sources: { mp4: activity.trackable.media.first.media_attachment.url}, setup: "{}", controls: true, width:"505", height: "250"
								/ = video_tag activity.trackable.media.first.media_attachment.url, controls: true, type: "video/mp4", width: "100%"
								/ %video{:src => "#{activity.trackable.attachment.url}"}
							- if activity.trackable.media.first.media_attachment_content_type =~ %r(image)
								= image_tag activity.trackable.media.first.media_attachment.url(:original), width: "100%"
					- when "Friendship"
						= link_to activity.owner.first_name, user_path(activity.owner.username)
						is now friends with #{link_to activity.recipient.first_name, user_path(activity.recipient.username)}

				.panel-footer
					- if current_user.likes?(activity.trackable)
						/ - if current_user.voted_as_when_voted_for activity.trackable
						= link_to dislike_post_path(activity.trackable), method: :put, style: "text-decoration: none;padding-bottom: 5px;padding-top: 5px;margin-top: 1px;", class: "btn btn-primary" do
							%i.fa.fa-heart{style: "color: #FF5757;"}

							/ = image_tag 'sys/clap-icon.png', width: 25

							/ - if activity.trackable.get_upvotes.size == 0
							- if activity.trackable.likees_count == 0
								%span{ style: "color: #FF5757;"}= activity.trackable.likees_count
							- else
								%span{ style: "font-size: 11px;"}= activity.trackable.likees_count
					- else
						= link_to like_post_path(activity.trackable), method: :put, style: "text-decoration: none;", class: "btn btn-default" do
							%i.fa.fa-heart-o{style: "color: #FF5757;"}
							/ = activity.trackable.get_upvotes.size

					= link_to "#", class: "btn btn-default" do
						%span.fa.fa-share

					.input-placeholder Add a comment...

				.panel-google-plus-comment
					= image_tag current_user.avatar.url(:thumb), class: "img-circle", width: 45, height: 45
					.panel-google-plus-textarea
						= render 'comments/form', locals: {commentable: activity.trackable}
						%button.btn.btn-default{ type: "reset", style: "margin-top: 1px;"} Cancel
					.clearfix









			/ %article.panel.panel-default{ style: "margin-left: 0px; width: 570px;"}
			/ 	/ Icon
			/ 	.panel-heading.icon
			/ 		- if activity.owner.avatar_file_name != nil
			/ 			= image_tag activity.owner.avatar.url, width: "100%", height: "100%"
			/ 		- else
			/ 			%i.glyphicon.glyphicon-plus
			/ 	/ /Icon
			/ 	/ Heading
			/ 	.panel-heading
			/ 		%h2.panel-title= link_to activity.owner.full_name, user_path(activity.owner.username), style: "color: #3c9bcf;"
			/ 		%small
			/ 			= time_ago_in_words(activity.created_at)
			/ 			ago
			/ 		- if current_user && current_user == activity.owner
			/ 			= link_to "edit", edit_post_path(activity.trackable), style: "color: #50b36e;"
			/ 			| #{link_to "x", post_path(activity.trackable), method: :delete, style: "color: #bd502b;"}
			/ 	/ /Heading
			/ 	/ Body
			/ 	.panel-body
			/ 		- case activity.trackable_type when "Post"
			/ 			%p
			/ 				= raw(activity.trackable.content_html)
			/ 				- if activity.trackable.media != []
			/ 					- if activity.trackable.media.first.media_attachment_content_type =~ %r(video)
			/ 						= videojs_rails sources: { mp4: activity.trackable.media.first.media_attachment.url}, setup: "{}", controls: true, width:"540", height: "310"
			/ 						/ = video_tag activity.trackable.media.first.media_attachment.url, controls: true, type: "video/mp4", width: "100%"
			/ 						/ %video{:src => "#{activity.trackable.attachment.url}"}
			/ 					- if activity.trackable.media.first.media_attachment_content_type =~ %r(image)
			/ 						= image_tag activity.trackable.media.first.media_attachment.url(:original), width: "100%"
			/ 		- when "Friendship"
			/ 			= link_to activity.owner.first_name, user_path(activity.owner.username)
			/ 			is now friends with #{link_to activity.recipient.first_name, user_path(activity.recipient.username)}
			/ 		%p.pull-right
			/ 			/ - if activity.trackable.liked_by current_user
			/ 			/ - if current_user.voted_for? activity.trackable
			/ 			/ 	/ - if current_user.voted_as_when_voted_for activity.trackable
			/ 			/ 	= link_to dislike_post_path(activity.trackable), method: :put, style: "text-decoration: none;" do
			/ 			/ 		%i.fa.fa-heart{style: "color: red;"}

			/ 			/ 		/ = image_tag 'sys/clap-icon.png', width: 25

			/ 			/ 		- if activity.trackable.get_upvotes.size == 0
			/ 			/ 			%span{ style: "color: red;"}= activity.trackable.get_upvotes.size
			/ 			/ 		- else
			/ 			/ 			= activity.trackable.get_upvotes.size
			/ 			/ - elsif activity.trackable.unliked_by current_user || activity.trackable.votes_for.up.by_type(User).voters.includes?(current_user)
			/ 			/ 	= link_to like_post_path(activity.trackable), method: :put, style: "text-decoration: none;" do
			/ 			/ 		%i.fa.fa-heart-o{style: "color: red;"}
			/ 			/ 		/ = activity.trackable.get_upvotes.size

			/ 			- if current_user.likes?(activity.trackable)
			/ 				/ - if current_user.voted_as_when_voted_for activity.trackable
			/ 				= link_to dislike_post_path(activity.trackable), method: :put, style: "text-decoration: none;" do
			/ 					%i.fa.fa-heart{style: "color: red;"}

			/ 					/ = image_tag 'sys/clap-icon.png', width: 25

			/ 					/ - if activity.trackable.get_upvotes.size == 0
			/ 					- if activity.trackable.likees_count == 0
			/ 						%span{ style: "color: red;"}= activity.trackable.likees_count
			/ 					- else
			/ 						= activity.trackable.likees_count
			/ 			- else
			/ 				= link_to like_post_path(activity.trackable), method: :put, style: "text-decoration: none;" do
			/ 					%i.fa.fa-heart-o{style: "color: red;"}
			/ 					/ = activity.trackable.get_upvotes.size



			/ 			/ / - if current_user.likes?(activity.trackable)
			/ 			/ / = link_to current_user.toggle_like!(activity.trackable) do
			/ 			/ %i.fa.fa-heart
			/ 			/ / - else
			/ 			/ / = link_to current_user.toggle_like!(activity.trackable) do
			/ 			/ %i.fa.fa-heart-o
			/ 	.panel-footer
			/ 		/ = simple_form_for(@comment) do |f|
			/ 		/ 	= f.input :content, label: false, placeholder: "Write a comment...", input_html: { class: "form-inline" }
			/ 		/ 	= f.button :submit, "Comment", class: "pull-right"
			/ 		= render 'comments/form', :locals => { :commentable => activity.trackable }
			/ 		= render :partial => 'comments/comments', :collection => activity.trackable.comments, :as => :comments
			/ 		/ = render :partial => 'comments/comments', :locals => {activity.trackable.comments} , :as => @comments
			/ 		.clearfix
			/ 	/ /Body
			/ 	/ Footer
			/ 	/ .panel-footer
			/ 	/ 	%small Footer is also supported!
			/ 	/ /Footer
			/ / /Panel

			/ ------------------------------

			/ / Panel
			/ %article.panel.panel-danger.panel-outline
			/ 	/ Icon
			/ 	.panel-heading.icon
			/ 		%i.glyphicon.glyphicon-heart
			/ 	/ /Icon
			/ 	/ Body
			/ 	.panel-body
			/ 		%strong Someone
			/ 		favourited your photo.
			/ 	/ /Body
			/ / /Panel
/ / Panel
/ %article.panel.panel-default.panel-outline
/ 	/ Icon
/ 	.panel-heading.icon
/ 		/ = gravatar_tag activity.owner.email, size: 55
/ 		/ %i.glyphicon.glyphicon-picture
/ 	/ /Icon
/ 	/ Body
/ 	.panel-body
/ 		%img.img-responsive.img-rounded{:src => "//placehold.it/350x150"}/
/ 	/ /Body
/ / /Panel
/ / Panel
/ %article.panel.panel-primary
/ 	/ Icon
/ 	.panel-heading.icon
/ 		%i.glyphicon.glyphicon-plus
/ 	/ /Icon
/ 	/ Heading
/ 	.panel-heading
/ 		%h2.panel-title New content added
/ 	/ /Heading
/ 	/ Body
/ 	.panel-body
/ 		Some new content has been added.
/ 	/ /Body
/ 	/ Footer
/ 	.panel-footer
/ 		%small Footer is also supported!
/ 	/ /Footer
/ / /Panel
/ / Separator
/ .separator.text-muted
/ 	%time 25. 3. 2015
/ / /Separator
/ / Panel
/ %article.panel.panel-success
/ 	/ Icon
/ 	.panel-heading.icon
/ 		%i.glyphicon.glyphicon-plus
/ 	/ /Icon
/ 	/ Heading
/ 	.panel-heading
/ 		%h2.panel-title New content added
/ 	/ /Heading
/ 	/ Body
/ 	.panel-body
/ 		Anything you can do with
/ 		= succeed "," do
/ 			%code .panel
/ 		can be done in timeline too!
/ 	/ /Body
/ 	/ List group
/ 	%ul.list-group
/ 		%li.list-group-item Like
/ 		%li.list-group-item list
/ 		%li.list-group-item groups
/ 		%li.list-group-item and
/ 		%li.list-group-item tables
/ / /Panel
/ / Panel
/ %article.panel.panel-info.panel-outline
/ 	/ Icon
/ 	.panel-heading.icon
/ 		%i.glyphicon.glyphicon-info-sign
/ 	/ /Icon
/ 	/ Body
/ 	.panel-body
/ 		That is all.
/ 	/ /Body
/ / /Panel
/ /Timeline
