/ .jumbotron.text-center
/ 	%h1 Timeline
/ 	.btn-group{"aria-label" => "Default", :role => "group"}
/ 		= link_to "Everything", activities_path, class: "btn btn-default #{'active' unless params[:content]}"
/ 		= link_to "Just Posts", activities_path(content: "posts"), class: "btn btn-default #{'active' if params[:content] == 'posts'}"
.container.better.m-y-md
	.row
		.col-md-3
			= render "quote"
			/ = render "users/about"
			/ = render "groups/list"
			= render "classifieds/ads"
			= render "yolos/top_yolos"
			- if @poll != nil
				= render "polls/poll_activity"
		.col-md-6
			= render "slider"
			/ = render "posts/activity_form", locals: { postable: PublicActivity::Activity}
			%ul.list-group.media-list.media-list-stream
				= render "posts/activity_form"
				= render "timeline"
		.col-md-3
			= render "users/mypanel"
			= render "sidebar"
			/ = render "beta"
			/ = render "classifieds/ads"
			/ = render "whatsnew"
			/ = render "classifieds/ads"
