= simple_form_for(@education) do |f|
  = f.error_notification

  .form-inputs
    = f.input :guid
    = f.input :school_institution
    = f.input :date_start
    = f.input :date_finish
    = f.input :city
    = f.input :country
    = f.input :degree, label: "Degree Type", html_input: { class: "form-control"}, :collection => [["High School", 'High School'], ["Associate's Degree", "Associate's Degree"], ["Bachelor's Degree", "Bachelor's Degree"], ["Master's Degree", "Master's Degree"], ["Master of Business Administration (MBA)", "Master of Business Administration (MBA)"], ["Juris Doctor (JD)", "Juris Doctor (JD)"], ["Doctor of Medicine (MD)", "Doctor of Medicine (MD)"], ["Doctor of Philosophy (PhD)", "Doctor of Philosophy (PhD)"], ["Engineer's Degree", "Engineer's Degree"], ["Other", "Other"]], :label_method => :last, :value_method => :first, :as => :select
    = f.input :field_study
    = f.input :grade
    = f.input :activities_societies
    = f.input :description
    = f.input :done
    = f.association :detailbook

  .form-actions
    = f.button :submit
