%h1 Listing educations

%table
  %thead
    %tr
      %th Guid
      %th School institution
      %th Date start
      %th Date finish
      %th City
      %th Country
      %th Degree
      %th Field study
      %th Grade
      %th Activities societies
      %th Description
      %th Done
      %th Detailbook
      %th
      %th
      %th

  %tbody
    - @educations.each do |education|
      %tr
        %td= education.guid
        %td= education.school_institution
        %td= education.date_start
        %td= education.date_finish
        %td= education.city
        %td= education.country
        %td= education.degree
        %td= education.field_study
        %td= education.grade
        %td= education.activities_societies
        %td= education.description
        %td= education.done
        %td= education.detailbook
        %td= link_to 'Show', education
        %td= link_to 'Edit', edit_education_path(education)
        %td= link_to 'Destroy', education, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Education', new_education_path
