.container.better
	.row
		%p#notice= notice

		%p
			%b School/Institution:
			= @education.school_institution
		%p
			%b Date Started:
			= @education.date_start.to_s(:long)
		%p
			%b Date Finished:
			= @education.date_finish.to_s(:long)
		%p
			%b City:
			= @education.city
		%p
			%b Country:
			= @education.country
		%p
			%b Degree:
			= @education.degree
		%p
			%b Field study:
			= @education.field_study
		%p
			%b Grade:
			= @education.grade
		%p
			%b Activities societies:
			= @education.activities_societies
		%p
			%b Description:
			= @education.description

		= link_to 'Edit', edit_detailbook_education_path(@education.detailbook, @education)
		\|
		= link_to 'Back', detailbook_path(@detailbook)
