#chat-room-wrapper.collapse
	%h4 Chat

	- @friends = chat_friends
	.panel.panel-default{ style: "overflow-y: auto; width: 200px;"}
		- if @friends != [] && @friends != nil && @friends != [nil]
			.list-group
				- @friends.each do |friend|
					= link_to "#", class: "list-group-item start-conversation", "data-sid" => current_user.id, "data-rip" => friend.id do
						= friend.full_name	
						= link_to "Chat", "#", class: "btn btn-success btn-xs"
		- else
			- if current_user.human?
				%p You have no friends
			- elsif current_user.building?
				%p You have no followers