- if current_user
	-if current_user.getting_started != true
		/ = render "layouts/sidebar"	

		/ Just Tool Buttons
		/ #footer.credit
		/ 	.tool-buttons.pull-right
		/ 		%a#menu-toggle.btn.btn-lg.toggle{:href => "#"}
		/ 			%i.fa.fa-bullhorn
		/ 		%button#menu-sidebar.btn.btn-lg
		/ 			%i.fa.fa-user


		/ .col-md-6{style: "margin-bottom: 50px;"}
		/ 	= render "tasks/todolist"
		/ .col-md-6{style: "margin-bottom: 50px;"}
		/ 	= render "layouts/chatroom"
		/ .clearfix
	= link_to "#", class: "scrollToTop" do
		%i.fa.fa-angle-up
		Back To Top