- if current_user
  -if current_user.getting_started != true
    %nav.navbar.navbar-inverse.navbar-fixed-top.app-navbar{ style: "background-color: #30526E;" }
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse-main", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_path, class: "navbar-brand", style: "width: 100px;" do
            %span.logo-brand-s
              %span{ style: "color: #50b36e; margin-right: 0px;" } S
              %span{ style: "color: #d9c918; margin: -5px;" } E
              %span{ style: "color: #bd502b; margin: -2px;" } E
              %span{ style: "color: #3c9bcf; margin: -5px;" } D
              / = image_tag 'landing/snowman.png', style: "margin-top: -5px; width: 30px;"
        #navbar-collapse-main.navbar-collapse.collapse
          %ul.nav.navbar-nav.hidden-xs
            %li
              = link_to root_path do
                %i.fa.fa-home
                Home
            %li
              = link_to job_applications_path do
                %i.fa.fa-connectdevelop
                - if current_user.business?
                  Post Jobs
                - elsif current_user.university?
                  University Offerings
                - elsif current_user.tutor?
                  Tutor Benefits
                - else
                  Opportunities
            - if !current_user.business?
              %li.show-on-hover
                / = link_to "#", class: "dropdown-toggle", "data-toggle" => "dropdown" do
                = link_to online_learnings_path do
                  - if current_user.tutor?
                    %i.fa.fa-laptop
                    Online Teaching
                  - else
                    %i.fa.fa-laptop
                    Online Learning
                    / %span.caret
                / %ul.dropdown-menu{ :role => "menu"}
                /   %li
                /     = link_to online_learnings_path do
                /       %i.fa.fa-users
                /       Study Buddy
                /   %li
                /     = link_to online_learnings_path do
                /       %i.fa.fa-link
                /       Links
                /   %li
                /     = link_to online_learnings_path do
                /       %i.fa.fa-newspaper-o
                /       Journals
              %li.show-on-hover
                = link_to "#", class: "dropdown-toggle", "data-toggle" => "dropdown" do
                  %i.fa.fa-cart-arrow-down
                  Books &amp; Accomodations
                  %span.caret
                %ul.dropdown-menu{ :role => "menu"}
                  %li
                    = link_to classifieds_path(type: "boo") do
                      %i.fa.fa-book
                      Books
                  %li
                    = link_to classifieds_path(type: "acco") do
                      %i.fa.fa-home
                      Accomodations

              / %li
              /   = link_to events_path do
              /     %i.fa.fa-calendar-o
              /     Events
              %li
                = link_to user_vita_path(current_user.username) do
                  %i.fa.fa-video-camera
                  Vita
              %li
                = link_to yolos_path do
                  %i.fa.fa-smile-o
                  YOLO
            - else
              / %li
              /   = link_to classifieds_path do
              /     %i.fa.fa-newspaper-o
              /     Classifieds
              %li
                = link_to events_path do
                  %i.fa.fa-calendar
                  Events
              %li
                = link_to "#" do
                  %i.fa.fa-newspaper-o
                  Promote
              %li
                = link_to users_path do
                  %i.fa.fa-users
                  Followers

          %ul.nav.navbar-nav.navbar-right.m-r-0.hidden-xs
            %li
              %a.app-notifications{:href => "/notifications/", style: "padding-right: 0px;"}
                / %span.icon.icon-bell
                - if notification_count != 0
                  %i.fa.fa-bell{ style: "color: #F44336;"}= notification_count
                - else
                  %i.fa.fa-bell
            %li
              / = link_to conversations_path do
              / = link_to '#' do
              = link_to mailbox_inbox_path do
                %i.fa.fa-envelope
            %li
              %button.btn.btn-default.navbar-btn.navbar-btn-avitar{"data-toggle" => "popover", style: "color: #FFF;"}
                / = gratavar_tag current_user.email, size:20
                - if current_user.avatar != nil
                  = image_tag current_user.avatar.url(:thumb), style: "border-radius: 10%;"
                / = current_user.first_name
                %span.caret
          %form.navbar-form.navbar-right.app-search{:role => "search", style: "margin-top: 10px;"}
            .form-group
              / %input.form-control{"data-action" => "grow", :placeholder => "Search", :type => "text"}
              = form_tag do
                = text_field_tag "search", nil, placeholder: "Search", autocomplete: :off, style: "width: 200px;"

              / %input.form-control{ :placeholder => "Search", :type => "text", autocomplete: :off}
          %ul.nav.navbar-nav.hidden-sm.hidden-md.hidden-lg
            / %li
            /   = link_to "Home", root_path
            %li
              = link_to job_applications_path do
                - if current_user.business?
                  Post Jobs
                - elsif current_user.university?
                  University Offerings
                - elsif current_user.tutor?
                  Tutor Benefits
                - else
                  Opportunities
            - if !current_user.business?
              %li
                = link_to "Online Learning", online_learnings_path
              %li
                = link_to "Books &amp; Accomodations", classifieds_path
              / %li
              /   = link_to "Events", events_path
              %li
                = link_to "YOLO", yolos_path
              / %li
              /   %a{"data-action" => "growl", :href => "#"} Growl
            - else
              %li
                = link_to "#" do
                  / %i.fa.fa-newspaper-o
                  Promote
              %li
                = link_to users_path do
                  / %i.fa.fa-users
                  Followers
            %li
              = link_to "My Profile", user_path(current_user.username)
            - if current_user.student?
              %li
                = link_to "My Benchmark", user_benchmark_reports_path(current_user.username), "data-no-turbolink" => true
            - if !current_user.business?
              %li
                = link_to "Contacts", users_path
            - else
              %li
                = link_to "Followers", users_path
            %li
              = link_to "Settings", edit_user_registration_path
            - if current_user.admin?
              %li
                = link_to "Admin", rails_admin_path
            / %li
            /   = link_to "Help", user_path(current_user)
            %li
              = link_to "Invite", "#"
            %li.divider{"role" => "separator"}
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete
          %ul.nav.navbar-nav.hidden
            / %li
            /   %a{"data-action" => "growl", :href => "#"} Growl
            %li
              = link_to user_path(current_user.username) do
                %i.fa.fa-street-view
                My Profile
            - if current_user.student?
              %li
                = link_to user_benchmark_reports_path(current_user.username), "data-no-turbolink" => true do
                  %i.fa.fa-area-chart
                  My Benchmark
            - if !current_user.business?
              %li
                = link_to users_path do
                  %i.fa.fa-users
                  Contacts
            %li
              = link_to edit_user_registration_path do
                %i.fa.fa-puzzle-piece
                Settings
            - if current_user.admin?
              %li
                = link_to rails_admin_path do
                  %i.fa.fa-database
                  Admin
            / %li
            /   = link_to "Help", user_path(current_user)
            %li
              = link_to "#" do
                %i.fa.fa-share-alt-square
                Invite
            %li.divider{"role" => "separator"}
            %li
              = link_to destroy_user_session_path, method: :delete do
                %i.fa.fa-sign-out
                Logout

    #app-growl.growl
      - flash.each do |type, message|
        / .alert.alert-info.fade-in
        /   %button.close{"data-dismiss" => "alert"} x
        /   = message

        .growl.growl-static
          .alert.alert-dark.alert-dismissable{:role => "#{flash_class(type)}"}
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            = message
