- if current_user
	/ #sidebar-wrapper
	/ 	%span{ :style => "font-size: 20px;"} Sidebar
	/ 	%a#menu-close.btn.btn-default.btn-lg.pull-right.toggle{:href => "#"}
	/ 		%i.fa.fa-times	

	#bottom-sidebar.ui.sidebar.bottom.horizontal.two.inverted.labeled.visible.overlay.menu
		%a.item.todo-btn{"role" => "button", "data-toggle" => "collapse", :href => "#todo-list-wrapper", "aria-expanded" => "false", "aria-controls" => "todo-list-wrapper"} 
			%h5
				%i.fa.fa-list
				To Do List
		%a.item.chat-btn{"role" => "button", "data-toggle" => "collapse", :href => "#chat-room-wrapper", "aria-expanded" => "false", "aria-controls" => "chat-room-wrapper", style: "margin-left: 1110px;"} 
			%h5
				%i.fa.fa-comments
				Chats