!!!
%html
	%head
		%title SEED - Learn By Doing
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{:content => 'IE=edge','http-equiv' => 'X-UA-Compatible' }/
		%meta{:content => "NNYsnTeHEk", :name => "baidu-site-verification"}/
		%meta{:content => "SEED.ac is a refashioned learning platforms. Where Businesses and Students interact with one another. Coming Soon...", :name => "description"}/
		%meta{:content => user_signed_in? ? current_user.id : "", :name => "user-id"}/
		%meta{:content => "width=device-width, initial-scale=0.9", :name => "viewport"}/
		%meta
		= include_gon
		= stylesheet_link_tag 'application', media: 'all'
		= stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:700,400", media: "all"
		= javascript_include_tag :modernizr
		= csrf_meta_tags
		= favicon_link_tag 'favicon.ico'

		:javascript
			// execute/clear BS loaders for docs
			if (window.BS&&window.BS.loader&&window.BS.loader.length) {
				while(BS.loader.length){(BS.loader.pop())()}
			}
		
			function killCopy(e){
				return false;
			}
			function reEnable(){
				return true;
			}
			document.onselectstart=new Function ("return false")
			if (window.sidebar){
				document.onmousedown=killCopy
				document.onclick=reEnable
			}

			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-73023069-1', 'auto');
			ga('send', 'pageview');

	%body
		/ = render 'layouts/sidebar'

		.pusher
			= render 'layouts/header'
			
			= yield

			= render 'layouts/footer'

			%audio#chatAudio
				%source{:src => "/sounds/notification.mp3", :type => "audio/mpeg"}/

		= javascript_include_tag 'application'
		= javascript_include_tag "https://npmcdn.com/masonry-layout@4.0.0/dist/masonry.pkgd.min.js"
		= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.0.0/imagesloaded.pkgd.min.js"
		= javascript_include_tag "//fast.eager.io/tqR7PvgdQH.js"
